# Fine-tuning TAPAS with SPIDER and QATCH

TAPAS is a question-answering model. To train or fine-tune TAPAS on a custom dataset, in our case SPIDER, we need:
- Tables
- Natural language questions
- Answers from the tables
- Answer coordinates in the tables

Unfortunately, we lack the latter two (answers and their coordinates) since SPIDER only provides the natural language questions and SQL queries. Therefore, we need to execute the queries, retrieve the answers, and determine their coordinates for the entire dataset. This task is challenging to complete in a single step.

After preparing and cleaning the data, we need to feed it to TAPAS and start the fine-tuning process. I have followed [the Hugging Face/Google Research tutorial](https://colab.research.google.com/github/NielsRogge/Transformers-Tutorials/blob/master/TAPAS/Fine_tuning_TapasForQuestionAnswering_on_SQA.ipynb). This Colab notebook (Hugging Face documentation for TAPAS) fine-tunes TAPAS on a very small portion of [the Microsoft Research Sequential Question Answering (SQA) Dataset](https://www.microsoft.com/en-us/research/publication/search-based-neural-structured-learning-sequential-question-answering/), which was specifically designed for TAPAS and requires no further preprocessing or cleaning.

I aimed to apply a similar approach with a single database from the SPIDER dataset, as a proof of concept to construct a data preparation pipeline that can then be applied to the entire dataset.

The goal is to observe improvements in the model's performance as we provide it with increasingly more synthetic data generated from QATCH.

SPIDER contains SQL examples that are incompatible with QATCH, as QATCH only supports projection, selection, and conditions—no joins, no aggregations. However, SPIDER includes numerous queries that use these operations, so we must remove them.

In [ ]:
!pip install --quiet datasets
!pip install --quiet frozendict
!pip install --quiet transformers
!pip install --quiet qatch

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 510.5/510.5 kB 5.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 3.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.1/194.1 kB 6.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.8/134.8 kB 5.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.9/71.9 kB 2.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 42.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.3/38.3 MB 14.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 337.4/337.4 kB 31.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 32.3 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==1.5.3, but you have pandas 2.2.1 which is incompatible.

In [ ]:
# ! pip install --quiet torch-scatter

### The Coordinates of the Answers

Getting the coordinates of the answers in the format that Tapas expects is a very difficult task, and doing it for the entire dataset is even more challenging. I found a script in a [GitHub repo](https://github.com/NielsRogge/tapas_utils?tab=readme-ov-file) which performs this task. However, we still face an issue as it struggles with duplicates in the dataset, throwing an error when it becomes ambiguous to determine the coordinates.

By coordinates, I mean that if we have a tuple (V1, V2, V3) in the answer, we need to get something like [(x1, y1), (x2, y2), (x3, y3)], where x is the index of the row and y is the index of the column. In our case, the database (SQLite3) file where the data is stored doesn't support this, so we should import the data into dataframes to establish some kind of ordering.

In [ ]:
#@title Script to get the coordinates of the answers
# coding=utf-8
# Copyright 2019 The Google AI Language Team Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# Lint as: python3
"""This module implements a simple parser that can be used for TAPAS.

Given a table, a question and one or more answer_texts, it will parse the texts
to populate other fields (e.g. answer_coordinates, float_value) that are required
by TAPAS.

Please note that exceptions in this module are concise and not parameterized,
since they are used as counter names in a BEAM pipeline.
"""

import enum
from typing import Callable, List, Text, Optional

import six
import struct
import unicodedata
import re

import frozendict
import numpy as np
import scipy.optimize


class SupervisionMode(enum.Enum):
  # Don't filter out any supervised information.
  NONE = 0
  # Remove all the supervised signals and recompute them by parsing answer
  # texts.
  REMOVE_ALL = 2
  # Same as above but discard ambiguous examples
  # (where an answer matches multiple cells).
  REMOVE_ALL_STRICT = 3


def _find_matching_coordinates(table, answer_text,
                               normalize):
  normalized_text = normalize(answer_text)
  for row_index, row in table.iterrows():
    for column_index, cell in enumerate(row):
      if normalized_text == normalize(str(cell)):
        yield (row_index, column_index)


def _compute_cost_matrix_inner(
    table,
    answer_texts,
    normalize,
    discard_ambiguous_examples,
):
  """Returns a cost matrix M where the value M[i,j] contains a matching cost from answer i to cell j.

  The matrix is a binary matrix and -1 is used to indicate a possible match from
  a given answer_texts to a specific cell table. The cost matrix can then be
  usedto compute the optimal assignments that minimizes the cost using the
  hungarian algorithm (see scipy.optimize.linear_sum_assignment).

  Args:
    table: a Pandas dataframe.
    answer_texts: a list of strings.
    normalize: a function that normalizes a string.
    discard_ambiguous_examples: If true discard if answer has multiple matches.

  Raises:
    ValueError if:
      - we cannot correctly construct the cost matrix or the text-cell
      assignment is ambiguous.
      - we cannot find a matching cell for a given answer_text.

  Returns:
    A numpy matrix with shape (num_answer_texts, num_rows * num_columns).
  """
  max_candidates = 0
  n_rows, n_columns = table.shape[0], table.shape[1]
  num_cells = n_rows * n_columns
  num_candidates = np.zeros((n_rows, n_columns))
  cost_matrix = np.zeros((len(answer_texts), num_cells))

  for index, answer_text in enumerate(answer_texts):
    found = 0
    for row, column in _find_matching_coordinates(table, answer_text,
                                                  normalize):
      found += 1
      cost_matrix[index, (row * len(table.columns)) + column] = -1
      num_candidates[row, column] += 1
      max_candidates = max(max_candidates, num_candidates[row, column])
    if found == 0:
      return None
    if discard_ambiguous_examples and found > 1:
      raise ValueError("Found multiple cells for answers")

  # TODO(piccinno): Shall we allow ambiguous assignments?
  # if max_candidates > 1:
  #   raise ValueError("Assignment is ambiguous")

  return cost_matrix


def _compute_cost_matrix(
    table,
    answer_texts,
    discard_ambiguous_examples,
):
  """Computes cost matrix."""
  for index, normalize_fn in enumerate(STRING_NORMALIZATIONS):
    try:
      result = _compute_cost_matrix_inner(
          table,
          answer_texts,
          normalize_fn,
          discard_ambiguous_examples,
      )
      if result is None:
        continue
      return result
    except ValueError:
      if index == len(STRING_NORMALIZATIONS) - 1:
        raise
  return None


def _parse_answer_coordinates(table,
                              answer_texts,
                              discard_ambiguous_examples):
  """Populates answer_coordinates using answer_texts.

  Args:
    table: a Table message, needed to compute the answer coordinates.
    answer_texts: a list of strings
    discard_ambiguous_examples: If true discard if answer has multiple matches.

  Raises:
    ValueError if the conversion fails.
  """

  cost_matrix = _compute_cost_matrix(
      table,
      answer_texts,
      discard_ambiguous_examples,
  )
  if cost_matrix is None:
    return
  row_indices, column_indices = scipy.optimize.linear_sum_assignment(
      cost_matrix)

  # create answer coordinates as list of tuples
  answer_coordinates = []
  for row_index in row_indices:
    flatten_position = column_indices[row_index]
    row_coordinate = flatten_position // len(table.columns)
    column_coordinate = flatten_position % len(table.columns)
    answer_coordinates.append((row_coordinate, column_coordinate))

  return answer_coordinates


### START OF UTILITIES FROM TEXT_UTILS.PY ###

def wtq_normalize(x):
  """Returns the normalized version of x.
  This normalization function is taken from WikiTableQuestions github, hence the
  wtq prefix. For more information, see
  https://github.com/ppasupat/WikiTableQuestions/blob/master/evaluator.py
  Args:
    x: the object (integer type or string) to normalize.
  Returns:
    A normalized string.
  """
  x = x if isinstance(x, six.text_type) else six.text_type(x)
  # Remove diacritics.
  x = "".join(
      c for c in unicodedata.normalize("NFKD", x)
      if unicodedata.category(c) != "Mn")
  # Normalize quotes and dashes.
  x = re.sub(u"[‘’´`]", "'", x)
  x = re.sub(u"[“”]", '"', x)
  x = re.sub(u"[‐‑‒–—−]", "-", x)
  x = re.sub(u"[‐]", "", x)
  while True:
    old_x = x
    # Remove citations.
    x = re.sub(u"((?<!^)\\[[^\\]]*\\]|\\[\\d+\\]|[•♦†‡*#+])*$", "",
               x.strip())
    # Remove details in parenthesis.
    x = re.sub(u"(?<!^)( \\([^)]*\\))*$", "", x.strip())
    # Remove outermost quotation mark.
    x = re.sub(u'^"([^"]*)"$', r"\1", x.strip())
    if x == old_x:
      break
  # Remove final '.'.
  if x and x[-1] == ".":
    x = x[:-1]
  # Collapse whitespaces and convert to lower case.
  x = re.sub(r"\s+", " ", x, flags=re.U).lower().strip()
  x = re.sub("<[^<]+?>", "", x)
  x = x.replace("\n", " ")
  return x


_TOKENIZER = re.compile(r"\w+|[^\w\s]+", re.UNICODE)


def tokenize_string(x):
  return list(_TOKENIZER.findall(x.lower()))


# List of string normalization functions to be applied in order. We go from
# simplest to more complex normalization procedures.
STRING_NORMALIZATIONS = (
    lambda x: x,
    lambda x: x.lower(),
    tokenize_string,
    wtq_normalize,
)


def to_float32(v):
  """If v is a float reduce precision to that of a 32 bit float."""
  if not isinstance(v, float):
    return v
  return struct.unpack("!f", struct.pack("!f", v))[0]


def convert_to_float(value):
  """Converts value to a float using a series of increasingly complex heuristics.
  Args:
    value: object that needs to be converted. Allowed types include
      float/int/strings.
  Returns:
    A float interpretation of value.
  Raises:
    ValueError if the float conversion of value fails.
  """
  if isinstance(value, float):
    return value
  if isinstance(value, int):
    return float(value)
  if not isinstance(value, six.string_types):
    raise ValueError("Argument value is not a string. Can't parse it as float")
  sanitized = value

  try:
    # Example: 1,000.7
    if "." in sanitized and "," in sanitized:
      return float(sanitized.replace(",", ""))
    # 1,000
    if "," in sanitized and _split_thousands(",", sanitized):
      return float(sanitized.replace(",", ""))
    # 5,5556
    if "," in sanitized and sanitized.count(",") == 1 and not _split_thousands(
        ",", sanitized):
      return float(sanitized.replace(",", "."))
    # 0.0.0.1
    if sanitized.count(".") > 1:
      return float(sanitized.replace(".", ""))
    # 0,0,0,1
    if sanitized.count(",") > 1:
      return float(sanitized.replace(",", ""))
    return float(sanitized)
  except ValueError:
    # Avoid adding the sanitized value in the error message.
    raise ValueError("Unable to convert value to float")

### END OF UTILITIES FROM TEXT_UTILS.PY ###

def _parse_answer_float(answer_texts, float_value):
  if len(answer_texts) > 1:
    raise ValueError("Cannot convert to multiple answers to single float")
  float_value = convert_to_float(answer_texts[0])
  float_value = float_value

  return answer_texts, float_value


def _has_single_float_answer_equal_to(question, answer_texts, target):
  """Returns true if the question has a single answer whose value equals to target."""
  if len(answer_texts) != 1:
    return False
  try:
    float_value = convert_to_float(answer_texts[0])
    # In general answer_float is derived by applying the same conver_to_float
    # function at interaction creation time, hence here we use exact match to
    # avoid any false positive.
    return to_float32(float_value) == to_float32(target)
  except ValueError:
    return False


def _parse_question(
    table,
    original_question,
    answer_texts,
    answer_coordinates,
    float_value,
    aggregation_function,
    clear_fields,
    discard_ambiguous_examples,
):
  """Parses question's answer_texts fields to possibly populate additional fields.

  Args:
    table: a Pandas dataframe, needed to compute the answer coordinates.
    original_question: a string.
    answer_texts: a list of strings, serving as the answer to the question.
    anser_coordinates:
    float_value: a float, serves as float value signal.
    aggregation_function:
    clear_fields: A list of strings indicating which fields need to be cleared
      and possibly repopulated.
    discard_ambiguous_examples: If true, discard ambiguous examples.

  Returns:
    A Question message with answer_coordinates or float_value field populated.

  Raises:
    ValueError if we cannot parse correctly the question message.
  """
  question = original_question

  # If we have a float value signal we just copy its string representation to
  # the answer text (if multiple answers texts are present OR the answer text
  # cannot be parsed to float OR the float value is different), after clearing
  # this field.
  if "float_value" in clear_fields and float_value is not None:
    if not _has_single_float_answer_equal_to(question, answer_texts, float_value):
      del answer_texts[:]
      float_value = float(float_value)
      if float_value.is_integer():
        number_str = str(int(float_value))
      else:
        number_str = str(float_value)
      answer_texts = []
      answer_texts.append(number_str)

  if not answer_texts:
    raise ValueError("No answer_texts provided")

  for field_name in clear_fields:
    if field_name == "answer_coordinates":
        answer_coordinates = None
    if field_name == "float_value":
        float_value = None
    if field_name == "aggregation_function":
        aggregation_function = None

  error_message = ""
  if not answer_coordinates:
    try:
      answer_coordinates = _parse_answer_coordinates(
          table,
          answer_texts,
          discard_ambiguous_examples,
      )
    except ValueError as exc:
      error_message += "[answer_coordinates: {}]".format(str(exc))
      if discard_ambiguous_examples:
        raise ValueError(f"Cannot parse answer: {error_message}")

  if not float_value:
    try:
      answer_texts, float_value = _parse_answer_float(answer_texts, float_value)
    except ValueError as exc:
      error_message += "[float_value: {}]".format(str(exc))

  # Raises an exception if we cannot set any of the two fields.
  if not answer_coordinates and not float_value:
    raise ValueError("Cannot parse answer: {}".format(error_message))

  return question, answer_texts, answer_coordinates, float_value, aggregation_function


# TODO(piccinno): Use some sort of introspection here to get the field names of
# the proto.
_CLEAR_FIELDS = frozendict.frozendict({
    SupervisionMode.REMOVE_ALL: [
        "answer_coordinates", "float_value", "aggregation_function"
    ],
    SupervisionMode.REMOVE_ALL_STRICT: [
        "answer_coordinates", "float_value", "aggregation_function"
    ]
})


def parse_question(table, question, answer_texts, answer_coordinates=None, float_value=None, aggregation_function=None,
                    mode=SupervisionMode.REMOVE_ALL):
    """Parses answer_text field of a question to populate additional fields required by TAPAS.

    Args:
        table: a Pandas dataframe, needed to compute the answer coordinates. Note that one should apply .astype(str)
        before supplying the table to this function.
        question: a string.
        answer_texts: a list of strings, containing one or more answer texts that serve as answer to the question.
        answer_coordinates: optional answer coordinates supervision signal, if you already have those.
        float_value: optional float supervision signal, if you already have this.
        aggregation_function: optional aggregation function supervised signal, if you already have this.
        mode: see SupervisionMode enum for more information.

    Returns:
        A list with the question, populated answer_coordinates or float_value.

    Raises:
        ValueError if we cannot parse correctly the question string.
    """
    if mode == SupervisionMode.NONE:
        return question, answer_texts

    clear_fields = _CLEAR_FIELDS.get(mode, None)
    if clear_fields is None:
        raise ValueError(f"Mode {mode.name} is not supported")

    return _parse_question(
        table,
        question,
        answer_texts,
        answer_coordinates,
        float_value,
        aggregation_function,
        clear_fields,
        discard_ambiguous_examples=mode == SupervisionMode.REMOVE_ALL_STRICT,
    )

### Downloading the Spider Dataset
I have downloaded the [Spider dataset](https://drive.usercontent.google.com/download?id=1iRDVHLr4mX2wQKSgA9J8Pire73Jahh0m&export=download&authuser=0) and stored it on Google Drive. It might be more convenient to download and unzip it directly into the Colab environment for easier access and experimentation in the future.

This dataset is necessary for accessing the tables because importing the dataset directly in Python only provides references to the databases used, not the actual data.

In [ ]:
import os
import pandas as pd
import sqlite3
import ast
from google.colab import drive
from datasets import load_dataset
import pickle

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
os.chdir("/content/drive/MyDrive/spider")

In [ ]:
# We import it here because the the datset that we dowloaded will only give the
#tabkles, the querries and natural language questions are not strcured(json),
# here we can get them in a dataframe
dataset = load_dataset("spider")

/usr/local/lib/python3.10/dist-packages/huggingface_hub/utils/_token.py:88: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

Downloading readme:   0%|          | 0.00/5.51k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/831k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/126k [00:00<?, ?B/s]

Generating train split:   0%|          | 0/7000 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/1034 [00:00<?, ? examples/s]

In [ ]:
print(dataset)


train_set = dataset['train']
validation_set = dataset['validation']

# print(train_set[0])

# print("Question:", train_set[0]['question'])
# print("SQL Query:", train_set[0]['query'])

DatasetDict({
    train: Dataset({
        features: ['db_id', 'query', 'question', 'query_toks', 'query_toks_no_value', 'question_toks'],
        num_rows: 7000
    })
    validation: Dataset({
        features: ['db_id', 'query', 'question', 'query_toks', 'query_toks_no_value', 'question_toks'],
        num_rows: 1034
    })
})

In [ ]:
# Convert the trainset into a pandas DataFrame
df_train = pd.DataFrame(train_set)
df_valid=pd.DataFrame(validation_set)

Build a dcitionnary with db_id and tables that are prsent in the train_set

In [ ]:
# unique_db_ids = set(instance['db_id'] for instance in train_set)
unique_db_ids_valid = set(instance['db_id'] for instance in validation_set)
def get_table_names(db_path):
    tables_in_db = []
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
    tables = cursor.fetchall()
    for table in tables:
        tables_in_db.append(table[0])
    conn.close()
    return tables_in_db

base_path = '/content/drive/MyDrive/spider/test_database/'


db_to_tables_valid = {}

for db_id in sorted(unique_db_ids_valid):

    db_path = f'{base_path}{db_id}/{db_id}.sqlite'

    if os.path.exists(db_path):
      tables_in_db = get_table_names(db_path)
      db_to_tables_valid[db_id] = tables_in_db
    else:
        print(f"Database path for {db_id} not found or inaccessible.")

with open('/content/drive/MyDrive/spider/db_to_tables_valid.pkl', 'wb') as file:
        pickle.dump(db_to_tables_valid, file)

In [ ]:
with open('/content/drive/MyDrive/spider/db_to_tables_valid.pkl', 'rb') as file:
    db_to_tables_valid = pickle.load(file)

Build a dcitionnary with db_id and tables that are prsent in the train_set which have 3 to 15 rows

In [ ]:
def get_table_names_with_row_constraints(db_path, min_rows=3, max_rows=15):
    tables_in_db = []
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
    tables = cursor.fetchall()

    for table in tables:
        table_name = table[0]

        cursor.execute(f"SELECT COUNT(*) FROM {table_name}")
        row_count = cursor.fetchone()[0]

        if min_rows < row_count <= max_rows:
            tables_in_db.append(table_name)

    conn.close()
    return tables_in_db

base_path = '/content/drive/MyDrive/spider/test_database/'


db_to_tables_constraint_valid = {}

for db_id in sorted(unique_db_ids_valid):
    db_path = f'{base_path}{db_id}/{db_id}.sqlite'

    if os.path.exists(db_path):
        tables_in_db = get_table_names_with_row_constraints(db_path)
        db_to_tables_constraint_valid[db_id] = tables_in_db
    else:
        print(f"Database path for {db_id} not found or inaccessible.")

with open('/content/drive/MyDrive/spider/db_to_tables_constraint_valid.pkl', 'wb') as file:
        pickle.dump(db_to_tables_constraint_valid, file)

In [ ]:
with open('/content/drive/MyDrive/spider/db_to_tables_constraint_valid.pkl', 'rb') as file:
    db_to_tables_constraint_valid = pickle.load(file)

Build a ditionnary which contans mapping between the `db_id_X_tableName` and the actual data in the table that we converted to a pandas DF

In [ ]:
db_table_to_df_valid = {}
base_path = '/content/drive/MyDrive/spider/test_database/'

for db_id, tables in db_to_tables_constraint_valid.items():

    db_path = f'{base_path}{db_id}/{db_id}.sqlite'

    for table_name in tables:
        composite_key = f"{db_id}_X_{table_name}"
        df = pd.read_sql_query(f"SELECT * FROM {table_name}", sqlite3.connect(db_path))

        db_table_to_df_valid[composite_key] = df

with open('/content/drive/MyDrive/spider/db_table_to_df_valid.pkl', 'wb') as file:
        pickle.dump(db_table_to_df_valid, file)

In [ ]:
with open('/content/drive/MyDrive/spider/db_table_to_df_valid.pkl', 'rb') as file:
    db_table_to_df_valid = pickle.load(file)

We also need to identify the tables each query interacts with. Although I've tried several methods, the simplest and most reliable approach involves knowing the tables in the database and then checking if they are mentioned in the query using some basic regex patterns.

In [ ]:
#@title pipeline
import re


def find_tables_in_query(query, db_id, db_to_tables_dict):
    tables_used = []

    tables_list = db_to_tables_dict.get(db_id, [])
    for table in tables_list:
        if re.search(r'\b' + re.escape(table) + r'\b', query, re.IGNORECASE):
            tables_used.append(table)
    return tables_used

# Apply the function to each row in the DataFrame

df_valid['tables_used'] = df_valid.apply(lambda row: find_tables_in_query(row['query'], row['db_id'], db_to_tables_valid), axis=1)

In [ ]:
#@title pipeline
df_valid

,db_id,query,question,query_toks,query_toks_no_value,question_toks,tables_used
0,concert_singer,SELECT count(*) FROM singer,How many singers do we have?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[How, many, singers, do, we, have, ?]",[singer]
1,concert_singer,SELECT count(*) FROM singer,What is the total number of singers?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[What, is, the, total, number, of, singers, ?]",[singer]
2,concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[Show, name, ,, country, ,, age, for, all, sin...",[singer]
3,concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[What, are, the, names, ,, countries, ,, and, ...",[singer]
4,concert_singer,"SELECT avg(age) , min(age) , max(age) FROM s...","What is the average, minimum, and maximum age ...","[SELECT, avg, (, age, ), ,, min, (, age, ), ,,...","[select, avg, (, age, ), ,, min, (, age, ), ,,...","[What, is, the, average, ,, minimum, ,, and, m...",[singer]
...,...,...,...,...,...,...,...
1029,singer,SELECT Citizenship FROM singer WHERE Birth_Yea...,What are the citizenships that are shared by s...,"[SELECT, Citizenship, FROM, singer, WHERE, Bir...","[select, citizenship, from, singer, where, bir...","[What, are, the, citizenships, that, are, shar...",[singer]
1030,real_estate_properties,SELECT count(*) FROM Other_Available_Features,How many available features are there in total?,"[SELECT, count, (, *, ), FROM, Other_Available...","[select, count, (, *, ), from, other_available...","[How, many, available, features, are, there, i...",[Other_Available_Features]
1031,real_estate_properties,SELECT T2.feature_type_name FROM Other_Availab...,What is the feature type name of feature AirCon?,"[SELECT, T2.feature_type_name, FROM, Other_Ava...","[select, t2, ., feature_type_name, from, other...","[What, is, the, feature, type, name, of, featu...","[Other_Available_Features, Ref_Feature_Types]"
1032,real_estate_properties,SELECT T2.property_type_description FROM Prope...,Show the property type descriptions of propert...,"[SELECT, T2.property_type_description, FROM, P...","[select, t2, ., property_type_description, fro...","[Show, the, property, type, descriptions, of, ...","[Properties, Ref_Property_Types]"
1033,real_estate_properties,SELECT property_name FROM Properties WHERE pro...,What are the names of properties that are eith...,"[SELECT, property_name, FROM, Properties, WHER...","[select, property_name, from, properties, wher...","[What, are, the, names, of, properties, that, ...",[Properties]

I mentionned before that qatch doesn't support joins, we can only touch one table at a time, so we filter out the querries which touch on more than table

In [ ]:
#@title pipeline
df_single_table = df_valid[df_valid['tables_used'].apply(lambda x: len(x) == 1)].copy()


df_single_table['table_used'] = df_single_table['tables_used'].apply(lambda x: x[0] if x else None)

df_single_table = df_single_table.drop(columns=['tables_used'])

df_single_table

,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used
0,concert_singer,SELECT count(*) FROM singer,How many singers do we have?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[How, many, singers, do, we, have, ?]",singer
1,concert_singer,SELECT count(*) FROM singer,What is the total number of singers?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[What, is, the, total, number, of, singers, ?]",singer
2,concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[Show, name, ,, country, ,, age, for, all, sin...",singer
3,concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[What, are, the, names, ,, countries, ,, and, ...",singer
4,concert_singer,"SELECT avg(age) , min(age) , max(age) FROM s...","What is the average, minimum, and maximum age ...","[SELECT, avg, (, age, ), ,, min, (, age, ), ,,...","[select, avg, (, age, ), ,, min, (, age, ), ,,...","[What, is, the, average, ,, minimum, ,, and, m...",singer
...,...,...,...,...,...,...,...
1017,singer,"SELECT Citizenship , max(Net_Worth_Millions) ...","For each citizenship, what is the maximum net ...","[SELECT, Citizenship, ,, max, (, Net_Worth_Mil...","[select, citizenship, ,, max, (, net_worth_mil...","[For, each, citizenship, ,, what, is, the, max...",singer
1028,singer,SELECT Citizenship FROM singer WHERE Birth_Yea...,Show the citizenship shared by singers with bi...,"[SELECT, Citizenship, FROM, singer, WHERE, Bir...","[select, citizenship, from, singer, where, bir...","[Show, the, citizenship, shared, by, singers, ...",singer
1029,singer,SELECT Citizenship FROM singer WHERE Birth_Yea...,What are the citizenships that are shared by s...,"[SELECT, Citizenship, FROM, singer, WHERE, Bir...","[select, citizenship, from, singer, where, bir...","[What, are, the, citizenships, that, are, shar...",singer
1030,real_estate_properties,SELECT count(*) FROM Other_Available_Features,How many available features are there in total?,"[SELECT, count, (, *, ), FROM, Other_Available...","[select, count, (, *, ), from, other_available...","[How, many, available, features, are, there, i...",Other_Available_Features
1033,real_estate_properties,SELECT property_name FROM Properties WHERE pro...,What are the names of properties that are eith...,"[SELECT, property_name, FROM, Properties, WHER...","[select, property_name, from, properties, wher...","[What, are, the, names, of, properties, that, ...",Properties

Filter out querries which use tables which don't conform to our cardinality constraints(3to 15 rows)

In [ ]:
#@title pipeline
filtered_df = df_single_table[df_single_table.apply(lambda row: row['table_used'] in db_to_tables_constraint_valid.get(row['db_id'], []), axis=1)]

filtered_df

,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used
0,concert_singer,SELECT count(*) FROM singer,How many singers do we have?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[How, many, singers, do, we, have, ?]",singer
1,concert_singer,SELECT count(*) FROM singer,What is the total number of singers?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[What, is, the, total, number, of, singers, ?]",singer
2,concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[Show, name, ,, country, ,, age, for, all, sin...",singer
3,concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[What, are, the, names, ,, countries, ,, and, ...",singer
4,concert_singer,"SELECT avg(age) , min(age) , max(age) FROM s...","What is the average, minimum, and maximum age ...","[SELECT, avg, (, age, ), ,, min, (, age, ), ,,...","[select, avg, (, age, ), ,, min, (, age, ), ,,...","[What, is, the, average, ,, minimum, ,, and, m...",singer
...,...,...,...,...,...,...,...
1016,singer,"SELECT Citizenship , max(Net_Worth_Millions) ...",Show different citizenships and the maximum ne...,"[SELECT, Citizenship, ,, max, (, Net_Worth_Mil...","[select, citizenship, ,, max, (, net_worth_mil...","[Show, different, citizenships, and, the, maxi...",singer
1017,singer,"SELECT Citizenship , max(Net_Worth_Millions) ...","For each citizenship, what is the maximum net ...","[SELECT, Citizenship, ,, max, (, Net_Worth_Mil...","[select, citizenship, ,, max, (, net_worth_mil...","[For, each, citizenship, ,, what, is, the, max...",singer
1028,singer,SELECT Citizenship FROM singer WHERE Birth_Yea...,Show the citizenship shared by singers with bi...,"[SELECT, Citizenship, FROM, singer, WHERE, Bir...","[select, citizenship, from, singer, where, bir...","[Show, the, citizenship, shared, by, singers, ...",singer
1029,singer,SELECT Citizenship FROM singer WHERE Birth_Yea...,What are the citizenships that are shared by s...,"[SELECT, Citizenship, FROM, singer, WHERE, Bir...","[select, citizenship, from, singer, where, bir...","[What, are, the, citizenships, that, are, shar...",singer
1033,real_estate_properties,SELECT property_name FROM Properties WHERE pro...,What are the names of properties that are eith...,"[SELECT, property_name, FROM, Properties, WHER...","[select, property_name, from, properties, wher...","[What, are, the, names, of, properties, that, ...",Properties

We need to filter out anything thats not a simple selection, projection or condition, so that our data comes from the same distribution and coherently integrates with QATCH. Given that are not tuning the aggregation head we ommit count(*),max,min .. examples as well. Ask to confirm

In [ ]:
import numpy as np
np.nan

nan

In [ ]:
#@title pipeline
# def is_simple_query(query):
#     # disallowed_keywords = {
#     #     'join', 'group by', 'having', 'union', 'intersect', 'except',
#     #     'count', 'sum', 'avg', 'min', 'max', 'limit', 'offset', 'inner',
#     #     'outer', 'left', 'right', 'full'
#     # }
#     disallowed_keywords = {
#         'join', 'union', 'intersect', 'except', 'inner',
#         'outer', 'left', 'right', 'full'
#     }


#     query_lower = query.lower()


#     for keyword in disallowed_keywords:
#         if keyword in query_lower:
#             return False
#     return True
# def is_simple_query_with_single_aggregation(query):
#     # Define both disallowed general keywords and specific aggregation keywords.
#     disallowed_keywords = {
#         'join', 'union', 'intersect', 'except', 'inner',
#         'outer', 'left', 'right', 'full'
#     }

#     aggregation_keywords = {
#         'count', 'sum', 'avg', 'min', 'max'
#     }

#     # Convert the query to lowercase for comparison.
#     query_lower = query.lower()

#     # Check for disallowed general keywords.
#     for keyword in disallowed_keywords:
#         if keyword in query_lower:
#             return False

#     # Check for aggregation keywords, ensuring only one is present.
#     aggregation_found = None
#     for keyword in aggregation_keywords:
#         if keyword in query_lower:
#             # If we've already found an aggregation, return False (more than one aggregation).
#             if aggregation_found:
#                 return False
#             # Mark this aggregation as found.
#             aggregation_found = keyword

#     return True


def is_simple_query_with_single_aggregation(query_toks):
    # Define both disallowed general keywords and specific aggregation keywords.
    disallowed_keywords = {
        'join', 'union', 'intersect', 'except', 'inner',
        'outer', 'left', 'right', 'full', 'limit', 'like'
    }
    aggregation_keywords = {
        'count', 'sum', 'avg', 'min', 'max'
    }

    # Convert the query tokens to lowercase for comparison.
    query_toks_lower = [tok.lower() for tok in query_toks]

    # Check for disallowed general keywords.
    if any(keyword in query_toks_lower for keyword in disallowed_keywords):
        return False, np.nan

    # Check for nested queries by counting the occurrences of 'select'.
    select_count = query_toks_lower.count('select')
    if select_count > 1:
        return False, np.nan

    # Check for aggregation keywords.
    aggregation_count = sum(tok in aggregation_keywords for tok in query_toks_lower)

    # Check if there is at most one aggregation keyword.
    if aggregation_count > 1:
        return False, np.nan

    # If an aggregation keyword is present, ensure only one column is projected.
    if aggregation_count == 1:
        select_index = query_toks_lower.index('select')
        from_index = query_toks_lower.index('from')
        columns = query_toks[select_index + 1: from_index]
        if ',' in columns:
            return False, np.nan
        else:
            # Extract the aggregation operator between 'select' and 'from'.
            operator = next((tok for tok in columns if tok.lower() in aggregation_keywords), np.nan)
            return True, operator

    return True, np.nan



filtered_df_simple=filtered_df.copy()

filtered_df_simple['is_simple'] = filtered_df_simple['query_toks_no_value'].apply(lambda x: is_simple_query_with_single_aggregation(x)[0])
filtered_df_simple['operator'] = filtered_df_simple['query_toks_no_value'].apply(lambda x: is_simple_query_with_single_aggregation(x)[1])

simple_queries_df = filtered_df_simple[filtered_df_simple['is_simple']].copy()


simple_queries_df.drop(columns=['is_simple'], inplace=True)

In [ ]:
complex_queries_df = filtered_df_simple[~filtered_df_simple['is_simple']].copy()
complex_queries_df

,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used,is_simple,operator
3,department_management,"SELECT max(budget_in_billions) , min(budget_i...",What are the maximum and minimum budget of the...,"[SELECT, max, (, budget_in_billions, ), ,, min...","[select, max, (, budget_in_billions, ), ,, min...","[What, are, the, maximum, and, minimum, budget...",department,False,NaN
8,department_management,SELECT creation FROM department GROUP BY creat...,In which year were most departments established?,"[SELECT, creation, FROM, department, GROUP, BY...","[select, creation, from, department, group, by...","[In, which, year, were, most, departments, est...",department,False,NaN
15,department_management,"SELECT head_id , name FROM head WHERE name LI...",Which head's name has the substring 'Ha'? List...,"[SELECT, head_id, ,, name, FROM, head, WHERE, ...","[select, head_id, ,, name, from, head, where, ...","[Which, head, 's, name, has, the, substring, '...",head,False,NaN
26,farm,"SELECT max(Cows) , min(Cows) FROM farm",What are the maximum and minimum number of cow...,"[SELECT, max, (, Cows, ), ,, min, (, Cows, ), ...","[select, max, (, cows, ), ,, min, (, cows, ), ...","[What, are, the, maximum, and, minimum, number...",farm,False,NaN
27,farm,"SELECT max(Cows) , min(Cows) FROM farm",Return the maximum and minimum number of cows ...,"[SELECT, max, (, Cows, ), ,, min, (, Cows, ), ...","[select, max, (, cows, ), ,, min, (, cows, ), ...","[Return, the, maximum, and, minimum, number, o...",farm,False,NaN
...,...,...,...,...,...,...,...,...,...
6987,culture_company,"SELECT title , director FROM movie WHERE YEAR...",Return the title and director of the movie rel...,"[SELECT, title, ,, director, FROM, movie, WHER...","[select, title, ,, director, from, movie, wher...","[Return, the, title, and, director, of, the, m...",movie,False,NaN
6988,culture_company,SELECT director FROM movie WHERE YEAR = 2000...,Show all director names who have a movie in bo...,"[SELECT, director, FROM, movie, WHERE, YEAR, =...","[select, director, from, movie, where, year, =...","[Show, all, director, names, who, have, a, mov...",movie,False,NaN
6989,culture_company,SELECT director FROM movie WHERE YEAR = 2000...,Which directors had a movie both in the year 1...,"[SELECT, director, FROM, movie, WHERE, YEAR, =...","[select, director, from, movie, where, year, =...","[Which, directors, had, a, movie, both, in, th...",movie,False,NaN
6992,culture_company,"SELECT avg(budget_million) , max(budget_milli...","What is the average, maximum, and minimum budg...","[SELECT, avg, (, budget_million, ), ,, max, (,...","[select, avg, (, budget_million, ), ,, max, (,...","[What, is, the, average, ,, maximum, ,, and, m...",movie,False,NaN
6993,culture_company,"SELECT avg(budget_million) , max(budget_milli...","Return the average, maximum, and minimum budge...","[SELECT, avg, (, budget_million, ), ,, max, (,...","[select, avg, (, budget_million, ), ,, max, (,...","[Return, the, average, ,, maximum, ,, and, min...",movie,False,NaN

In [ ]:
for index,row in complex_queries_df.iterrows():
  print(row["query"])

In [ ]:
for index,row in simple_queries_df.iterrows():
  print(row["query"])

SELECT count(*) FROM head WHERE age  >  56
SELECT name ,  born_state ,  age FROM head ORDER BY age
SELECT creation ,  name ,  budget_in_billions FROM department
SELECT avg(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15
SELECT name FROM head WHERE born_state != 'California'
SELECT born_state FROM head GROUP BY born_state HAVING count(*)  >=  3
SELECT count(DISTINCT temporary_acting) FROM management
SELECT count(*) FROM farm
SELECT count(*) FROM farm
SELECT Total_Horses FROM farm ORDER BY Total_Horses ASC
SELECT Total_Horses FROM farm ORDER BY Total_Horses ASC
SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'
SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'
SELECT Theme FROM farm_competition ORDER BY YEAR ASC
SELECT Theme FROM farm_competition ORDER BY YEAR ASC
SELECT avg(Working_Horses) FROM farm WHERE Total_Horses  >  5000
SELECT avg(Working_Horses) FROM farm WHERE Total_Horses  >  5000
SELECT count(DISTINCT Status) FROM city
SELECT count(DISTINCT Status) FROM city
SELECT Official_Name FROM city ORDER BY Population DESC
SELECT Official_Name FROM city ORDER BY Population DESC
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) ASC
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) ASC
SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500
SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500
SELECT Census_Ranking FROM city WHERE Status !=  "Village"
SELECT Census_Ranking FROM city WHERE Status !=  "Village"
SELECT student_id FROM student_course_attendance
SELECT student_id FROM student_course_attendance
SELECT candidate_id FROM candidate_assessments WHERE asessment_outcome_code = "Pass"
SELECT candidate_id FROM candidate_assessments WHERE asessment_outcome_code = "Pass"
SELECT student_id FROM student_course_attendance WHERE course_id  =  301
SELECT student_id FROM student_course_attendance WHERE course_id  =  301
SELECT course_name FROM courses ORDER BY course_name
SELECT course_name FROM courses ORDER BY course_name
SELECT first_name FROM people ORDER BY first_name
SELECT first_name FROM people ORDER BY first_name
SELECT count(*) FROM book
SELECT Writer FROM book ORDER BY Writer ASC
SELECT Title FROM book ORDER BY Issues ASC
SELECT Title FROM book WHERE Writer != "Elaine Lee"
SELECT Title ,  Issues FROM book
SELECT Publication_Date FROM publication ORDER BY Price DESC
SELECT DISTINCT Publisher FROM publication WHERE Price  >  5000000
SELECT Publisher FROM publication GROUP BY Publisher HAVING COUNT(*)  >  1
SELECT Writer FROM book GROUP BY Writer HAVING COUNT(*)  >  1
SELECT COUNT (DISTINCT Publication_Date) FROM publication
SELECT COUNT (DISTINCT Publication_Date) FROM publication
SELECT Price FROM publication WHERE Publisher  =  "Person" OR Publisher  =  "Wiley"
SELECT count(*) FROM actor
SELECT count(*) FROM actor
SELECT Name FROM actor ORDER BY Name ASC
SELECT Name FROM actor ORDER BY Name ASC
SELECT Character ,  Duration FROM actor
SELECT Character ,  Duration FROM actor
SELECT Name FROM actor WHERE Age != 20
SELECT Name FROM actor WHERE Age != 20
SELECT Character FROM actor ORDER BY age DESC
SELECT Character FROM actor ORDER BY age DESC
SELECT Name FROM musical WHERE Nominee  =  "Bob Fosse"
SELECT Name FROM musical WHERE Nominee  =  "Bob Fosse"
SELECT DISTINCT Nominee FROM musical WHERE Award != "Tony Award"
SELECT DISTINCT Nominee FROM musical WHERE Award != "Tony Award"
SELECT Nominee FROM musical GROUP BY Nominee HAVING COUNT(*)  >  2
SELECT Nominee FROM musical GROUP BY Nominee HAVING COUNT(*)  >  2
SELECT Nominee FROM musical WHERE Award  =  "Tony Award" OR Award  =  "Cleavant Derricks"
SELECT Nominee FROM musical WHERE Award  =  "Tony Award" OR Award  =  "Cleavant Derricks"
SELECT email FROM user_profiles WHERE name  =  'Mary'
SELECT partitionid FROM user_profiles WHERE name  =  'Iron Man'
SELECT count(*) FROM user_profiles
SELECT count(*) FROM follows
SELECT count(*) FROM follows GROUP BY f1
SELECT count(*) FROM tweets
SELECT count(DISTINCT UID) FROM tweets
SELECT name ,  email FROM user_profiles WHERE followers  >  1000
SELECT name ,  followers FROM user_profiles ORDER BY followers DESC
SELECT text FROM tweets ORDER BY createdate
SELECT distinct(catalog_entry_name) FROM catalog_contents
SELECT distinct(catalog_entry_name) FROM catalog_contents
SELECT attribute_data_type FROM Attribute_Definitions GROUP BY attribute_data_type HAVING count(*)  >  3
SELECT attribute_data_type FROM Attribute_Definitions GROUP BY attribute_data_type HAVING count(*)  >  3
SELECT attribute_data_type FROM Attribute_Definitions WHERE attribute_name  =  "Green"
SELECT attribute_data_type FROM Attribute_Definitions WHERE attribute_name  =  "Green"
SELECT catalog_entry_name FROM catalog_contents WHERE LENGTH  <  3 OR width  >  5
SELECT catalog_entry_name FROM catalog_contents WHERE LENGTH  <  3 OR width  >  5
SELECT catalog_entry_name ,  capacity FROM Catalog_Contents WHERE price_in_dollars  >  700
SELECT catalog_entry_name ,  capacity FROM Catalog_Contents WHERE price_in_dollars  >  700
SELECT date_of_latest_revision FROM Catalogs GROUP BY date_of_latest_revision HAVING count(*)  >  1
SELECT date_of_latest_revision FROM Catalogs GROUP BY date_of_latest_revision HAVING count(*)  >  1
SELECT count(*) FROM catalog_contents
SELECT count(*) FROM catalog_contents
SELECT catalog_entry_name FROM catalog_contents WHERE next_entry_id  >  8
SELECT catalog_entry_name FROM catalog_contents WHERE next_entry_id  >  8
SELECT count(*) FROM Flight
SELECT count(*) FROM Flight
SELECT flno ,  origin ,  destination FROM Flight ORDER BY origin
SELECT flno ,  origin ,  destination FROM Flight ORDER BY origin
SELECT flno FROM Flight WHERE origin  =  "Los Angeles"
SELECT flno FROM Flight WHERE origin  =  "Los Angeles"
SELECT origin FROM Flight WHERE destination  =  "Honolulu"
SELECT origin FROM Flight WHERE destination  =  "Honolulu"
SELECT departure_date ,  arrival_date FROM Flight WHERE origin  =  "Los Angeles" AND destination  =  "Honolulu"
SELECT departure_date ,  arrival_date FROM Flight WHERE origin  =  "Los Angeles" AND destination  =  "Honolulu"
SELECT flno FROM Flight WHERE distance  >  2000
SELECT flno FROM Flight WHERE distance  >  2000
SELECT avg(price) FROM Flight WHERE origin  =  "Los Angeles" AND destination  =  "Honolulu"
SELECT avg(price) FROM Flight WHERE origin  =  "Los Angeles" AND destination  =  "Honolulu"
SELECT origin ,  destination FROM Flight WHERE price  >  300
SELECT origin ,  destination FROM Flight WHERE price  >  300
SELECT count(DISTINCT allergy) FROM Allergy_type
SELECT count(DISTINCT allergy) FROM Allergy_type
SELECT count(DISTINCT allergytype) FROM Allergy_type
SELECT count(DISTINCT allergytype) FROM Allergy_type
SELECT DISTINCT allergytype FROM Allergy_type
SELECT DISTINCT allergytype FROM Allergy_type
SELECT allergy ,  allergytype FROM Allergy_type
SELECT allergy ,  allergytype FROM Allergy_type
SELECT DISTINCT allergy FROM Allergy_type WHERE allergytype  =  "food"
SELECT DISTINCT allergy FROM Allergy_type WHERE allergytype  =  "food"
SELECT allergytype FROM Allergy_type WHERE allergy  =  "Cat"
SELECT allergytype FROM Allergy_type WHERE allergy  =  "Cat"
SELECT count(*) FROM Allergy_type WHERE allergytype  =  "animal"
SELECT count(*) FROM Allergy_type WHERE allergytype  =  "animal"
SELECT title ,  phone ,  hire_date FROM employees WHERE first_name = "Nancy" AND last_name = "Edwards";
SELECT title ,  phone ,  hire_date FROM employees WHERE first_name = "Nancy" AND last_name = "Edwards";
SELECT address FROM employees WHERE first_name = "Nancy" AND last_name = "Edwards";
SELECT address FROM employees WHERE first_name = "Nancy" AND last_name = "Edwards";
SELECT count(*) FROM employees WHERE country = "Canada";
SELECT count(*) FROM employees WHERE country = "Canada";
SELECT phone FROM employees WHERE first_name = "Nancy" AND last_name = "Edwards";
SELECT phone FROM employees WHERE first_name = "Nancy" AND last_name = "Edwards";
SELECT name FROM media_types;
SELECT name FROM media_types;
SELECT count(*) FROM editor
SELECT Name FROM editor ORDER BY Age ASC
SELECT Name ,  Age FROM editor
SELECT Name FROM editor WHERE Age  >  25
SELECT Name FROM editor WHERE Age  =  24 OR Age  =  25
SELECT count(*) FROM Accounts
SELECT count(*) FROM Accounts
SELECT account_id ,  customer_id ,  account_name FROM Accounts
SELECT account_id ,  customer_id ,  account_name FROM Accounts
SELECT other_account_details FROM Accounts WHERE account_name  =  "338"
SELECT other_account_details FROM Accounts WHERE account_name  =  "338"
SELECT count(DISTINCT customer_id) FROM Accounts
SELECT count(DISTINCT customer_id) FROM Accounts
SELECT count(*) FROM Customers
SELECT count(*) FROM Customers
SELECT customer_id ,  customer_first_name ,  customer_last_name ,  customer_phone FROM Customers
SELECT customer_id ,  customer_first_name ,  customer_last_name ,  customer_phone FROM Customers
SELECT customer_phone ,  customer_email FROM Customers WHERE customer_first_name  =  "Aniyah" AND customer_last_name  =  "Feest"
SELECT customer_phone ,  customer_email FROM Customers WHERE customer_first_name  =  "Aniyah" AND customer_last_name  =  "Feest"
SELECT count(*) FROM Customers_cards
SELECT count(*) FROM Customers_cards
SELECT card_id ,  customer_id ,  card_type_code ,  card_number FROM Customers_cards
SELECT card_id ,  customer_id ,  card_type_code ,  card_number FROM Customers_cards
SELECT date_valid_from ,  date_valid_to FROM Customers_cards WHERE card_number  =  "4560596484842"
SELECT date_valid_from ,  date_valid_to FROM Customers_cards WHERE card_number  =  "4560596484842"
SELECT count(*) FROM Customers_cards WHERE card_type_code  =  "Debit"
SELECT count(*) FROM Customers_cards WHERE card_type_code  =  "Debit"
SELECT card_type_code FROM Customers_cards GROUP BY card_type_code HAVING count(*)  >=  5
SELECT card_type_code FROM Customers_cards GROUP BY card_type_code HAVING count(*)  >=  5
SELECT DISTINCT card_type_code FROM Customers_Cards
SELECT DISTINCT card_type_code FROM Customers_Cards
SELECT count(DISTINCT card_type_code) FROM Customers_Cards
SELECT count(DISTINCT card_type_code) FROM Customers_Cards
SELECT DISTINCT transaction_type FROM Financial_Transactions
SELECT DISTINCT transaction_type FROM Financial_Transactions
SELECT count(DISTINCT transaction_type) FROM Financial_Transactions
SELECT count(DISTINCT transaction_type) FROM Financial_Transactions
SELECT count(*) FROM track
SELECT count(*) FROM track
SELECT name ,  LOCATION FROM track
SELECT name ,  LOCATION FROM track
SELECT name ,  seating FROM track WHERE year_opened  >  2000 ORDER BY seating
SELECT name ,  seating FROM track WHERE year_opened  >  2000 ORDER BY seating
SELECT DISTINCT LOCATION FROM track
SELECT DISTINCT LOCATION FROM track
SELECT count(*) FROM race
SELECT count(*) FROM race
SELECT DISTINCT CLASS FROM race
SELECT DISTINCT CLASS FROM race
SELECT name ,  CLASS ,  date FROM race
SELECT name ,  CLASS ,  date FROM race
SELECT CLASS FROM race GROUP BY CLASS HAVING count(*)  >=  2
SELECT CLASS FROM race GROUP BY CLASS HAVING count(*)  >=  2
SELECT year_opened FROM track WHERE seating BETWEEN 4000 AND 5000
SELECT year_opened FROM track WHERE seating BETWEEN 4000 AND 5000
SELECT count(*) FROM member WHERE Membership_card  =  'Black'
SELECT name FROM member WHERE address  =  'Harford' OR address  =  'Waterbury'
SELECT name ,  member_id FROM member WHERE Membership_card  =  'Black' OR age  <  30
SELECT Time_of_purchase ,  age ,  address FROM member ORDER BY Time_of_purchase
SELECT Membership_card FROM member GROUP BY Membership_card HAVING count(*)  >  5
SELECT count(*) FROM member WHERE address != 'Hartford'
SELECT address FROM shop ORDER BY open_year
SELECT MONTH FROM happy_hour GROUP BY MONTH HAVING count(*)  >  2
SELECT FirstName ,  LastName FROM EMPLOYEE WHERE City  =  "Calgary"
SELECT FirstName ,  LastName FROM EMPLOYEE WHERE City  =  "Calgary"
SELECT COUNT(DISTINCT city) FROM EMPLOYEE
SELECT COUNT(DISTINCT city) FROM EMPLOYEE
SELECT Phone FROM EMPLOYEE
SELECT Phone FROM EMPLOYEE
SELECT BirthDate FROM EMPLOYEE WHERE City  =  "Edmonton"
SELECT BirthDate FROM EMPLOYEE WHERE City  =  "Edmonton"
SELECT customer_phone FROM available_policies
SELECT customer_phone FROM available_policies
SELECT customer_phone FROM available_policies WHERE policy_type_code  =  "Life Insurance"
SELECT customer_phone FROM available_policies WHERE policy_type_code  =  "Life Insurance"
SELECT policy_type_code FROM available_policies GROUP BY policy_type_code HAVING count(*)  >  4
SELECT policy_type_code FROM available_policies GROUP BY policy_type_code HAVING count(*)  >  4
SELECT service_name FROM services ORDER BY service_name
SELECT service_name FROM services ORDER BY service_name
SELECT count(*) FROM services
SELECT count(*) FROM services
SELECT customer_id ,  customer_name FROM customers ORDER BY customer_id ASC
SELECT customer_id ,  customer_name FROM customers ORDER BY customer_id ASC
SELECT count(*) FROM enzyme
SELECT count(*) FROM enzyme
SELECT name FROM enzyme ORDER BY name DESC
SELECT name FROM enzyme ORDER BY name DESC
SELECT name ,  LOCATION FROM enzyme
SELECT name ,  LOCATION FROM enzyme
SELECT max(OMIM) FROM enzyme
SELECT max(OMIM) FROM enzyme
SELECT product ,  chromosome ,  porphyria FROM enzyme WHERE LOCATION  =  'Cytosol'
SELECT product ,  chromosome ,  porphyria FROM enzyme WHERE LOCATION  =  'Cytosol'
SELECT name FROM enzyme WHERE product != 'Heme'
SELECT name FROM enzyme WHERE product != 'Heme'
SELECT school ,  nickname FROM university ORDER BY founded
SELECT school ,  nickname FROM university ORDER BY founded
SELECT school ,  LOCATION FROM university WHERE affiliation  =  'Public'
SELECT school ,  LOCATION FROM university WHERE affiliation  =  'Public'
SELECT count(DISTINCT school_id) FROM basketball_match
SELECT count(DISTINCT school_id) FROM basketball_match
SELECT avg(enrollment) FROM university WHERE founded  <  1850
SELECT avg(enrollment) FROM university WHERE founded  <  1850
SELECT school FROM university WHERE founded  >  1850 OR affiliation  =  'Public'
SELECT school FROM university WHERE founded  >  1850 OR affiliation  =  'Public'
SELECT count(DISTINCT affiliation) FROM university
SELECT count(DISTINCT affiliation) FROM university
SELECT max(Enrollment) FROM university
SELECT max(Enrollment) FROM university
SELECT * FROM basketball_match
SELECT * FROM basketball_match
SELECT team_name FROM basketball_match ORDER BY All_Home DESC
SELECT team_name FROM basketball_match ORDER BY All_Home DESC
SELECT Model_name FROM chip_model WHERE Launch_year BETWEEN 2002 AND 2004;
SELECT count(*) FROM phone WHERE Company_name = "Nokia Corporation";
SELECT Company_name FROM phone GROUP BY Company_name HAVING count(*)  >  1;
SELECT Accreditation_level FROM phone GROUP BY Accreditation_level HAVING count(*)  >  3
SELECT * FROM chip_model
SELECT count(*) FROM chip_model WHERE wifi  =  'No'
SELECT count(*) FROM chip_model WHERE wifi  =  'No'
SELECT model_name FROM chip_model ORDER BY launch_year
SELECT count(*) FROM country
SELECT count(*) FROM country
SELECT Country_name ,  Capital FROM country
SELECT Country_name ,  Capital FROM country
SELECT Player ,  Years_Played FROM player
SELECT Player ,  Years_Played FROM player
SELECT Name FROM Team
SELECT Name FROM Team
SELECT count(*) FROM climber
SELECT count(*) FROM climber
SELECT Name FROM climber ORDER BY Points DESC
SELECT Name FROM climber ORDER BY Points DESC
SELECT Name FROM climber WHERE Country != "Switzerland"
SELECT Name FROM climber WHERE Country != "Switzerland"
SELECT max(Points) FROM climber WHERE Country  =  "United Kingdom"
SELECT max(Points) FROM climber WHERE Country  =  "United Kingdom"
SELECT COUNT(DISTINCT Country) FROM climber
SELECT COUNT(DISTINCT Country) FROM climber
SELECT Name FROM mountain ORDER BY Name ASC
SELECT Name FROM mountain ORDER BY Name ASC
SELECT Country FROM mountain WHERE Height  >  5000
SELECT Country FROM mountain WHERE Height  >  5000
SELECT Country FROM mountain GROUP BY Country HAVING COUNT(*)  >  1
SELECT Country FROM mountain GROUP BY Country HAVING COUNT(*)  >  1
SELECT Name FROM mountain WHERE Height  >  5000 OR Prominence  >  1000
SELECT Name FROM mountain WHERE Height  >  5000 OR Prominence  >  1000
SELECT count(*) FROM body_builder
SELECT Total FROM body_builder ORDER BY Total ASC
SELECT Snatch ,  Clean_Jerk FROM body_builder ORDER BY Snatch ASC
SELECT avg(Snatch) FROM body_builder
SELECT Birth_Date FROM People ORDER BY Height ASC
SELECT Birth_Place FROM people GROUP BY Birth_Place HAVING COUNT(*)  >=  2
SELECT Height ,  Weight FROM people ORDER BY Height DESC
SELECT * FROM body_builder
SELECT count(DISTINCT Birth_Place) FROM people
SELECT min(snatch) FROM body_builder
SELECT count(*) FROM election
SELECT Votes FROM election ORDER BY Votes DESC
SELECT Date ,  Vote_Percent FROM election
SELECT Name ,  Party FROM representative
SELECT Name FROM Representative WHERE Party != "Republican"
SELECT Lifespan FROM representative WHERE State  =  "New York" OR State  =  "Indiana"
SELECT Party FROM representative GROUP BY Party HAVING COUNT(*)  >=  3
SELECT State FROM representative GROUP BY State HAVING COUNT(*)  >=  2
SELECT count(DISTINCT Party) FROM representative
SELECT count(*) FROM Apartment_Bookings
SELECT count(*) FROM Apartment_Bookings
SELECT booking_start_date ,  booking_end_date FROM Apartment_Bookings
SELECT booking_start_date ,  booking_end_date FROM Apartment_Bookings
SELECT DISTINCT building_description FROM Apartment_Buildings
SELECT DISTINCT building_description FROM Apartment_Buildings
SELECT building_short_name FROM Apartment_Buildings WHERE building_manager	 =  "Emma"
SELECT building_short_name FROM Apartment_Buildings WHERE building_manager	 =  "Emma"
SELECT building_address ,  building_phone FROM Apartment_Buildings WHERE building_manager	 =  "Brenden"
SELECT building_address ,  building_phone FROM Apartment_Buildings WHERE building_manager	 =  "Brenden"
SELECT avg(bedroom_count) FROM Apartments
SELECT avg(bedroom_count) FROM Apartments
SELECT apt_number ,  room_count FROM Apartments
SELECT apt_number ,  room_count FROM Apartments
SELECT avg(room_count) FROM Apartments WHERE apt_type_code  =  "Studio"
SELECT avg(room_count) FROM Apartments WHERE apt_type_code  =  "Studio"
SELECT apt_number FROM Apartments WHERE apt_type_code  =  "Flat"
SELECT apt_number FROM Apartments WHERE apt_type_code  =  "Flat"
SELECT guest_first_name ,  guest_last_name FROM Guests
SELECT guest_first_name ,  guest_last_name FROM Guests
SELECT date_of_birth FROM Guests WHERE gender_code  =  "Male"
SELECT date_of_birth FROM Guests WHERE gender_code  =  "Male"
SELECT apt_number FROM Apartments ORDER BY room_count ASC
SELECT apt_number FROM Apartments ORDER BY room_count ASC
SELECT average_attendance FROM stadium WHERE capacity_percentage  >  100
SELECT player ,  number_of_matches ,  SOURCE FROM injury_accident WHERE injury != 'Knee problem'
SELECT count(DISTINCT SOURCE) FROM injury_accident
SELECT count(*) FROM performance
SELECT HOST FROM performance ORDER BY Attendance ASC
SELECT Date ,  LOCATION FROM performance
SELECT Attendance FROM performance WHERE LOCATION  =  "TD Garden" OR LOCATION  =  "Bell Centre"
SELECT avg(Attendance) FROM performance
SELECT LOCATION FROM performance GROUP BY LOCATION HAVING COUNT(*)  >=  2
SELECT count(*) FROM debate
SELECT Venue FROM debate ORDER BY Num_of_Audience ASC
SELECT Date ,  Venue FROM debate
SELECT Date FROM debate WHERE Num_of_Audience  >  150
SELECT Name FROM  people WHERE Age  =  35 OR Age  =  36
SELECT DISTINCT Venue FROM debate
SELECT customer_details FROM customers ORDER BY customer_details
SELECT customer_details FROM customers ORDER BY customer_details
SELECT policy_type_code FROM policies GROUP BY policy_type_code HAVING count(*)  >  2
SELECT policy_type_code FROM policies GROUP BY policy_type_code HAVING count(*)  >  2
SELECT count(DISTINCT claim_outcome_code) FROM claims_processing
SELECT count(DISTINCT claim_outcome_code) FROM claims_processing
SELECT count(*) FROM Accounts

In [ ]:
simple_queries_df

,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used,operator
0,concert_singer,SELECT count(*) FROM singer,How many singers do we have?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[How, many, singers, do, we, have, ?]",singer,count
1,concert_singer,SELECT count(*) FROM singer,What is the total number of singers?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[What, is, the, total, number, of, singers, ?]",singer,count
2,concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[Show, name, ,, country, ,, age, for, all, sin...",singer,NaN
3,concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[What, are, the, names, ,, countries, ,, and, ...",singer,NaN
8,concert_singer,SELECT DISTINCT country FROM singer WHERE age ...,What are all distinct countries where singers ...,"[SELECT, DISTINCT, country, FROM, singer, WHER...","[select, distinct, country, from, singer, wher...","[What, are, all, distinct, countries, where, s...",singer,NaN
...,...,...,...,...,...,...,...,...
1005,singer,"SELECT Birth_Year , Citizenship FROM singer",What are the birth years and citizenships of t...,"[SELECT, Birth_Year, ,, Citizenship, FROM, sin...","[select, birth_year, ,, citizenship, from, sin...","[What, are, the, birth, years, and, citizenshi...",singer,NaN
1006,singer,"SELECT Name FROM singer WHERE Citizenship != ""...",List the name of singers whose citizenship is ...,"[SELECT, Name, FROM, singer, WHERE, Citizenshi...","[select, name, from, singer, where, citizenshi...","[List, the, name, of, singers, whose, citizens...",singer,NaN
1007,singer,"SELECT Name FROM singer WHERE Citizenship != ""...",What are the names of the singers who are not ...,"[SELECT, Name, FROM, singer, WHERE, Citizenshi...","[select, name, from, singer, where, citizenshi...","[What, are, the, names, of, the, singers, who,...",singer,NaN
1008,singer,SELECT Name FROM singer WHERE Birth_Year = 1...,Show the name of singers whose birth year is e...,"[SELECT, Name, FROM, singer, WHERE, Birth_Year...","[select, name, from, singer, where, birth_year...","[Show, the, name, of, singers, whose, birth, y...",singer,NaN
1009,singer,SELECT Name FROM singer WHERE Birth_Year = 1...,What are the names of the singers whose birth ...,"[SELECT, Name, FROM, singer, WHERE, Birth_Year...","[select, name, from, singer, where, birth_year...","[What, are, the, names, of, the, singers, whos...",singer,NaN

In [ ]:
float_df = simple_queries_df[simple_queries_df['operator'].notna()]

float_df["operator"].value_counts()

count    431
avg       77
sum       39
max       12
min        3
Name: operator, dtype: int64

Add the db_id_X_nableName column

In [ ]:
#@title pipeline
simple_df=simple_queries_df.copy()
simple_df['seq_id'] = simple_df.apply(lambda row: f"{row['db_id']}_X_{row['table_used']}", axis=1)

In [ ]:
#@title pipeline
simple_df.reset_index(inplace=True)
simple_df.rename(columns={'index': 'ID'}, inplace=True)
simple_df.head()

,ID,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used,operator,seq_id
0,0,concert_singer,SELECT count(*) FROM singer,How many singers do we have?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[How, many, singers, do, we, have, ?]",singer,count,concert_singer_X_singer
1,1,concert_singer,SELECT count(*) FROM singer,What is the total number of singers?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[What, is, the, total, number, of, singers, ?]",singer,count,concert_singer_X_singer
2,2,concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[Show, name, ,, country, ,, age, for, all, sin...",singer,NaN,concert_singer_X_singer
3,3,concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[What, are, the, names, ,, countries, ,, and, ...",singer,NaN,concert_singer_X_singer
4,8,concert_singer,SELECT DISTINCT country FROM singer WHERE age ...,What are all distinct countries where singers ...,"[SELECT, DISTINCT, country, FROM, singer, WHER...","[select, distinct, country, from, singer, wher...","[What, are, all, distinct, countries, where, s...",singer,NaN,concert_singer_X_singer

In [ ]:
simple_df

,ID,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used,operator,seq_id
0,0,concert_singer,SELECT count(*) FROM singer,How many singers do we have?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[How, many, singers, do, we, have, ?]",singer,count,concert_singer_X_singer
1,1,concert_singer,SELECT count(*) FROM singer,What is the total number of singers?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[What, is, the, total, number, of, singers, ?]",singer,count,concert_singer_X_singer
2,2,concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[Show, name, ,, country, ,, age, for, all, sin...",singer,NaN,concert_singer_X_singer
3,3,concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[What, are, the, names, ,, countries, ,, and, ...",singer,NaN,concert_singer_X_singer
4,8,concert_singer,SELECT DISTINCT country FROM singer WHERE age ...,What are all distinct countries where singers ...,"[SELECT, DISTINCT, country, FROM, singer, WHER...","[select, distinct, country, from, singer, wher...","[What, are, all, distinct, countries, where, s...",singer,NaN,concert_singer_X_singer
...,...,...,...,...,...,...,...,...,...,...
211,1005,singer,"SELECT Birth_Year , Citizenship FROM singer",What are the birth years and citizenships of t...,"[SELECT, Birth_Year, ,, Citizenship, FROM, sin...","[select, birth_year, ,, citizenship, from, sin...","[What, are, the, birth, years, and, citizenshi...",singer,NaN,singer_X_singer
212,1006,singer,"SELECT Name FROM singer WHERE Citizenship != ""...",List the name of singers whose citizenship is ...,"[SELECT, Name, FROM, singer, WHERE, Citizenshi...","[select, name, from, singer, where, citizenshi...","[List, the, name, of, singers, whose, citizens...",singer,NaN,singer_X_singer
213,1007,singer,"SELECT Name FROM singer WHERE Citizenship != ""...",What are the names of the singers who are not ...,"[SELECT, Name, FROM, singer, WHERE, Citizenshi...","[select, name, from, singer, where, citizenshi...","[What, are, the, names, of, the, singers, who,...",singer,NaN,singer_X_singer
214,1008,singer,SELECT Name FROM singer WHERE Birth_Year = 1...,Show the name of singers whose birth year is e...,"[SELECT, Name, FROM, singer, WHERE, Birth_Year...","[select, name, from, singer, where, birth_year...","[Show, the, name, of, singers, whose, birth, y...",singer,NaN,singer_X_singer
215,1009,singer,SELECT Name FROM singer WHERE Birth_Year = 1...,What are the names of the singers whose birth ...,"[SELECT, Name, FROM, singer, WHERE, Birth_Year...","[select, name, from, singer, where, birth_year...","[What, are, the, names, of, the, singers, whos...",singer,NaN,singer_X_singer

We now need to get the answers to our querries, by executing them

In [ ]:
#@title pipeline
from itertools import chain




results_df = pd.DataFrame(columns=['ID','answer_text'])


base_path = '/content/drive/MyDrive/spider/test_database/'

for index, row in simple_df.iterrows():
    db_id = row['db_id']
    table_used = row['table_used']
    query = row['query']
    ID=row['ID']


    db_path = f'{base_path}{db_id}/{db_id}.sqlite'


    with sqlite3.connect(db_path) as conn:
        cur = conn.cursor()
        cur.execute(query)
        answers = cur.fetchall()


        list_answers = list(chain.from_iterable(answers))


        new_row = pd.DataFrame({'ID': [ID], 'answer_text': [list_answers]})
        results_df = pd.concat([results_df, new_row], ignore_index=True)

In [ ]:
#@title pipeline
results_df

       ID                                        answer_text
0       0                                                [6]
1       1                                                [6]
2       2  [Joe Sharp, Netherlands, 52, John Nizinik, Fra...
3       3  [Joe Sharp, Netherlands, 52, John Nizinik, Fra...
4       8               [Netherlands, United States, France]
..    ...                                                ...
211  1005  [1944.0, France, 1948.0, United States, 1949.0...
212  1006  [Christy Walton, Alice Walton, Iris Fontbona, ...
213  1007  [Christy Walton, Alice Walton, Iris Fontbona, ...
214  1008                     [Christy Walton, Alice Walton]
215  1009                     [Christy Walton, Alice Walton]

[216 rows x 2 columns]

In [ ]:
#@title pipeline
merged_df = pd.merge(results_df, simple_df, on='ID')
merged_df = merged_df[merged_df['answer_text'].apply(lambda x: x != [])]
merged_df

,ID,answer_text,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used,operator,seq_id
0,0,[6],concert_singer,SELECT count(*) FROM singer,How many singers do we have?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[How, many, singers, do, we, have, ?]",singer,count,concert_singer_X_singer
1,1,[6],concert_singer,SELECT count(*) FROM singer,What is the total number of singers?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[What, is, the, total, number, of, singers, ?]",singer,count,concert_singer_X_singer
2,2,"[Joe Sharp, Netherlands, 52, John Nizinik, Fra...",concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[Show, name, ,, country, ,, age, for, all, sin...",singer,NaN,concert_singer_X_singer
3,3,"[Joe Sharp, Netherlands, 52, John Nizinik, Fra...",concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[What, are, the, names, ,, countries, ,, and, ...",singer,NaN,concert_singer_X_singer
4,8,"[Netherlands, United States, France]",concert_singer,SELECT DISTINCT country FROM singer WHERE age ...,What are all distinct countries where singers ...,"[SELECT, DISTINCT, country, FROM, singer, WHER...","[select, distinct, country, from, singer, wher...","[What, are, all, distinct, countries, where, s...",singer,NaN,concert_singer_X_singer
...,...,...,...,...,...,...,...,...,...,...,...
211,1005,"[1944.0, France, 1948.0, United States, 1949.0...",singer,"SELECT Birth_Year , Citizenship FROM singer",What are the birth years and citizenships of t...,"[SELECT, Birth_Year, ,, Citizenship, FROM, sin...","[select, birth_year, ,, citizenship, from, sin...","[What, are, the, birth, years, and, citizenshi...",singer,NaN,singer_X_singer
212,1006,"[Christy Walton, Alice Walton, Iris Fontbona, ...",singer,"SELECT Name FROM singer WHERE Citizenship != ""...",List the name of singers whose citizenship is ...,"[SELECT, Name, FROM, singer, WHERE, Citizenshi...","[select, name, from, singer, where, citizenshi...","[List, the, name, of, singers, whose, citizens...",singer,NaN,singer_X_singer
213,1007,"[Christy Walton, Alice Walton, Iris Fontbona, ...",singer,"SELECT Name FROM singer WHERE Citizenship != ""...",What are the names of the singers who are not ...,"[SELECT, Name, FROM, singer, WHERE, Citizenshi...","[select, name, from, singer, where, citizenshi...","[What, are, the, names, of, the, singers, who,...",singer,NaN,singer_X_singer
214,1008,"[Christy Walton, Alice Walton]",singer,SELECT Name FROM singer WHERE Birth_Year = 1...,Show the name of singers whose birth year is e...,"[SELECT, Name, FROM, singer, WHERE, Birth_Year...","[select, name, from, singer, where, birth_year...","[Show, the, name, of, singers, whose, birth, y...",singer,NaN,singer_X_singer
215,1009,"[Christy Walton, Alice Walton]",singer,SELECT Name FROM singer WHERE Birth_Year = 1...,What are the names of the singers whose birth ...,"[SELECT, Name, FROM, singer, WHERE, Birth_Year...","[select, name, from, singer, where, birth_year...","[What, are, the, names, of, the, singers, whos...",singer,NaN,singer_X_singer

In [ ]:
merged_df_cleaned = merged_df[merged_df['answer_text'].apply(lambda x: x != [])]

In [ ]:
merged_df_cleaned

,ID,answer_text,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used,operator,seq_id
0,0,[6],concert_singer,SELECT count(*) FROM singer,How many singers do we have?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[How, many, singers, do, we, have, ?]",singer,count,concert_singer_X_singer
1,1,[6],concert_singer,SELECT count(*) FROM singer,What is the total number of singers?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[What, is, the, total, number, of, singers, ?]",singer,count,concert_singer_X_singer
2,2,"[Joe Sharp, Netherlands, 52, John Nizinik, Fra...",concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[Show, name, ,, country, ,, age, for, all, sin...",singer,NaN,concert_singer_X_singer
3,3,"[Joe Sharp, Netherlands, 52, John Nizinik, Fra...",concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[What, are, the, names, ,, countries, ,, and, ...",singer,NaN,concert_singer_X_singer
4,8,"[Netherlands, United States, France]",concert_singer,SELECT DISTINCT country FROM singer WHERE age ...,What are all distinct countries where singers ...,"[SELECT, DISTINCT, country, FROM, singer, WHER...","[select, distinct, country, from, singer, wher...","[What, are, all, distinct, countries, where, s...",singer,NaN,concert_singer_X_singer
...,...,...,...,...,...,...,...,...,...,...,...
211,1005,"[1944.0, France, 1948.0, United States, 1949.0...",singer,"SELECT Birth_Year , Citizenship FROM singer",What are the birth years and citizenships of t...,"[SELECT, Birth_Year, ,, Citizenship, FROM, sin...","[select, birth_year, ,, citizenship, from, sin...","[What, are, the, birth, years, and, citizenshi...",singer,NaN,singer_X_singer
212,1006,"[Christy Walton, Alice Walton, Iris Fontbona, ...",singer,"SELECT Name FROM singer WHERE Citizenship != ""...",List the name of singers whose citizenship is ...,"[SELECT, Name, FROM, singer, WHERE, Citizenshi...","[select, name, from, singer, where, citizenshi...","[List, the, name, of, singers, whose, citizens...",singer,NaN,singer_X_singer
213,1007,"[Christy Walton, Alice Walton, Iris Fontbona, ...",singer,"SELECT Name FROM singer WHERE Citizenship != ""...",What are the names of the singers who are not ...,"[SELECT, Name, FROM, singer, WHERE, Citizenshi...","[select, name, from, singer, where, citizenshi...","[What, are, the, names, of, the, singers, who,...",singer,NaN,singer_X_singer
214,1008,"[Christy Walton, Alice Walton]",singer,SELECT Name FROM singer WHERE Birth_Year = 1...,Show the name of singers whose birth year is e...,"[SELECT, Name, FROM, singer, WHERE, Birth_Year...","[select, name, from, singer, where, birth_year...","[Show, the, name, of, singers, whose, birth, y...",singer,NaN,singer_X_singer
215,1009,"[Christy Walton, Alice Walton]",singer,SELECT Name FROM singer WHERE Birth_Year = 1...,What are the names of the singers whose birth ...,"[SELECT, Name, FROM, singer, WHERE, Birth_Year...","[select, name, from, singer, where, birth_year...","[What, are, the, names, of, the, singers, whos...",singer,NaN,singer_X_singer

In [ ]:
testSpider=pd.read_pickle('/content/drive/MyDrive/spider/SPIDER_Simple_cleaned_final_valid.pkl')

In [ ]:
testSpider

,ID,answer_text,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used,operator,seq_id
0,0,[6],concert_singer,SELECT count(*) FROM singer,How many singers do we have?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[How, many, singers, do, we, have, ?]",singer,count,concert_singer_X_singer
1,1,[6],concert_singer,SELECT count(*) FROM singer,What is the total number of singers?,"[SELECT, count, (, *, ), FROM, singer]","[select, count, (, *, ), from, singer]","[What, is, the, total, number, of, singers, ?]",singer,count,concert_singer_X_singer
2,2,"[Joe Sharp, Netherlands, 52, John Nizinik, Fra...",concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[Show, name, ,, country, ,, age, for, all, sin...",singer,NaN,concert_singer_X_singer
3,3,"[Joe Sharp, Netherlands, 52, John Nizinik, Fra...",concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev...","[SELECT, name, ,, country, ,, age, FROM, singe...","[select, name, ,, country, ,, age, from, singe...","[What, are, the, names, ,, countries, ,, and, ...",singer,NaN,concert_singer_X_singer
4,8,"[Netherlands, United States, France]",concert_singer,SELECT DISTINCT country FROM singer WHERE age ...,What are all distinct countries where singers ...,"[SELECT, DISTINCT, country, FROM, singer, WHER...","[select, distinct, country, from, singer, wher...","[What, are, all, distinct, countries, where, s...",singer,NaN,concert_singer_X_singer
...,...,...,...,...,...,...,...,...,...,...,...
211,1005,"[1944.0, France, 1948.0, United States, 1949.0...",singer,"SELECT Birth_Year , Citizenship FROM singer",What are the birth years and citizenships of t...,"[SELECT, Birth_Year, ,, Citizenship, FROM, sin...","[select, birth_year, ,, citizenship, from, sin...","[What, are, the, birth, years, and, citizenshi...",singer,NaN,singer_X_singer
212,1006,"[Christy Walton, Alice Walton, Iris Fontbona, ...",singer,"SELECT Name FROM singer WHERE Citizenship != ""...",List the name of singers whose citizenship is ...,"[SELECT, Name, FROM, singer, WHERE, Citizenshi...","[select, name, from, singer, where, citizenshi...","[List, the, name, of, singers, whose, citizens...",singer,NaN,singer_X_singer
213,1007,"[Christy Walton, Alice Walton, Iris Fontbona, ...",singer,"SELECT Name FROM singer WHERE Citizenship != ""...",What are the names of the singers who are not ...,"[SELECT, Name, FROM, singer, WHERE, Citizenshi...","[select, name, from, singer, where, citizenshi...","[What, are, the, names, of, the, singers, who,...",singer,NaN,singer_X_singer
214,1008,"[Christy Walton, Alice Walton]",singer,SELECT Name FROM singer WHERE Birth_Year = 1...,Show the name of singers whose birth year is e...,"[SELECT, Name, FROM, singer, WHERE, Birth_Year...","[select, name, from, singer, where, birth_year...","[Show, the, name, of, singers, whose, birth, y...",singer,NaN,singer_X_singer
215,1009,"[Christy Walton, Alice Walton]",singer,SELECT Name FROM singer WHERE Birth_Year = 1...,What are the names of the singers whose birth ...,"[SELECT, Name, FROM, singer, WHERE, Birth_Year...","[select, name, from, singer, where, birth_year...","[What, are, the, names, of, the, singers, whos...",singer,NaN,singer_X_singer

In [ ]:
with open('/content/drive/MyDrive/spider/SPIDER_Simple_cleaned_final_valid.pkl', 'wb') as file:
        pickle.dump(merged_df_cleaned, file)

In [ ]:
#@title pipeline
# merged_df.columns

Here I use a wrapper function around the the fucntion which caluculates the coordinates that we imported earlier `parse_question(
                table=table_data, question=question, answer_texts=answer_texts)`

Here are ids for queries which turned out to be problematic as the answer  and the table don't fit in the sequence lenght limit, so omit them here

In [ ]:
#@title pipeline
# prob=[5, 294, 1290, 1500, 1977, 2035, 2526, 3774, 3775, 3776, 3777, 3796, 3797, 3798, 4168, 4169, 4170, 4184, 4185, 4186, 5432, 5522, 5523, 5651, 5860, 6177,15, 2036, 2527, 5433, 6178,6193,6194]
# merged_df = merged_df[~merged_df['ID'].isin(prob)]

In [ ]:
#@title get_answer_coordinates Old
# def get_answer_coordinates(row):
#     seq_id= row['seq_id']
#     table_data = db_table_to_df.get(seq_id)

#     if table_data is not None:
#         question = row['question']
#         # Ensure answer_texts are strings, even if they are initially integers
#         answer_texts = [str(ans) for ans in row['answer_text']]

#         try:
#             _, new_answer_texts, answer_coordinates, float_value, _ = parse_question(
#                 table=table_data, question=question, answer_texts=answer_texts)
#             return answer_coordinates
#         except Exception as e:
#             print(f"Error processing row: {e}")
#             return None
#     else:
#         return None

In [ ]:
#@title pipeline
problematic_rows_ids=[]
def get_answer_coordinates(row):
    seq_id = row['seq_id']
    table_data = db_table_to_df.get(seq_id)

    if table_data is not None:
        question = row['question']
        answer_texts = [str(ans) for ans in row['answer_text']]

        try:
            _, new_answer_texts, answer_coordinates, float_value, _ = parse_question(
                table=table_data, question=question, answer_texts=answer_texts)
            return answer_coordinates, new_answer_texts, float_value
        except Exception as e:
            problematic_rows_ids.append(row['ID'])
            print(f"Error processing row: {e}")
            return None, None, None
    else:
        problematic_rows_ids.append(row['ID'])
        return None, None, None

In [ ]:
#@title pipeline
# merged_df['answer_coordinates'] = merged_df.apply(get_answer_coordinates, axis=1)
# Applying the function and creating new columns
result = merged_df.apply(get_answer_coordinates, axis=1, result_type='expand')
merged_df['answer_coordinates'], merged_df['float_value'] = result[0], result[2]

Error processing row: Cannot parse answer: [float_value: Cannot convert to multiple answers to single float]
Error processing row: name '_split_thousands' is not defined
Error processing row: name '_split_thousands' is not defined
Error processing row: name '_split_thousands' is not defined
Error processing row: name '_split_thousands' is not defined
Error processing row: Cannot parse answer:

In [ ]:
#@title pipeline
# merged_df

Drop the querries which have empty answers

In [ ]:
#@title pipeline
# problematic_rows = merged_df[merged_df['ID'].isin(problematic_rows_ids)].copy()
# problematic_rows.head(50)

In [ ]:
#@title pipeline
merged_df_cleaned = merged_df[~merged_df['ID'].isin(problematic_rows_ids)].copy()

In [ ]:
merged_df_cleaned

,ID,answer_text,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used,operator,seq_id,answer_coordinates,float_value
0,0,[5],department_management,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older th...,"[SELECT, count, (, *, ), FROM, head, WHERE, ag...","[select, count, (, *, ), from, head, where, ag...","[How, many, heads, of, the, departments, are, ...",head,count,department_management_X_head,"[(4, 0)]",5.000000
1,1,"[Pádraig Harrington, Connecticut, 43.0, Stewar...",department_management,"SELECT name , born_state , age FROM head ORD...","List the name, born state and age of the heads...","[SELECT, name, ,, born_state, ,, age, FROM, he...","[select, name, ,, born_state, ,, age, from, he...","[List, the, name, ,, born, state, and, age, of...",head,NaN,department_management_X_head,"[(8, 1), (8, 2), (8, 3), (6, 1), (6, 2), (6, 3...",NaN
2,2,"[1789, State, 9.96, 1789, Treasury, 11.1, 1947...",department_management,"SELECT creation , name , budget_in_billions ...","List the creation year, name and budget of eac...","[SELECT, creation, ,, name, ,, budget_in_billi...","[select, creation, ,, name, ,, budget_in_billi...","[List, the, creation, year, ,, name, and, budg...",department,NaN,department_management_X_department,"[(0, 2), (0, 1), (0, 4), (1, 2), (1, 1), (1, 4...",NaN
3,4,[105468.16666666667],department_management,SELECT avg(num_employees) FROM department WHER...,What is the average number of employees of the...,"[SELECT, avg, (, num_employees, ), FROM, depar...","[select, avg, (, num_employees, ), from, depar...","[What, is, the, average, number, of, employees...",department,avg,department_management_X_department,None,105468.166667
4,5,"[Tiger Woods, K. J. Choi, Jeff Maggert, Stewar...",department_management,SELECT name FROM head WHERE born_state != 'Cal...,What are the names of the heads who are born o...,"[SELECT, name, FROM, head, WHERE, born_state, ...","[select, name, from, head, where, born_state, ...","[What, are, the, names, of, the, heads, who, a...",head,NaN,department_management_X_head,"[(0, 1), (2, 1), (4, 1), (6, 1), (8, 1), (9, 1)]",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1689,6983,"[Jill Rips, 2000, Anthony Hickox, Storm Catche...",culture_company,"SELECT title , YEAR , director FROM movie OR...","What are the titles, years, and directors of a...","[SELECT, title, ,, YEAR, ,, director, FROM, mo...","[select, title, ,, year, ,, director, from, mo...","[What, are, the, titles, ,, years, ,, and, dir...",movie,NaN,culture_company_X_movie,"[(3, 1), (3, 2), (2, 3), (2, 1), (0, 2), (3, 3...",NaN
1690,6984,[9],culture_company,SELECT COUNT (DISTINCT director) FROM movie,How many movie directors are there?,"[SELECT, COUNT, (, DISTINCT, director, ), FROM...","[select, count, (, distinct, director, ), from...","[How, many, movie, directors, are, there, ?]",movie,count,culture_company_X_movie,"[(8, 0)]",9.000000
1691,6985,[9],culture_company,SELECT COUNT (DISTINCT director) FROM movie,Count the number of different directors.,"[SELECT, COUNT, (, DISTINCT, director, ), FROM...","[select, count, (, distinct, director, ), from...","[Count, the, number, of, different, directors, .]",movie,count,culture_company_X_movie,"[(8, 0)]",9.000000
1692,6990,"[Troy Duffy, John Swanbeck, Anthony Hickox, An...",culture_company,SELECT director FROM movie WHERE YEAR = 1999...,Show all director names who have a movie in th...,"[SELECT, director, FROM, movie, WHERE, YEAR, =...","[select, director, from, movie, where, year, =...","[Show, all, director, names, who, have, a, mov...",movie,NaN,culture_company_X_movie,"[(0, 3), (1, 3), (2, 3), (3, 3), (4, 3), (5, 3...",NaN
1693,6991,"[Troy Duffy, John Swanbeck, Anthony Hickox, An...",culture_company,SELECT director FROM movie WHERE YEAR = 1999...,Which directors had a movie in either 1999 or ...,"[SELECT, director, FROM, movie, WHERE, YEAR, =...","[select, director, from, movie, where, year, =...","[Which, directors, had, a, movie, in, either, ...",movie,NaN,culture_company_X_movie,"[(0, 3), (1, 3), (2, 3), (3, 3), (4, 3), (5, 3...",NaN

In [ ]:
#@title pipeline
# merged_df_cleaned

I noticed that the model performs better when the quetions for the same table are given in a squence, so we add a random positioning for this

In [ ]:
#@title pipeline
merged_df_cleaned = merged_df_cleaned.dropna(subset=['answer_coordinates'])
merged_df_cleaned

,ID,answer_text,db_id,query,question,query_toks,query_toks_no_value,question_toks,table_used,operator,seq_id,answer_coordinates,float_value
0,0,[5],department_management,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older th...,"[SELECT, count, (, *, ), FROM, head, WHERE, ag...","[select, count, (, *, ), from, head, where, ag...","[How, many, heads, of, the, departments, are, ...",head,count,department_management_X_head,"[(4, 0)]",5.0
1,1,"[Pádraig Harrington, Connecticut, 43.0, Stewar...",department_management,"SELECT name , born_state , age FROM head ORD...","List the name, born state and age of the heads...","[SELECT, name, ,, born_state, ,, age, FROM, he...","[select, name, ,, born_state, ,, age, from, he...","[List, the, name, ,, born, state, and, age, of...",head,NaN,department_management_X_head,"[(8, 1), (8, 2), (8, 3), (6, 1), (6, 2), (6, 3...",NaN
2,2,"[1789, State, 9.96, 1789, Treasury, 11.1, 1947...",department_management,"SELECT creation , name , budget_in_billions ...","List the creation year, name and budget of eac...","[SELECT, creation, ,, name, ,, budget_in_billi...","[select, creation, ,, name, ,, budget_in_billi...","[List, the, creation, year, ,, name, and, budg...",department,NaN,department_management_X_department,"[(0, 2), (0, 1), (0, 4), (1, 2), (1, 1), (1, 4...",NaN
4,5,"[Tiger Woods, K. J. Choi, Jeff Maggert, Stewar...",department_management,SELECT name FROM head WHERE born_state != 'Cal...,What are the names of the heads who are born o...,"[SELECT, name, FROM, head, WHERE, born_state, ...","[select, name, from, head, where, born_state, ...","[What, are, the, names, of, the, heads, who, a...",head,NaN,department_management_X_head,"[(0, 1), (2, 1), (4, 1), (6, 1), (8, 1), (9, 1)]",NaN
5,7,[California],department_management,SELECT born_state FROM head GROUP BY born_stat...,What are the names of the states where at leas...,"[SELECT, born_state, FROM, head, GROUP, BY, bo...","[select, born_state, from, head, group, by, bo...","[What, are, the, names, of, the, states, where...",head,NaN,department_management_X_head,"[(1, 2)]",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1689,6983,"[Jill Rips, 2000, Anthony Hickox, Storm Catche...",culture_company,"SELECT title , YEAR , director FROM movie OR...","What are the titles, years, and directors of a...","[SELECT, title, ,, YEAR, ,, director, FROM, mo...","[select, title, ,, year, ,, director, from, mo...","[What, are, the, titles, ,, years, ,, and, dir...",movie,NaN,culture_company_X_movie,"[(3, 1), (3, 2), (2, 3), (2, 1), (0, 2), (3, 3...",NaN
1690,6984,[9],culture_company,SELECT COUNT (DISTINCT director) FROM movie,How many movie directors are there?,"[SELECT, COUNT, (, DISTINCT, director, ), FROM...","[select, count, (, distinct, director, ), from...","[How, many, movie, directors, are, there, ?]",movie,count,culture_company_X_movie,"[(8, 0)]",9.0
1691,6985,[9],culture_company,SELECT COUNT (DISTINCT director) FROM movie,Count the number of different directors.,"[SELECT, COUNT, (, DISTINCT, director, ), FROM...","[select, count, (, distinct, director, ), from...","[Count, the, number, of, different, directors, .]",movie,count,culture_company_X_movie,"[(8, 0)]",9.0
1692,6990,"[Troy Duffy, John Swanbeck, Anthony Hickox, An...",culture_company,SELECT director FROM movie WHERE YEAR = 1999...,Show all director names who have a movie in th...,"[SELECT, director, FROM, movie, WHERE, YEAR, =...","[select, director, from, movie, where, year, =...","[Show, all, director, names, who, have, a, mov...",movie,NaN,culture_company_X_movie,"[(0, 3), (1, 3), (2, 3), (3, 3), (4, 3), (5, 3...",NaN
1693,6991,"[Troy Duffy, John Swanbeck, Anthony Hickox, An...",culture_company,SELECT director FROM movie WHERE YEAR = 1999...,Which directors had a movie in either 1999 or ...,"[SELECT, director, FROM, movie, WHERE, YEAR, =...","[select, director, from, movie, where, year, =...","[Which, directors, had, a, movie, in, either, ...",movie,NaN,culture_company_X_movie,"[(0, 3), (1, 3), (2, 3), (3, 3), (4, 3), (5, 3...",NaN

In [ ]:
with open('/content/drive/MyDrive/spider/SPIDER_Simple_cleaned_final_valid.pkl', 'wb') as file:
        pickle.dump(simple_df, file)

In [ ]:
with open('/content/drive/MyDrive/spider/SPIDER_Simple_cleaned_final.pkl', 'wb') as file:
        pickle.dump(merged_df_cleaned, file)

In [ ]:
#@title Cleanig QATCH
db_ids_train_spider= set(instance['db_id'] for instance in train_set)


from qatch.database_reader import MultipleDatabases

# The path to multiple databases
db_save_path = '/content/drive/MyDrive/spider/test_database'
databases = MultipleDatabases(db_save_path)


from qatch import TestGenerator

# init generator
test_generator = TestGenerator(databases=databases)

# generate tests for each database and for each generator
tests_df = test_generator.generate()


# Create a mask where each row is True if 'db_id' is in db_ids_train_spider, else False
mask = tests_df['db_id'].isin(db_ids_train_spider)

# Apply the mask to filter the DataFrame
tests_df = tests_df[mask]

unique_db_ids=tests_df['db_id'].unique()


tests_df = tests_df[tests_df.apply(lambda row: row['tbl_name'] in db_to_tables_constraint.get(row['db_id'], []), axis=1)]

tests_df=tests_df.rename(columns={'tbl_name':'table_used'})


# qatch_synthetic=tests_df.drop(columns=["sql_tags"], axis=1)
qatch_synthetic=tests_df.copy()
qatch_synthetic['seq_id'] = qatch_synthetic.apply(lambda row: f"{row['db_id']}_X_{row['table_used']}", axis=1)


qatch_synthetic.reset_index(inplace=True)
qatch_synthetic.rename(columns={'index': 'ID'}, inplace=True)


results_df_qatch = pd.DataFrame(columns=['ID','answer_text'])


base_path = '/content/drive/MyDrive/spider/test_database/'

for index, row in qatch_synthetic.iterrows():
    db_id = row['db_id']
    table_used = row['table_used']
    query = row['query']
    ID=row['ID']


    db_path = f'{base_path}{db_id}/{db_id}.sqlite'


    with sqlite3.connect(db_path) as conn:
        cur = conn.cursor()
        cur.execute(query)
        answers = cur.fetchall()


        list_answers = list(chain.from_iterable(answers))


        new_row = pd.DataFrame({'ID': [ID], 'answer_text': [list_answers]})
        results_df_qatch = pd.concat([results_df_qatch, new_row], ignore_index=True)


merged_df_qatch = pd.merge(results_df_qatch, qatch_synthetic, on='ID')
merged_df_qatch = merged_df_qatch[merged_df_qatch['answer_text'].apply(lambda x: x != [])]


problematic_rows_ids=[]


result = merged_df_qatch.apply(get_answer_coordinates, axis=1, result_type='expand')
merged_df_qatch['answer_coordinates'],merged_df_qatch['float_value'] = result[0],result[2]

merged_df_cleaned_qatch = merged_df_qatch[~merged_df_qatch['ID'].isin(problematic_rows_ids)].copy()

merged_df_cleaned_qatch = merged_df_cleaned_qatch.dropna(subset=['answer_coordinates'])

In [ ]:
#@title pipeline
# float_df = merged_df_test.dropna(subset=['float_value'])
# float_df.head(50)

In [ ]:
merged_df_cleaned = pd.read_pickle('/content/drive/MyDrive/spider/cleaned_SPIDER_train.pkl')
merged_df_cleaned

,ID,answer_text,db_id,query,question,table_used,seq_id,answer_coordinates,float_value
0,0,[5],department_management,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older th...,head,department_management_X_head,"[(4, 0)]",5.0
1,1,"[Pádraig Harrington, Connecticut, 43.0, Stewar...",department_management,"SELECT name , born_state , age FROM head ORD...","List the name, born state and age of the heads...",head,department_management_X_head,"[(8, 1), (8, 2), (8, 3), (6, 1), (6, 2), (6, 3...",NaN
2,2,"[1789, State, 9.96, 1789, Treasury, 11.1, 1947...",department_management,"SELECT creation , name , budget_in_billions ...","List the creation year, name and budget of eac...",department,department_management_X_department,"[(0, 2), (0, 1), (0, 4), (1, 2), (1, 1), (1, 4...",NaN
4,5,"[Tiger Woods, K. J. Choi, Jeff Maggert, Stewar...",department_management,SELECT name FROM head WHERE born_state != 'Cal...,What are the names of the heads who are born o...,head,department_management_X_head,"[(0, 1), (2, 1), (4, 1), (6, 1), (8, 1), (9, 1)]",NaN
5,7,[California],department_management,SELECT born_state FROM head GROUP BY born_stat...,What are the names of the states where at leas...,head,department_management_X_head,"[(1, 2)]",NaN
...,...,...,...,...,...,...,...,...,...
2454,6985,[9],culture_company,SELECT COUNT (DISTINCT director) FROM movie,Count the number of different directors.,movie,culture_company_X_movie,"[(8, 0)]",9.0
2455,6986,"[The Whole Nine Yards, Jonathan Lynn]",culture_company,"SELECT title , director FROM movie WHERE YEAR...",What is the title and director for the movie w...,movie,culture_company_X_movie,"[(4, 1), (4, 3)]",NaN
2456,6987,"[The Whole Nine Yards, Jonathan Lynn]",culture_company,"SELECT title , director FROM movie WHERE YEAR...",Return the title and director of the movie rel...,movie,culture_company_X_movie,"[(4, 1), (4, 3)]",NaN
2457,6990,"[Troy Duffy, John Swanbeck, Anthony Hickox, An...",culture_company,SELECT director FROM movie WHERE YEAR = 1999...,Show all director names who have a movie in th...,movie,culture_company_X_movie,"[(0, 3), (1, 3), (2, 3), (3, 3), (4, 3), (5, 3...",NaN
2458,6991,"[Troy Duffy, John Swanbeck, Anthony Hickox, An...",culture_company,SELECT director FROM movie WHERE YEAR = 1999...,Which directors had a movie in either 1999 or ...,movie,culture_company_X_movie,"[(0, 3), (1, 3), (2, 3), (3, 3), (4, 3), (5, 3...",NaN

In [ ]:
# Filtering rows where 'your_column_name' column has non-NaN values
float_df = merged_df_cleaned[merged_df_cleaned['float_value'].notna()]

float_df.head(50)

,ID,answer_text,db_id,query,question,table_used,seq_id,answer_coordinates,float_value
0,0,[5],department_management,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older th...,head,department_management_X_head,"[(4, 0)]",5.0
6,8,[1789],department_management,SELECT creation FROM department GROUP BY creat...,In which year were most departments established?,department,department_management_X_department,"[(0, 2)]",1789.0
7,10,[2],department_management,SELECT count(DISTINCT temporary_acting) FROM m...,How many acting statuses are there?,management,department_management_X_management,"[(0, 0)]",2.0
19,28,[2],farm,SELECT count(DISTINCT Status) FROM city,How many different statuses do cities have?,city,farm_X_city,"[(1, 0)]",2.0
20,29,[2],farm,SELECT count(DISTINCT Status) FROM city,Count the number of different statuses.,city,farm_X_city,"[(1, 0)]",2.0
35,58,[111],student_assessment,SELECT student_id FROM student_course_registra...,what is id of students who registered some cou...,Student_Course_Registrations,student_assessment_X_Student_Course_Registrations,"[(0, 0)]",111.0
36,59,[111],student_assessment,SELECT student_id FROM student_course_registra...,What are the ids of the students who registere...,Student_Course_Registrations,student_assessment_X_Student_Course_Registrations,"[(0, 0)]",111.0
39,75,[121],student_assessment,SELECT candidate_id FROM candidate_assessments...,Find id of the candidate who most recently acc...,Candidate_Assessments,student_assessment_X_Candidate_Assessments,"[(1, 0)]",121.0
40,76,[121],student_assessment,SELECT candidate_id FROM candidate_assessments...,What is the id of the candidate who most recen...,Candidate_Assessments,student_assessment_X_Candidate_Assessments,"[(1, 0)]",121.0
45,89,[171],student_assessment,SELECT student_id FROM student_course_attendan...,What is the id of the student who most recentl...,Student_Course_Attendance,student_assessment_X_Student_Course_Attendance,"[(4, 0)]",171.0
46,90,[171],student_assessment,SELECT student_id FROM student_course_attendan...,What are the ids of the students who registere...,Student_Course_Attendance,student_assessment_X_Student_Course_Attendance,"[(4, 0)]",171.0
51,213,[10],book_2,SELECT count(*) FROM book,How many books are there?,book,book_2_X_book,"[(9, 0)]",10.0
64,231,[6],book_2,SELECT COUNT (DISTINCT Publication_Date) FROM ...,What is the number of distinct publication dates?,publication,book_2_X_publication,"[(5, 0)]",6.0
65,232,[6],book_2,SELECT COUNT (DISTINCT Publication_Date) FROM ...,How many distinct publication dates are there ...,publication,book_2_X_publication,"[(5, 0)]",6.0
67,234,[9],musical,SELECT count(*) FROM actor,How many actors are there?,actor,musical_X_actor,"[(8, 0)]",9.0
68,235,[9],musical,SELECT count(*) FROM actor,Count the number of actors.,actor,musical_X_actor,"[(8, 0)]",9.0
88,275,[1],twitter_1,SELECT partitionid FROM user_profiles WHERE na...,"What is the partition id of the user named ""Ir...",user_profiles,twitter_1_X_user_profiles,"[(0, 0)]",1.0
89,276,[7],twitter_1,SELECT count(*) FROM user_profiles,How many users are there?,user_profiles,twitter_1_X_user_profiles,"[(6, 0)]",7.0
92,279,[8],twitter_1,SELECT count(*) FROM tweets,Find the number of tweets in record.,tweets,twitter_1_X_tweets,"[(6, 0)]",8.0
93,280,[5],twitter_1,SELECT count(DISTINCT UID) FROM tweets,Find the number of users who posted some tweets.,tweets,twitter_1_X_tweets,"[(3, 0)]",5.0
127,339,[15],product_catalog,SELECT count(*) FROM catalog_contents,How many products are there in the records?,Catalog_Contents,product_catalog_X_Catalog_Contents,"[(14, 0)]",15.0
128,340,[15],product_catalog,SELECT count(*) FROM catalog_contents,Find the total number of catalog contents.,Catalog_Contents,product_catalog_X_Catalog_Contents,"[(14, 0)]",15.0
131,381,[10],flight_1,SELECT count(*) FROM Flight,How many flights do we have?,flight,flight_1_X_flight,"[(9, 7)]",10.0
132,382,[10],flight_1,SELECT count(*) FROM Flight,What is the number of flights?,flight,flight_1_X_flight,"[(9, 7)]",10.0
185,595,[8],store_1,SELECT count(*) FROM employees WHERE country =...,How many employees are living in Canada?,employees,store_1_X_employees,"[(7, 0)]",8.0
186,596,[8],store_1,SELECT count(*) FROM employees WHERE country =...,How many employees live in Canada?,employees,store_1_X_employees,"[(7, 0)]",8.0
197,649,[9],journal_committee,SELECT count(*) FROM editor,How many editors are there?,editor,journal_committee_X_editor,"[(8, 0)]",9.0
204,656,[54.0],journal_committee,SELECT Age FROM editor GROUP BY Age ORDER BY C...,Please show the most common age of editors.,editor,journal_committee_X_editor,"[(7, 2)]",54.0
205,667,[15],customers_card_transactions,SELECT count(*) FROM Accounts,How many accounts do we have?,Accounts,customers_card_transactions_X_Accounts,"[(14, 0)]",15.0
206,668,[15],customers_card_transactions,SELECT count(*) FROM Accounts,Count the number of accounts.,Accounts,customers_card_transactions_X_Accounts,"[(14, 0)]",15.0
215,689,[9],customers_card_transactions,SELECT count(DISTINCT customer_id) FROM Accounts,How many customers have an account?,Accounts,customers_card_transactions_X_Accounts,"[(2, 1)]",9.0
216,690,[9],customers_card_transactions,SELECT count(DISTINCT customer_id) FROM Accounts,Count the number of customers who hold an acco...,Accounts,customers_card_transactions_X_Accounts,"[(2, 1)]",9.0
217,691,[15],customers_card_transactions,SELECT count(*) FROM Customers,How many customers do we have?,Customers,customers_card_transactions_X_Customers,"[(14, 0)]",15.0
218,692,[15],customers_card_transactions,SELECT count(*) FROM Customers,Count the number of customers.,Customers,customers_card_transactions_X_Customers,"[(14, 0)]",15.0
223,697,[15],customers_card_transactions,SELECT count(*) FROM Customers_cards,Show the number of customer cards.,Customers_Cards,customers_card_transactions_X_Customers_Cards,"[(3, 1)]",15.0
224,698,[15],customers_card_transactions,SELECT count(*) FROM Customers_cards,How many customer cards are there?,Customers_Cards,customers_card_transactions_X_Customers_Cards,"[(3, 1)]",15.0
229,707,[8],customers_card_transactions,SELECT count(*) FROM Customers_cards WHERE car...,How many debit cards do we have?,Customers_Cards,customers_card_transactions_X_Customers_Cards,"[(7, 0)]",8.0
230,708,[8],customers_card_transactions,SELECT count(*) FROM Customers_cards WHERE car...,Count the number of customer cards of the type...,Customers_Cards,customers_card_transactions_X_Customers_Cards,"[(7, 0)]",8.0
245,731,[2],customers_card_transactions,SELECT count(DISTINCT card_type_code) FROM Cus...,Show the number of card types.,Customers_Cards,customers_card_transactions_X_Customers_Cards,"[(1, 0)]",2.0
246,732,[2],customers_card_transactions,SELECT count(DISTINCT card_type_code) FROM Cus...,How many different card types are there?,Customers_Cards,customers_card_transactions_X_Customers_Cards,"[(1, 0)]",2.0
249,735,[2],customers_card_transactions,SELECT count(DISTINCT transaction_type) FROM F...,Show the number of transaction types.,Financial_Transactions,customers_card_transactions_X_Financial_Transa...,"[(1, 0)]",2.0
250,736,[2],customers_card_transactions,SELECT count(DISTINCT transaction_type) FROM F...,How many different types of transactions are t...,Financial_Transactions,customers_card_transactions_X_Financial_Transa...,"[(1, 0)]",2.0
257,747,[9],race_track,SELECT count(*) FROM track,How many tracks do we have?,track,race_track_X_track,"[(8, 0)]",9.0
258,748,[9],race_track,SELECT count(*) FROM track,Count the number of tracks.,track,race_track_X_track,"[(8, 0)]",9.0
269,761,[7],race_track,SELECT count(*) FROM race,How many races are there?,race,race_track_X_race,"[(6, 0)]",7.0
270,762,[7],race_track,SELECT count(*) FROM race,Count the number of races.,race,race_track_X_race,"[(6, 0)]",7.0
283,789,[6],coffee_shop,SELECT count(*) FROM member WHERE Membership_c...,How many members have the black membership card?,member,coffee_shop_X_member,"[(2, 5)]",6.0
289,797,[7],coffee_shop,SELECT count(*) FROM member WHERE address != '...,How many members are not living in Hartford?,member,coffee_shop_X_member,"[(6, 0)]",7.0
298,853,[3],chinook_1,SELECT COUNT(DISTINCT city) FROM EMPLOYEE,How many distinct cities does the employees li...,Employee,chinook_1_X_Employee,"[(2, 0)]",3.0
299,854,[3],chinook_1,SELECT COUNT(DISTINCT city) FROM EMPLOYEE,Find the number of different cities that emplo...,Employee,chinook_1_X_Employee,"[(2, 0)]",3.0

In [ ]:
import re

def is_simple_query_with_single_aggregation(query):
    # Define both disallowed general keywords and specific aggregation keywords.
    disallowed_keywords = {
        'join', 'union', 'intersect', 'except', 'inner',
        'outer', 'left', 'right', 'full'
    }
    aggregation_keywords = {
        'count', 'sum', 'avg', 'min', 'max'
    }

    # Convert the query to lowercase for comparison.
    query_lower = query.lower()

    # Check for disallowed general keywords.
    for keyword in disallowed_keywords:
        if keyword in query_lower:
            return False

    # Check for aggregation keywords using regex.
    aggregation_pattern = r'\b(' + '|'.join(aggregation_keywords) + r')\b'
    aggregation_matches = re.findall(aggregation_pattern, query_lower)

    # Check if there is exactly one aggregation keyword.
    if len(aggregation_matches) != 1:
        return False

    return True

In [ ]:
query="SELECT AVG() FROM head WHERE age > 56"
print(is_simple_query_with_single_aggregation(query))

True

In [ ]:
# merged_df_cleaned['position'] = merged_df_cleaned.groupby('seq_id').cumcount()

This is is just for testing purposes , just like the other google reserach notebook where they test the tapas encoding int this way, by grouping the tables and their questions.

In [ ]:
grouped = merged_df_cleaned.groupby('seq_id').agg(lambda x: x.tolist())
grouped = grouped.reset_index()

grouped

,seq_id,ID,answer_text,db_id,query,question,table_used,answer_coordinates,float_value
0,aircraft_X_aircraft,"[4797, 4798, 4799, 4800]","[[5], [5], [Light utility helicopter, Turbosha...","[aircraft, aircraft, aircraft, aircraft]","[SELECT count(*) FROM aircraft, SELECT count(*...","[How many aircrafts are there?, What is the nu...","[aircraft, aircraft, aircraft, aircraft]","[[(4, 0)], [(4, 0)], [(0, 2), (1, 2), (2, 2), ...","[5.0, 5.0, nan, nan]"
1,aircraft_X_airport,"[4803, 4804, 4835, 4836]","[[61344438.0, 5562516.0], [61344438.0, 5562516...","[aircraft, aircraft, aircraft, aircraft]","[SELECT International_Passengers , Domestic_P...",[What are the number of international and dome...,"[airport, airport, airport, airport]","[[(0, 4), (0, 5)], [(0, 4), (0, 5)], [(0, 0), ...","[nan, nan, nan, nan]"
2,aircraft_X_pilot,"[4809, 4810, 4811, 4812, 4813, 4814, 4827, 4828]","[[Ayana Spencer, Ellen Ledner III, Elisha Hick...","[aircraft, aircraft, aircraft, aircraft, aircr...","[SELECT Name FROM pilot WHERE Age >= 25, SEL...",[What are the name of pilots aged 25 or older?...,"[pilot, pilot, pilot, pilot, pilot, pilot, pil...","[[(3, 1), (4, 1), (5, 1), (6, 1), (7, 1), (8, ...","[nan, nan, nan, nan, nan, nan, nan, nan]"
3,allergy_1_X_Allergy_Type,"[443, 444, 445, 446, 447, 448, 449, 450, 455, ...","[[food, environmental, animal], [food, environ...","[allergy_1, allergy_1, allergy_1, allergy_1, a...",[SELECT DISTINCT allergytype FROM Allergy_type...,"[Show all allergy types., What are the differe...","[Allergy_Type, Allergy_Type, Allergy_Type, All...","[[(0, 1), (7, 1), (10, 1)], [(0, 1), (7, 1), (...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
4,apartment_rentals_X_Apartment_Bookings,"[1194, 1195, 1196, 1197, 1248, 1249]","[[15], [15], [2016-09-26 17:13:49, 2017-10-07 ...","[apartment_rentals, apartment_rentals, apartme...","[SELECT count(*) FROM Apartment_Bookings, SELE...",[How many apartment bookings are there in tota...,"[Apartment_Bookings, Apartment_Bookings, Apart...","[[(1, 1)], [(1, 1)], [(0, 4), (0, 5), (1, 4), ...","[15.0, 15.0, nan, nan, nan, nan]"
...,...,...,...,...,...,...,...,...,...
328,wedding_X_wedding,"[1645, 1648]","[[2], [2]]","[wedding, wedding]",[SELECT count(*) FROM wedding WHERE YEAR = 2...,"[How many weddings are there in year 2016?, Ho...","[wedding, wedding]","[[(0, 2)], [(0, 2)]]","[2.0, 2.0]"
329,workshop_paper_X_submission,"[5814, 5815, 5816, 5817, 5818, 5819, 5820, 582...","[[10], [10], [Steve Niehaus, Sherman Smith, Sa...","[workshop_paper, workshop_paper, workshop_pape...","[SELECT count(*) FROM submission, SELECT count...","[How many submissions are there?, Count the nu...","[submission, submission, submission, submissio...","[[(9, 0)], [(9, 0)], [(0, 2), (2, 2), (1, 2), ...","[10.0, 10.0, nan, nan, nan, nan, nan, nan, nan..."
330,workshop_paper_X_workshop,"[5840, 5841]","[[July 5, 2011, Istanbul Turkey, August 18, 20...","[workshop_paper, workshop_paper]","[SELECT Date , Venue FROM workshop ORDER BY V...",[Show the date and venue of each workshop in a...,"[workshop, workshop]","[[(5, 1), (5, 2), (0, 1), (0, 2), (1, 1), (1, ...","[nan, nan]"
331,wrestler_X_Elimination,"[1854, 1855, 1882, 1883]","[[Go To Sleep, Spear], [Go To Sleep, Spear], [...","[wrestler, wrestler, wrestler, wrestler]",[SELECT Elimination_Move FROM Elimination WHER...,[What are the elimination moves of wrestlers w...,"[Elimination, Elimination, Elimination, Elimin...","[[(0, 4), (5, 4)], [(0, 4), (5, 4)], [(0, 5), ...","[nan, nan, nan, nan]"
332,wrestler_X_wrestler,"[1844, 1845, 1846, 1847, 1848, 1849, 1850, 185...","[[10], [10], [The Great Sasuke §, Gran Hamada,...","[wrestler, wrestler, wrestler, wrestler, wrest...","[SELECT count(*) FROM wrestler, SELECT count(*...","[How many wrestlers are there?, Count the numb...","[wrestler, wrestler, wrestler, wrestler, wrest...","[[(9, 0)], [(9, 0)], [(5, 1), (3, 1), (9, 1), ...","[10.0, 10.0, nan, nan, nan, nan, nan, nan, nan..."

In [ ]:
import torch
from transformers import TapasTokenizer

# initialize the tokenizer
tokenizer = TapasTokenizer.from_pretrained("google/tapas-base")

tokenizer_config.json:   0%|          | 0.00/490 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/262k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/154 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/1.52k [00:00<?, ?B/s]

In [ ]:
item = grouped.iloc[5]
table=db_table_to_df[item.seq_id].astype(str)
display(table)
print("")
print(table.columns)
print("")
print(item.question)
print("")
print(item.answer_text)

,building_id,building_short_name,building_full_name,building_description,building_address,building_manager,building_phone
0,133,Normandie Court,Normandie Court,Studio,"7950 Casper Vista Apt. 176\nMarquiseberg, CA 7...",Emma,(948)040-1064x387
1,153,Mercedes House,Mercedes House,Studio,"354 Otto Villages\nCharliefort, VT 71664",Brenden,915-617-2408x832
2,191,The Eugene,The Eugene,Flat,"71537 Gorczany Inlet\nWisozkburgh, AL 08256",Melyssa,(609)946-0491
3,196,VIA 57 WEST,VIA 57 WEST,Studio,"959 Ethel Viaduct\nWest Efrainburgh, DE 40074",Kathlyn,681.772.2454
4,225,Columbus Square,Columbus Square,Studio,"0703 Danika Mountains Apt. 362\nMohrland, AL 5...",Kyle,1-724-982-9507x640
5,532,Avalon Park,Avalon Park,Duplex,"6827 Kessler Parkway Suite 908\nAhmedberg, WI ...",Albert,376-017-3538
6,556,Peter Cooper Village,Peter Cooper Village,Flat,"861 Narciso Glens Suite 392\nEast Ottis, ND 73970",Darlene,1-224-619-0295x13195
7,624,Stuyvesant Town,Stuyvesant Town,Studio,101 Queenie Mountains Suite 619\nNew Korbinmou...,Marie,(145)411-6406
8,644,The Anthem,The Anthem,Flat,"50804 Mason Isle Suite 844\nWest Whitney, ID 6...",Ewald,(909)086-5221x3455
9,673,Barclay Tower,Barclay Tower,Flat,"1579 Runte Forges Apt. 548\nLeuschkeland, OK 1...",Rogers,1-326-267-3386x613
10,734,Windsor Court,Windsor Court,Studio,"601 Graham Roads\nPort Luz, VA 29660-6703",Olaf,(480)480-7401
11,744,Silver Towers,Silver Towers,Flat,"1844 Armstrong Stravenue Suite 853\nMyrnatown,...",Claude,1-667-728-2287x3158
12,790,Biltmore Plaza,Biltmore Plaza,Duplex,"489 Josh Orchard Apt. 998\nSipesview, DE 69053",Sydni,544-148-5565x2847
13,808,Petersfield,Petersfield,Studio,54686 Christopher Circles Apt. 321\nDaytonland...,Juvenal,318-398-8140
14,968,The Clinton,The Clinton,Flat,"012 Arnoldo Mountain\nGerholdland, ID 23342",Holly,1-605-511-1973x25011

Index(['building_id', 'building_short_name', 'building_full_name',
       'building_description', 'building_address', 'building_manager',
       'building_phone'],
      dtype='object')

['Show all distinct building descriptions.', 'Give me a list of all the distinct building descriptions.', 'Show the short names of the buildings managed by "Emma".', 'Which buildings does "Emma" manage? Give me the short names of the buildings.', 'Show the addresses and phones of all the buildings managed by "Brenden".', 'What are the address and phone number of the buildings managed by "Brenden"?']

[['Studio', 'Flat', 'Duplex'], ['Studio', 'Flat', 'Duplex'], ['Normandie Court'], ['Normandie Court'], ['354 Otto Villages\nCharliefort, VT 71664', '915-617-2408x832'], ['354 Otto Villages\nCharliefort, VT 71664', '915-617-2408x832']]

# Fine tunning:
The table we are going to give to tapas is merged_Df, the grouped table we created before was just for experimentation purposes.

In [ ]:
# @title Old tokenization
# class TableDataset(torch.utils.data.Dataset):
#     def __init__(self, df, tokenizer):
#         self.df = df
#         self.tokenizer = tokenizer
#         self.problematic_ids = []  # Initialize a list to store IDs of problematic questions

#     def __getitem__(self, idx):
#         item = self.df.iloc[idx]
#         table_name = item['seq_id']
#         table = db_table_to_df[table_name].astype(str)

#         try:
#             if item.position != 0:
#                 previous_item = self.df.iloc[idx-1]
#                 encoding = self.tokenizer(table=table,
#                                           queries=[previous_item.question, item.question],
#                                           answer_coordinates=[previous_item.answer_coordinates, item.answer_coordinates],
#                                           answer_text=[previous_item.answer_text, item.answer_text],
#                                           padding="max_length",
#                                           truncation=True,
#                                           return_tensors="pt"
#                                          )
#                 # Use encodings of second table-question pair in the batch
#                 encoding = {key: val[-1] for key, val in encoding.items()}
#             else:
#                 # This means it's the first table-question pair in a sequence
#                 encoding = self.tokenizer(table=table,
#                                           queries=item.question,
#                                           answer_coordinates=item.answer_coordinates,
#                                           answer_text=item.answer_text,
#                                           padding="max_length",
#                                           truncation=True,
#                                           return_tensors="pt"
#                                          )
#                 # Remove the batch dimension which the tokenizer adds
#                 encoding = {key: val.squeeze(0) for key, val in encoding.items()}

#         except Exception as e:
#             print(f"Error processing index {idx} (ID: {item['ID']}): {e}")
#             self.problematic_ids.append(item['ID'])  # Store the ID of the problematic question
#             encoding = None

#         return encoding

#     def __len__(self):
#         return len(self.df)

#     def get_problematic_ids(self):
#         # Returns the list of problematic IDs
#         return self.problematic_ids

# # Custom collate function to filter out None values
# def custom_collate_fn(batch):
#     batch = [item for item in batch if item is not None]  # Filter out None values
#     if not batch:
#         return None
#     return torch.utils.data.dataloader.default_collate(batch)

# train_dataset = TableDataset(df=merged_df_cleaned, tokenizer=tokenizer)
# train_dataloader = torch.utils.data.DataLoader(train_dataset, batch_size=8, collate_fn=custom_collate_fn)



# for idx, batch in enumerate(train_dataloader):
#     if batch is not None:  # Only process batches that are not None
#         print(f"Batch {idx} loaded successfully")
#     else:
#         print(f"Batch {idx} skipped due to problematic data")

# print(train_dataset.get_problematic_ids())

In [ ]:
#@title Old tableset but not so old
# import torch
# import pandas as pd
# import numpy as np

# class TableDataset(torch.utils.data.Dataset):
#     def __init__(self, df, tokenizer):
#         self.df = df
#         self.tokenizer = tokenizer

#     def __getitem__(self, idx):
#         item = self.df.iloc[idx]
#         table_name = item['seq_id']
#         table = db_table_to_df[table_name].astype(str)
#         # Check if float_value is not NaN
#         # if item.float_value:
#         encoding = self.tokenizer(
#             table=table,
#             queries=item.question,
#             answer_coordinates=item.answer_coordinates,
#             answer_text=item.answer_text,
#             truncation=True,
#             padding="max_length",
#             return_tensors="pt",
#         )
#         float_answer = torch.tensor(item.float_value)
#         # Remove the batch dimension which the tokenizer adds by default
#         encoding = {key: val.squeeze(0) for key, val in encoding.items()}
#         # Add the float_answer
#         encoding["float_answer"] = float_answer
#         return encoding

#         # else:
#         #     encoding = self.tokenizer(
#         #         table=table,
#         #         queries=item.question,
#         #         answer_coordinates=item.answer_coordinates,
#         #         answer_text=item.answer_text,
#         #         truncation=True,
#         #         padding="max_length",
#         #         return_tensors="pt",
#         #     )
#         #     # float_answer = torch.tensor(item.float_value)

#         #     # Remove the batch dimension which the tokenizer adds by default
#         #     encoding = {key: val.squeeze(0) for key, val in encoding.items()}
#         #     return encoding

#     def __len__(self):
#         return len(self.df)

# train_dataset = TableDataset(df=merged_df_cleaned, tokenizer=tokenizer)
# train_dataloader = torch.utils.data.DataLoader(train_dataset, batch_size=16)

# for idx, batch in enumerate(train_dataloader):
#   continue

In [ ]:
# merged_df_cleaned.to_pickle('/content/drive/MyDrive/spider/cleaned_SPIDER_train.pkl')

In [ ]:
from sklearn.model_selection import train_test_split

# Assume merged_df_cleaned is your DataFrame

# First, split into training and a temp set (which will be split into validation and testing)
train_df, val_df = train_test_split(merged_df_cleaned, test_size=0.3, random_state=42)


# At this point, you have:
# train_df: 60% of the original data for training
# val_df: 20% of the original data for validation
# test_df: 20% of the original data for testing

print("Training set size:", len(train_df))
print("Validation set size:", len(val_df))

Training set size: 1462
Validation set size: 627

In [ ]:
# import json
# df22 = pd.read_csv('/content/drive/MyDrive/spider/QATCH_SPIDER.csv', converters={'answer_text': json.loads})
# df22_sampled=df22.sample(n=1000, random_state=42)

In [ ]:
#@title Cleanig QATCH
db_ids_train_spider= set(instance['db_id'] for instance in train_set)


from qatch.database_reader import MultipleDatabases

# The path to multiple databases
db_save_path = '/content/drive/MyDrive/spider/test_database'
databases = MultipleDatabases(db_save_path)


from qatch import TestGenerator

# init generator
test_generator = TestGenerator(databases=databases)

# generate tests for each database and for each generator
tests_df = test_generator.generate()


# Create a mask where each row is True if 'db_id' is in db_ids_train_spider, else False
mask = tests_df['db_id'].isin(db_ids_train_spider)

# Apply the mask to filter the DataFrame
tests_df = tests_df[mask]

unique_db_ids=tests_df['db_id'].unique()


tests_df = tests_df[tests_df.apply(lambda row: row['tbl_name'] in db_to_tables_constraint.get(row['db_id'], []), axis=1)]

tests_df=tests_df.rename(columns={'tbl_name':'table_used'})


qatch_synthetic=tests_df.drop(columns=["sql_tags"], axis=1)
qatch_synthetic=qatch_synthetic.copy()
qatch_synthetic['seq_id'] = qatch_synthetic.apply(lambda row: f"{row['db_id']}_X_{row['table_used']}", axis=1)


qatch_synthetic.reset_index(inplace=True)
qatch_synthetic.rename(columns={'index': 'ID'}, inplace=True)


results_df_qatch = pd.DataFrame(columns=['ID','answer_text'])


base_path = '/content/drive/MyDrive/spider/test_database/'

for index, row in qatch_synthetic.iterrows():
    db_id = row['db_id']
    table_used = row['table_used']
    query = row['query']
    ID=row['ID']


    db_path = f'{base_path}{db_id}/{db_id}.sqlite'


    with sqlite3.connect(db_path) as conn:
        cur = conn.cursor()
        cur.execute(query)
        answers = cur.fetchall()


        list_answers = list(chain.from_iterable(answers))


        new_row = pd.DataFrame({'ID': [ID], 'answer_text': [list_answers]})
        results_df_qatch = pd.concat([results_df_qatch, new_row], ignore_index=True)


merged_df_qatch = pd.merge(results_df_qatch, qatch_synthetic, on='ID')
merged_df_qatch = merged_df_qatch[merged_df_qatch['answer_text'].apply(lambda x: x != [])]


problematic_rows_ids=[]


result = merged_df_qatch.apply(get_answer_coordinates, axis=1, result_type='expand')
merged_df_qatch['answer_coordinates'],merged_df_qatch['float_value'] = result[0],result[2]

merged_df_cleaned_qatch = merged_df_qatch[~merged_df_qatch['ID'].isin(problematic_rows_ids)].copy()

merged_df_cleaned_qatch = merged_df_cleaned_qatch.dropna(subset=['answer_coordinates'])

In [ ]:
# qatch_df_sampled=merged_df_cleaned_qatch.sample(n=3000, random_state=42)

In [ ]:
# merged_df_cleaned_qatch.to_pickle('/content/drive/MyDrive/spider/QATCH_SPIDER.pkl')

In [ ]:
qatch_pickle = pd.read_pickle('/content/drive/MyDrive/spider/QATCH_SPIDER.pkl')

In [ ]:
qatch_pickle

,ID,answer_text,db_id,table_used,query,question,seq_id,answer_coordinates,float_value
0,10,"[1, Internet Explorer, 28.96, 2, Firefox, 18.1...",browser_web,browser,"SELECT * FROM ""browser""",Show all the rows in the table browser,browser_web_X_browser,"[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2...",NaN
1,11,"[1, 2, 3, 4]",browser_web,browser,"SELECT ""id"" FROM ""browser""","Show all ""id"" in the table browser",browser_web_X_browser,"[(0, 0), (1, 0), (2, 0), (3, 0)]",NaN
2,12,"[1, Internet Explorer, 2, Firefox, 3, Safari, ...",browser_web,browser,"SELECT ""id"", ""name"" FROM ""browser""","Show all ""id"", ""name"" in the table browser",browser_web_X_browser,"[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1...",NaN
3,13,"[Internet Explorer, Firefox, Safari, Opera]",browser_web,browser,"SELECT ""name"" FROM ""browser""","Show all ""name"" in the table browser",browser_web_X_browser,"[(0, 1), (1, 1), (2, 1), (3, 1)]",NaN
4,14,"[Internet Explorer, 28.96, Firefox, 18.11, Saf...",browser_web,browser,"SELECT ""name"", ""market_share"" FROM ""browser""","Show all ""name"", ""market_share"" in the table b...",browser_web_X_browser,"[(0, 1), (0, 2), (1, 1), (1, 2), (2, 1), (2, 2...",NaN
...,...,...,...,...,...,...,...,...,...
26165,63103,[6],school_player,school_details,"SELECT COUNT(DISTINCT""Nickname"") FROM ""school_...","How many different ""Nickname"" are in table ""sc...",school_player_X_school_details,"[(5, 0)]",6.0
26166,63104,[6],school_player,school_details,"SELECT COUNT(DISTINCT""Colors"") FROM ""school_de...","How many different ""Colors"" are in table ""scho...",school_player_X_school_details,"[(5, 0)]",6.0
26167,63105,[1],school_player,school_details,"SELECT COUNT(DISTINCT""League"") FROM ""school_de...","How many different ""League"" are in table ""scho...",school_player_X_school_details,"[(0, 0)]",1.0
26168,63106,[3],school_player,school_details,"SELECT COUNT(DISTINCT""Class"") FROM ""school_det...","How many different ""Class"" are in table ""schoo...",school_player_X_school_details,"[(2, 0)]",3.0
26169,63107,[3],school_player,school_details,"SELECT COUNT(DISTINCT""Division"") FROM ""school_...","How many different ""Division"" are in table ""sc...",school_player_X_school_details,"[(2, 0)]",3.0

In [ ]:
qatch_pickle_sampled=qatch_pickle.sample(n=3000, random_state=42)

In [ ]:
train_df = pd.concat([train_df, qatch_pickle_sampled], axis=0)

In [ ]:
train_df

,ID,answer_text,db_id,query,question,table_used,seq_id,answer_coordinates,float_value
50,98,"[Dariana, Hoyt, Lizeth, Mayra, Nova, Shannon, ...",student_assessment,SELECT first_name FROM people ORDER BY first_name,What are the first names of the people in alph...,People,student_assessment_X_People,"[(2, 1), (4, 1), (6, 1), (5, 1), (7, 1), (0, 1...",NaN
1930,5521,[15],products_gen_characteristics,SELECT count(*) FROM CHARACTERISTICS,Count the number of characteristics.,Characteristics,products_gen_characteristics_X_Characteristics,"[(14, 0)]",15.0
299,854,[3],chinook_1,SELECT COUNT(DISTINCT city) FROM EMPLOYEE,Find the number of different cities that emplo...,Employee,chinook_1_X_Employee,"[(2, 0)]",3.0
1356,4011,"[Battle ship, 3, Cargo ship, 5]",ship_mission,"SELECT TYPE , COUNT(*) FROM ship GROUP BY TYPE","For each type, how many ships are there?",ship,ship_mission_X_ship,"[(1, 2), (2, 0), (0, 2), (4, 0)]",NaN
109,309,[Murray Coffee shop],product_catalog,SELECT distinct(catalog_publisher) FROM catalo...,Find all the catalog publishers whose name con...,Catalogs,product_catalog_X_Catalogs,"[(1, 2)]",NaN
...,...,...,...,...,...,...,...,...,...
25105,61802,"[340, 161, 45, 2017-05-01 17:32:26, 2018-03-09...",student_assessment,"SELECT * FROM ""People_Addresses"" WHERE ""person...","Show the data of the table ""People_Addresses"" ...",People_Addresses,student_assessment_X_People_Addresses,"[(5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (6, 0...",NaN
844,1377,"[68476213, 68421879, 65465421, 36546321]",hospital_1,"SELECT ""InsuranceID"" FROM ""Patient"" ORDER BY ""...","Project the ""InsuranceID"" ordered in descendin...",Patient,hospital_1_X_Patient,"[(0, 4), (3, 4), (2, 4), (1, 4)]",NaN
1514,2307,"[Westport, CT, San Antonio, TX, Placentia, CA,...",perpetrator,"SELECT ""Home Town"" FROM ""people"" ORDER BY ""Hom...","Project the ""Home Town"" ordered in descending ...",people,perpetrator_X_people,"[(3, 4), (5, 4), (2, 4), (0, 4), (7, 4), (8, 4...",NaN
11219,25355,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",customer_deliveries,"SELECT ""truck_id"" FROM ""Trucks""","Show all ""truck_id"" in the table Trucks",Trucks,customer_deliveries_X_Trucks,"[(0, 0), (1, 0), (2, 0), (3, 0), (4, 0), (5, 0...",NaN
14059,30583,"[1, Ananthapuri Express, 17:15, Daily, 2, Guru...",train_station,"SELECT * FROM ""train"" WHERE ""Service"" == ""Daily""","Show the data of the table ""train"" where ""Serv...",train,train_station_X_train,"[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1...",NaN

In [ ]:
train_df=train_df.drop(columns=["ID"])
train_df.reset_index(inplace=True)
train_df.rename(columns={'index': 'ID'}, inplace=True)
train_df.head()

,ID,answer_text,db_id,query,question,table_used,seq_id,answer_coordinates,float_value
0,50,"[Dariana, Hoyt, Lizeth, Mayra, Nova, Shannon, ...",student_assessment,SELECT first_name FROM people ORDER BY first_name,What are the first names of the people in alph...,People,student_assessment_X_People,"[(2, 1), (4, 1), (6, 1), (5, 1), (7, 1), (0, 1...",NaN
1,1930,[15],products_gen_characteristics,SELECT count(*) FROM CHARACTERISTICS,Count the number of characteristics.,Characteristics,products_gen_characteristics_X_Characteristics,"[(14, 0)]",15.0
2,299,[3],chinook_1,SELECT COUNT(DISTINCT city) FROM EMPLOYEE,Find the number of different cities that emplo...,Employee,chinook_1_X_Employee,"[(2, 0)]",3.0
3,1356,"[Battle ship, 3, Cargo ship, 5]",ship_mission,"SELECT TYPE , COUNT(*) FROM ship GROUP BY TYPE","For each type, how many ships are there?",ship,ship_mission_X_ship,"[(1, 2), (2, 0), (0, 2), (4, 0)]",NaN
4,109,[Murray Coffee shop],product_catalog,SELECT distinct(catalog_publisher) FROM catalo...,Find all the catalog publishers whose name con...,Catalogs,product_catalog_X_Catalogs,"[(1, 2)]",NaN

In [ ]:
import warnings

warnings.filterwarnings("ignore", category=FutureWarning)

In [ ]:
import torch
import pandas as pd
import numpy as np

class TableDataset(torch.utils.data.Dataset):
    def __init__(self, df, tokenizer):
        self.df = df
        self.tokenizer = tokenizer
        self.problematic_ids = []  # Initialize a list to store IDs of problematic questions

    def __getitem__(self, idx):
        item = self.df.iloc[idx]
        table_name = item['seq_id']
        try:
            table = db_table_to_df[table_name].astype(str)
            encoding = self.tokenizer(
                table=table,
                queries=item.question,
                answer_coordinates=item.answer_coordinates,
                answer_text=item.answer_text,
                truncation=True,
                padding="max_length",
                return_tensors="pt",
            )
            float_answer = torch.tensor(item.float_value)
            encoding = {key: val.squeeze(0) for key, val in encoding.items()}
            encoding["float_answer"] = float_answer


        except Exception as e:
            print(f"Error processing index {idx} (ID: {item['ID']}): {e}")
            self.problematic_ids.append(item.ID)  # Store the ID of the problematic question
            encoding = None

        return encoding


    def __len__(self):
        return len(self.df)

    def get_problematic_ids(self):
        # Returns the list of problematic IDs
        return self.problematic_ids

# Custom collate function to filter out None values, if not already implemented
def custom_collate_fn(batch):
    batch = [item for item in batch if item is not None]  # Filter out None values
    if not batch:
        return None
    return torch.utils.data.dataloader.default_collate(batch)

train_dataset = TableDataset(df=merged_df_cleaned, tokenizer=tokenizer)
train_dataloader = torch.utils.data.DataLoader(train_dataset, batch_size=8, collate_fn=custom_collate_fn)

for idx, batch in enumerate(train_dataloader):
    if batch is not None:
        continue
    else:
        print(f"Batch {idx} skipped due to problematic data")

print(train_dataset.get_problematic_ids())

Error processing index 769 (ID: 3774): Couldn't find all answers
Error processing index 770 (ID: 3775): Couldn't find all answers
Error processing index 771 (ID: 3776): Couldn't find all answers
Error processing index 772 (ID: 3777): Couldn't find all answers
Error processing index 781 (ID: 3796): Couldn't find all answers
Error processing index 782 (ID: 3797): Couldn't find all answers
Error processing index 839 (ID: 4168): Couldn't find all answers
Error processing index 840 (ID: 4169): Couldn't find all answers
Error processing index 847 (ID: 4184): Couldn't find all answers
Error processing index 848 (ID: 4185): Couldn't find all answers
Error processing index 1125 (ID: 5522): Couldn't find all answers
Error processing index 1126 (ID: 5523): Couldn't find all answers
Error processing index 1137 (ID: 5536): Couldn't find all answers
Error processing index 1138 (ID: 5537): Couldn't find all answers
Error processing index 1196 (ID: 5848): Couldn't find all answers
[3774, 3775, 3776, 3777, 3796, 3797, 4168, 4169, 4184, 4185, 5522, 5523, 5536, 5537, 5848]

In [ ]:
#@title legacy stuff
# import torch
# import pandas as pd
# import numpy as np

# class TableDataset(torch.utils.data.Dataset):
#     def __init__(self, df, tokenizer):
#         self.df = df
#         self.tokenizer = tokenizer
#         self.problematic_ids = []  # Initialize a list to store IDs of problematic questions

#     def __getitem__(self, idx):
#         item = self.df.iloc[idx]
#         table_name = item['seq_id']
#         try:
#             table = db_table_to_df[table_name].astype(str)
#             encoding = self.tokenizer(
#                 table=table,
#                 queries=item.question,
#                 answer_coordinates=item.answer_coordinates,
#                 answer_text=item.answer_text,
#                 truncation=True,
#                 padding="max_length",
#                 return_tensors="pt",
#             )
#             float_answer = torch.tensor(item.float_value)
#             encoding = {key: val.squeeze(0) for key, val in encoding.items()}
#             encoding["float_answer"] = float_answer

#         except ValueError as e:  # Catch ValueError specifically
#             if str(e) == "Couldn't find all answers":
#                 print(f"Specific error processing index {idx} (ID: {item['ID']}): {e}")
#                 self.problematic_ids.append(item.ID)  # Store the ID of the problematic question
#                 encoding = None
#             else:
#                 raise  # Re-raise the exception if it's not the one you're looking for
#         except Exception as e:  # Catch other exceptions
#             print(f"General error processing index {idx} (ID: {item['ID']}): {e}")
#             encoding = None  # It might be a good idea to handle general errors as well

#         return encoding

#     def __len__(self):
#         return len(self.df)

#     def get_problematic_ids(self):
#         # Returns the list of problematic IDs
#         return self.problematic_ids

# # Custom collate function to filter out None values, if not already implemented
# def custom_collate_fn(batch):
#     batch = [item for item in batch if item is not None]  # Filter out None values
#     if not batch:
#         return None
#     return torch.utils.data.dataloader.default_collate(batch)

# # Example usage (assuming train_df and tokenizer are defined)
# train_dataset = TableDataset(df=train_df, tokenizer=tokenizer)
# train_dataloader = torch.utils.data.DataLoader(train_dataset, batch_size=8, collate_fn=custom_collate_fn)

# for idx, batch in enumerate(train_dataloader):
#     if batch is not None:
#         continue
#     else:
#         print(f"Batch {idx} skipped due to problematic data")

# print(train_dataset.get_problematic_ids())

In [ ]:
# prob_list=[3776, 5523, 5522, 4185, 5537, 3774, 4168, 5848, 3797, 3796, 3775, 4169, 52768, 48172, 57739, 53019, 10050, 56016, 33902, 60889, 34287, 23285, 24387, 23988, 48735, 61339, 34361, 28029, 8175, 61734, 25276, 10208, 50328, 21063, 50108, 24419, 2710, 57971, 27532, 7282, 18727, 58255, 57568, 35438, 9721, 5272, 6017, 52112, 51759, 47965, 24367, 53167, 3567, 15534, 30590, 59200, 61127, 2403, 5044, 54678, 14421, 35811, 10072, 23160, 50390, 14279, 5918, 29174, 24845, 52921, 30481, 28586, 48033, 51788, 60013, 959, 10658, 7210, 61112, 27207, 30207, 58144, 56903, 15413, 8046, 19849, 14447, 62012, 17677, 50117, 15520, 48111, 10699, 8120, 51491, 24409, 23588, 35720, 9626, 34488, 3503, 33792, 27498, 29830, 28981, 25828, 1974, 1501, 49787, 3220, 19869, 19514, 60343, 7516, 50932, 55660, 24820, 795, 51357, 52471, 48381, 18521, 51390, 15586, 60847, 8039, 2219, 24653, 61534, 24736, 58021, 59948, 58032, 8282, 30206, 34173, 60247, 18802, 16789, 18524, 24422, 21230, 9971, 33821, 15230, 50105, 18420, 31474, 7820, 15248, 37421, 49718, 134, 30420, 16780, 53173, 27253, 5683, 24045, 25321, 35546, 49061, 30032, 25150, 56925, 52870, 51342, 34343, 15322, 17493, 30634, 2951, 14342, 25167, 63094, 3639, 48197, 51960, 30231, 2917, 58209, 18667, 1808, 18250, 766, 8279, 2936, 2879, 27320, 34048, 48346, 9556, 56778, 16621, 35664, 21846, 61089, 18499, 35258, 48377, 7425, 36903, 27156, 35340, 15364, 27084, 37045, 17603, 14349, 23279, 48432, 928, 10755, 590, 2166, 21227, 36736, 37108, 8384, 62592, 60319, 29259, 1215, 2461, 49173, 5226, 10096, 112, 50693, 2889, 60188, 30459, 15795, 9528, 37381, 23261, 5965, 48363, 7525, 8787, 27163, 16720, 50186, 8234, 25086, 49994, 23246, 8326, 37264, 9771, 5939, 28707, 24617, 27161, 20025, 37242, 48093, 28929, 60283, 49912, 52632, 25335, 24325, 37051, 49405, 27076, 35576, 25809, 539, 47931, 21691, 35821, 35030, 5230, 36901, 57466, 21102, 28772, 25495, 54518, 23152, 9899, 24276, 37195, 27644, 25810, 33778, 57473, 5055, 3642, 60089, 16426, 27108, 49607, 4967, 30570, 52473, 51944, 63103, 16712, 19846, 8291, 48414, 5867, 24542, 541, 9525, 51690, 24897, 49080, 48548, 28918, 62111, 28729, 52617, 25133, 18501, 50080, 27002, 61247, 49471, 30090, 2993, 16611, 50808, 53311, 15019, 47969, 33759, 49351, 23433, 2835, 50086, 60397, 48633, 7574, 23265, 29932, 51086, 3585, 51822, 28516, 35692, 15496, 2333, 51148, 63022, 48026, 30029, 50003, 16776, 49250, 58298, 34209, 21094, 54575, 54905, 47995, 10056, 5019, 3681, 61184, 27092, 10093, 52414, 20114, 62321, 50247, 18561, 50196, 7873, 9509, 34179, 2343, 60896, 5058, 8212, 34217, 62155, 50169, 23292, 54483, 48082, 18689, 23355, 18206, 60083, 28591, 14529, 51456, 30282, 35076, 57595, 2453, 2013, 51632, 18456, 25798, 33898, 10666, 59144, 25331, 35146, 35470, 50590, 36771, 27391, 54795, 55890, 9833, 27030, 1526, 27679, 35268, 52154, 56783, 50729, 9710, 1287, 8458, 18287, 59943, 52854, 3498, 59213, 16798, 15615, 30476, 63032, 48385, 31450, 15500, 21124, 16749, 49780, 54836, 24859, 52068, 52568, 15429, 27301, 25043, 17536, 51812, 18218, 24212, 25641, 14443, 1125, 58176, 18209, 61044, 14436, 29021, 61518, 28903, 36898, 34384, 53083, 5874, 28593, 8325, 37289, 18201, 55371, 59981, 2224, 49112, 61684, 33730, 34406, 33972, 16382, 25930, 28980, 52637, 61463, 53150, 23395, 9896, 27113, 58179, 56024, 7685, 62724, 61883, 54534, 58027, 19884, 30186, 19890, 28094, 7230, 2189, 61806, 21062, 52097, 59933, 5427, 9840, 35057, 51542, 60264, 8131, 60712, 14522, 50715, 18370, 14432, 60406, 51210, 50346, 8258, 53535, 15607, 28851, 18413, 30045, 17672, 29298, 23201, 27402, 51868, 16574, 30043, 960, 19864, 61241, 14311, 62312, 35680, 37414, 2451, 15873, 49197, 5420, 62671, 21248, 1200, 48875, 24018, 18819, 18820, 18517, 770, 18418, 21275, 17547, 28704, 23470, 25561, 62365, 47958, 50073, 8216, 16392, 7784, 16784, 16781, 10159, 24671, 51729, 2434, 37417, 2915, 48155, 60381, 29025, 54594, 33745, 7855, 53079, 61572, 51299, 50326, 55693, 53264, 7376, 48550, 35122, 5131, 28651, 15811, 62244, 53442, 48824, 51303, 35158, 24770, 17550, 53139, 51799, 51917, 15601, 61661, 34164, 19896, 33843, 24274, 50405, 60892, 36784, 54565, 8408, 61077, 52153, 28663, 24263, 24681, 23295, 25929, 50610, 2802, 5875, 3155, 52903, 2952, 58177, 48000, 9678, 5304, 29315, 49928, 14375, 33774, 24868, 24466, 3505, 1088, 36835, 57614, 5756, 28508, 7832, 37424, 34491, 50761, 28746, 61212, 19886, 34199, 5406, 21223, 10210, 7813, 3620, 9777, 5921, 10160, 35261, 24232, 27015, 49014, 36886, 60462, 27523, 60038, 23153, 57727, 28720, 48810, 16738, 50178, 57682, 28594, 49166, 5240, 25312, 51498, 3525, 48928, 51600, 52210, 23268, 5820, 47959, 5828, 23167, 49023, 35803, 16773, 50854, 15049, 24038, 27120, 52994, 7183, 57844, 51372, 57736, 60336, 57656, 37071, 52937, 62850, 34284, 61102, 27581, 8248, 5381, 239, 24718, 59206, 53199, 49754, 25875, 50754, 28879, 50837, 8171, 5718, 51110, 5751, 27432, 51828, 51213, 28854, 28559, 27634, 15361, 15301, 19553, 814, 30979, 37513, 62561, 50205, 15498, 53025, 23192, 57446, 1048, 33814, 30361, 62407, 59110, 19865, 24198, 50084, 10806, 20096, 62068, 29209, 18459, 52669, 20001, 10062, 54732, 991, 1349, 8044, 27179, 27024, 30467, 2354, 18531, 50857, 29086, 10811, 56819, 21170, 51044, 48464, 17455, 58212, 34513, 61542, 60119, 52918, 30391, 51409, 18692, 14296, 30540, 27216, 29134, 30407, 8263, 8793, 51128, 10748, 52775, 35895, 55771, 50616, 55605, 52593, 51005, 58025, 8970, 7356, 56927, 25307, 34446, 24139, 3592, 5263, 51445, 62223, 5837, 34068, 48337, 54600, 1939, 16910, 57832, 56425, 30290, 49935, 61421, 60107, 37376, 61539, 52136, 35706, 18817, 7141, 20033, 7418, 34352, 23223, 19535, 50310, 15742, 18217, 25386, 57428, 48684, 35831, 35434, 1086, 2259, 4938, 49752, 23301, 7456, 50777, 33772, 24304, 35575, 50265, 61140, 51027, 23378, 48722, 29939, 15717, 30485, 245, 48311, 62224, 5887, 2962, 60329, 3125, 18791, 9736, 57679, 48303, 18716, 48443, 15575, 57582, 33798, 35825, 23523, 25305, 9549, 47919, 27229, 30434, 52746, 1862, 52133, 62510, 7822, 61481, 52140, 60933, 37091, 27341, 23137, 24728, 21258, 29314, 5205, 50032, 16855, 60421, 2203, 50844, 1743, 52767, 8086, 54585, 52516, 61256, 18278, 50638, 37154, 23247, 29941, 15504, 10785, 52449, 7687, 60303, 5693, 7463, 25878, 61139, 50577, 59254, 27509, 16585, 29976, 18480, 48064, 18803, 27287, 52574, 57000, 1734, 50049, 25114, 24049, 48556, 5098, 59052, 27173, 25127, 51227, 15729, 9921, 18317, 52600, 9536, 50396, 17606, 8799, 10814, 61287, 9806, 51191, 15405, 2371, 744, 27171, 52009, 7220, 25865, 2170, 23234, 2892, 10781, 30601, 61237, 24041, 60288, 34232, 29333, 5997, 51599, 33744, 57749, 31448, 18519, 7472, 5992, 16576, 54708, 8383, 29945, 57521, 51127, 34366, 15077, 57492, 52174, 7457, 9983, 48434, 62618, 54634, 10105, 56868, 25486, 8912, 23996, 59115, 8003, 49219, 15626, 60101, 49641, 25780, 60426, 16969, 48450, 23501, 19540, 5377, 57519, 56724, 35169, 7494, 17633, 51221, 55415, 28100, 16847, 53430]
# print(len(prob_list))

1012

In [ ]:
prob=train_dataset.get_problematic_ids()
train_df = merged_df_cleaned[~merged_df_cleaned['ID'].isin(prob)]
train_dataset = TableDataset(df=merged_df_cleaned, tokenizer=tokenizer)
train_dataloader = torch.utils.data.DataLoader(train_dataset, batch_size=8, collate_fn=custom_collate_fn)

In [ ]:
while train_dataset.get_problematic_ids()!=[]:
  prob=train_dataset.get_problematic_ids()
  train_df = train_df[~train_df['ID'].isin(prob)]
  train_dataset = TableDataset(df=train_df, tokenizer=tokenizer)
  train_dataloader = torch.utils.data.DataLoader(train_dataset, batch_size=8, collate_fn=custom_collate_fn)
  for idx, batch in enumerate(train_dataloader):
      if batch is not None:
          continue
      else:
          print(f"Batch {idx} skipped due to problematic data")
  print(f"problematic_ids: {train_dataset.get_problematic_ids()}")

problematic_ids: []

In [ ]:
train_dataset[0]["token_type_ids"].shape

torch.Size([512, 7])

In [ ]:
train_dataset[1]["input_ids"].shape

torch.Size([512])

In [ ]:
batch = next(iter(train_dataloader))

In [ ]:
batch["input_ids"].shape

torch.Size([8, 512])

In [ ]:
batch["token_type_ids"].shape

torch.Size([8, 512, 7])

In [ ]:
tokenizer.decode(batch["input_ids"][0])

'[CLS] what are the names of all the documents, as well as the access counts of each, ordered alphabetically? [SEP] document _ code document _ structure _ code document _ type _ code access _ count document _ name 217 8 book 1864 learning english 621 1 paper 8208 research about art history 958 8 book 3769 learning database 961 5 advertisement 6661 summer sails 989 9 book 2910 learning japanese 930 9 cv 6345 david cv 928 8 book 2045 how to cook pasta 510 6 paper 3479 humanity : a fact 706 9 advertisement 8623 winter sails 465 9 cv 5924 john cv 713 8 cv 2294 joe cv 566 5 advertisement 3289 spring sails 349 9 book 1219 life about claude monet 675 1 advertisement 7509 fall sails 714 6 paper 9948 relationships between history and arts [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD]'

In [ ]:
#first example should not have any prev_labels set
assert batch["token_type_ids"][0][:,3].sum() == 0

In [ ]:
tokenizer.decode(batch["input_ids"][1])

'[CLS] return the lot details and investor ids. [SEP] lot _ id investor _ id lot _ details 1 13 r 2 16 z 3 10 s 4 19 s 5 6 q 6 20 d 7 7 m 8 7 h 9 20 z 10 9 x 11 1 d 12 19 m 13 7 z 14 6 d 15 1 h [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD]'

In [ ]:
for id, prev_label in zip(batch["input_ids"][1], batch["token_type_ids"][1][:,3]):
  if id != 0:
    print(tokenizer.decode([id]), prev_label.item())

[CLS] 0
return 0
the 0
lot 0
details 0
and 0
investor 0
id 0
##s 0
. 0
[SEP] 0
lot 0
_ 0
id 0
investor 0
_ 0
id 0
lot 0
_ 0
details 0
1 0
13 0
r 0
2 0
16 0
z 0
3 0
10 0
s 0
4 0
19 0
s 0
5 0
6 0
q 0
6 0
20 0
d 0
7 0
7 0
m 0
8 0
7 0
h 0
9 0
20 0
z 0
10 0
9 0
x 0
11 0
1 0
d 0
12 0
19 0
m 0
13 0
7 0
z 0
14 0
6 0
d 0
15 0
1 0
h 0

In [ ]:
# from transformers import TapasForQuestionAnswering
# model = TapasForQuestionAnswering.from_pretrained("google/tapas-base")
# device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

# model.to(device)

# The training

In [ ]:
# from torch.optim import AdamW
# optimizer = AdamW(model.parameters(), lr=5e-5)

In [ ]:
from transformers import TapasConfig, TapasForQuestionAnswering
from torch.optim import AdamW
# this is the default WTQ configuration
config = TapasConfig(
    num_aggregation_labels=4,# MAX MIN COUNT AVG
    use_answer_as_supervision=True,
    answer_loss_cutoff=0.664694,
    cell_selection_preference=0.207951,
    huber_loss_delta=0.121194,
    init_cell_selection_weights_to_zero=True,
    select_one_column=True,
    allow_empty_column_selection=False,
    temperature=0.0352513,
)
model = TapasForQuestionAnswering.from_pretrained("google/tapas-base", config=config)
optimizer = AdamW(model.parameters(), lr=5e-5)## I have changed
# device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

# model.to(device)
# model.to('cuda')

pytorch_model.bin:   0%|          | 0.00/443M [00:00<?, ?B/s]

Some weights of TapasForQuestionAnswering were not initialized from the model checkpoint at google/tapas-base and are newly initialized: ['aggregation_classifier.bias', 'aggregation_classifier.weight', 'column_output_bias', 'column_output_weights', 'output_bias', 'output_weights']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [ ]:
import torch
import os


save_path = '/content/drive/MyDrive/model_checkpoints'
checkpoint_path = os.path.join(save_path, "100prct_spider_checkpoint4.pt")


if os.path.exists(checkpoint_path):
    # Load the checkpoint
    checkpoint = torch.load(checkpoint_path)#,map_location=torch.device('cpu')

    # Restore the model and optimizer states
    model.load_state_dict(checkpoint['model_state_dict'])
    optimizer.load_state_dict(checkpoint['optimizer_state_dict'])
    print("Checkpoint loaded successfully.")
else:
    print(f"No checkpoint found at {checkpoint_path}")

Checkpoint loaded successfully.

In [ ]:
model.to('cuda')

TapasForQuestionAnswering(
  (tapas): TapasModel(
    (embeddings): TapasEmbeddings(
      (word_embeddings): Embedding(30522, 768, padding_idx=0)
      (position_embeddings): Embedding(1024, 768)
      (token_type_embeddings_0): Embedding(3, 768)
      (token_type_embeddings_1): Embedding(256, 768)
      (token_type_embeddings_2): Embedding(256, 768)
      (token_type_embeddings_3): Embedding(2, 768)
      (token_type_embeddings_4): Embedding(256, 768)
      (token_type_embeddings_5): Embedding(256, 768)
      (token_type_embeddings_6): Embedding(10, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (encoder): TapasEncoder(
      (layer): ModuleList(
        (0-11): 12 x TapasLayer(
          (attention): TapasAttention(
            (self): TapasSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (output): TapasSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
          (intermediate): TapasIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
            (intermediate_act_fn): GELUActivation()
          )
          (output): TapasOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (pooler): TapasPooler(
      (dense): Linear(in_features=768, out_features=768, bias=True)
      (activation): Tanh()
    )
  )
  (dropout): Dropout(p=0.1, inplace=False)
  (aggregation_classifier): Linear(in_features=768, out_features=4, bias=True)
)

In [ ]:
# max_grad_norm = 5.0

# for epoch in range(10):
#     print("Epoch:", epoch)
#     for idx, batch in enumerate(train_dataloader):
#         # get the inputs;
#         input_ids = batch["input_ids"].to(device)
#         attention_mask = batch["attention_mask"].to(device)
#         token_type_ids = batch["token_type_ids"].to(device)
#         labels = batch["labels"].to(device)

#         # zero the parameter gradients
#         optimizer.zero_grad()

#         # forward + backward + optimize
#         outputs = model(input_ids=input_ids, attention_mask=attention_mask, token_type_ids=token_type_ids, labels=labels)
#         loss = outputs.loss
#         print("Loss:", loss.item())

#         loss.backward()

#         # Clip gradients to help prevent the "exploding gradient" problem
#         torch.nn.utils.clip_grad_norm_(model.parameters(), max_grad_norm)

#         optimizer.step()

In [ ]:
# torch.cuda.memory_summary(device=None, abbreviated=False)

In [ ]:
optimizer = AdamW(model.parameters(), lr=1e-5)## I have changed

In [ ]:
# from torch.optim.lr_scheduler import ReduceLROnPlateau

# # Create the scheduler
# scheduler = ReduceLROnPlateau(optimizer, mode='min', factor=0.1, patience=2, verbose=True)

# # model.train()
# for epoch in range(10):  # loop over the dataset multiple times
#     print("Epoch:", epoch)
#     epoch_loss = 0.0
#     for batch in train_dataloader:
#         # get the inputs;
#         input_ids = batch["input_ids"].to('cuda')
#         attention_mask = batch["attention_mask"].to('cuda')
#         token_type_ids = batch["token_type_ids"].to('cuda')
#         labels = batch["labels"].to('cuda')
#         numeric_values = batch["numeric_values"].to('cuda')
#         numeric_values_scale = batch["numeric_values_scale"].to('cuda')
#         float_answer = batch["float_answer"].to('cuda')

#         # zero the parameter gradients
#         optimizer.zero_grad()

#         # forward + backward + optimize
#         outputs = model(
#             input_ids=input_ids,
#             attention_mask=attention_mask,
#             token_type_ids=token_type_ids,
#             labels=labels,
#             numeric_values=numeric_values,
#             numeric_values_scale=numeric_values_scale,
#             float_answer=float_answer,
#         )
#         loss = outputs.loss
#         print("Loss:", loss.item())
#         epoch_loss += loss.item()

#         loss.backward()
#         optimizer.step()

#     # Calculate average loss for the epoch
#     avg_loss = epoch_loss / len(train_dataloader)

#     # Update the learning rate based on the average loss
#     scheduler.step(avg_loss)

In [ ]:
from torch.optim.lr_scheduler import ReduceLROnPlateau

# Create the scheduler
scheduler = ReduceLROnPlateau(optimizer, mode='min', factor=0.1, patience=2, verbose=True)

# model.train()
for epoch in range(10):  # loop over the dataset multiple times
    print("Epoch:", epoch)
    epoch_loss = 0.0
    for batch in train_dataloader:
        # get the inputs;
        input_ids = batch["input_ids"]#.to('cuda')
        attention_mask = batch["attention_mask"]#.to('cuda')
        token_type_ids = batch["token_type_ids"]#.to('cuda')
        labels = batch["labels"]#.to('cuda')
        numeric_values = batch["numeric_values"]#.to('cuda')
        numeric_values_scale = batch["numeric_values_scale"]#.to('cuda')
        float_answer = batch["float_answer"]#.to('cuda')

        # zero the parameter gradients
        optimizer.zero_grad()

        # forward + backward + optimize
        outputs = model(
            input_ids=input_ids,
            attention_mask=attention_mask,
            token_type_ids=token_type_ids,
            labels=labels,
            numeric_values=numeric_values,
            numeric_values_scale=numeric_values_scale,
            float_answer=float_answer,
        )
        loss = outputs.loss
        print("Loss:", loss.item())
        epoch_loss += loss.item()

        loss.backward()
        optimizer.step()

    # Calculate average loss for the epoch
    avg_loss = epoch_loss / len(train_dataloader)

    # Update the learning rate based on the average loss
    scheduler.step(avg_loss)

In [ ]:
# model.train()

for epoch in range(10):  # loop over the dataset multiple times
    print("Epoch:", epoch)
    for batch in train_dataloader:
        # get the inputs;
        input_ids = batch["input_ids"].to('cuda')
        attention_mask = batch["attention_mask"].to('cuda')
        token_type_ids = batch["token_type_ids"].to('cuda')
        labels = batch["labels"].to('cuda')
        numeric_values = batch["numeric_values"].to('cuda')
        numeric_values_scale = batch["numeric_values_scale"].to('cuda')
        float_answer = batch["float_answer"].to('cuda')

        # zero the parameter gradients
        optimizer.zero_grad()

        # forward + backward + optimize
        outputs = model(
            input_ids=input_ids,
            attention_mask=attention_mask,
            token_type_ids=token_type_ids,
            labels=labels,
            numeric_values=numeric_values,
            numeric_values_scale=numeric_values_scale,
            float_answer=float_answer,
        )

        loss = outputs.loss
        print("Loss:", loss.item())
        loss.backward()
        optimizer.step()

Epoch: 0
Loss: 2.572195529937744
Loss: 3.356193780899048
Loss: 2.1603939533233643
Loss: 2.390073299407959
Loss: 3.2742481231689453
Loss: 2.6931276321411133
Loss: 2.071603775024414
Loss: 2.6375935077667236
Loss: 2.453601121902466
Loss: 1.9995925426483154
Loss: 2.4221837520599365
Loss: 2.218867301940918
Loss: 2.341974973678589
Loss: 2.2829134464263916
Loss: 2.422752618789673
Loss: 2.2769386768341064
Loss: 2.2779934406280518
Loss: 2.353764772415161
Loss: 1.997378945350647
Loss: 2.120710849761963
Loss: 2.331651449203491
Loss: 2.21628999710083
Loss: 2.345754861831665
Loss: 2.15533709526062
Loss: 2.4877965450286865
Loss: 2.1091699600219727
Loss: 1.9629642963409424
Loss: 1.8696364164352417
Loss: 2.0381860733032227
Loss: 1.9559087753295898
Loss: 2.028841972351074
Loss: 2.416954517364502
Loss: 2.648376703262329
Loss: 2.4997520446777344
Loss: 1.982934594154358
Loss: 2.348442554473877
Loss: 2.351020097732544
Loss: 1.9429798126220703
Loss: 2.404539108276367
Loss: 1.9663386344909668
Loss: 2.1592187881469727
Loss: 2.4539413452148438
Loss: 2.4055142402648926
Loss: 2.1806631088256836
Loss: 2.2383031845092773
Loss: 1.8794301748275757
Loss: 1.7700119018554688
Loss: 1.9104689359664917
Loss: 1.9481881856918335
Loss: 2.312296152114868
Loss: 2.057893753051758
Loss: 2.069908857345581
Loss: 2.106196165084839
Loss: 2.1454687118530273
Loss: 2.3479747772216797
Loss: 1.9920004606246948
Loss: 1.7773538827896118
Loss: 2.137669086456299
Loss: 2.0771548748016357
Loss: 2.1772475242614746
Loss: 2.129352569580078
Loss: 1.74847412109375
Loss: 1.5108933448791504
Loss: 1.8943841457366943
Loss: 1.9905602931976318
Loss: 2.0572664737701416
Loss: 1.6042428016662598
Loss: 1.3096923828125
Loss: 1.9018551111221313
Loss: 1.513888955116272
Loss: 1.5530827045440674
Loss: 1.374801754951477
Loss: 1.7307411432266235
Loss: 1.228610873222351
Loss: 1.4399148225784302
Loss: 1.5277270078659058
Loss: 1.3500722646713257
Loss: 1.1482592821121216
Loss: 1.7656055688858032
Loss: 1.6226317882537842
Loss: 1.299769401550293
Loss: 1.6460391283035278
Loss: 2.2202343940734863
Loss: 1.583854079246521
Loss: 1.1529110670089722
Loss: 1.4797135591506958
Loss: 1.7775486707687378
Loss: 1.5340044498443604
Loss: 1.0887449979782104
Loss: 1.964203953742981
Loss: 1.8916456699371338
Loss: 1.6606764793395996
Loss: 1.1669842004776
Loss: 1.5856220722198486
Loss: 1.6128708124160767
Loss: 1.436057448387146
Loss: 1.7016773223876953
Loss: 1.5578744411468506
Loss: 1.110479474067688
Loss: 1.9154616594314575
Loss: 1.4693548679351807
Loss: 1.3012769222259521
Loss: 1.5173929929733276
Loss: 1.156230092048645
Loss: 0.9212223291397095
Loss: 1.5743155479431152
Loss: 1.4927103519439697
Loss: 1.6093343496322632
Loss: 1.24183988571167
Loss: 1.4444371461868286
Loss: 1.488940954208374
Loss: 1.5266468524932861
Loss: 1.8283659219741821
Loss: 1.9212000370025635
Loss: 1.2131500244140625
Loss: 1.0831208229064941
Loss: 0.8826638460159302
Loss: 1.797623634338379
Loss: 2.0184662342071533
Loss: 1.1082314252853394
Loss: 1.0105781555175781
Loss: 1.5850787162780762
Loss: 1.0016424655914307
Loss: 1.4024626016616821
Loss: 1.9410109519958496
Loss: 1.8116295337677002
Loss: 0.7689579129219055
Loss: 1.3086878061294556
Loss: 1.1111061573028564
Loss: 0.9345530271530151
Loss: 1.1978999376296997
Loss: 1.7651015520095825
Loss: 0.9194576740264893
Loss: 1.2853233814239502
Loss: 1.2519842386245728
Loss: 1.1093436479568481
Loss: 0.800739586353302
Loss: 1.3258554935455322
Loss: 0.8896199464797974
Loss: 1.1828168630599976
Loss: 0.9100700616836548
Loss: 1.6293540000915527
Loss: 1.2031118869781494
Loss: 1.7306251525878906
Loss: 0.8972291946411133
Loss: 1.9482710361480713
Loss: 1.3603240251541138
Loss: 0.5383580923080444
Loss: 1.9094213247299194
Loss: 1.637039303779602
Loss: 1.4746458530426025
Loss: 0.7287546396255493
Loss: 0.9133672118186951
Loss: 0.781276285648346
Loss: 0.9515312910079956
Loss: 0.672015905380249
Loss: 1.1113002300262451
Loss: 1.2112373113632202
Loss: 1.1048023700714111
Loss: 1.880629301071167
Loss: 1.3120536804199219
Loss: 0.5745285153388977
Loss: 1.8303494453430176
Loss: 0.8869770169258118
Loss: 2.594393491744995
Loss: 0.8668788075447083
Loss: 1.5412964820861816
Loss: 1.015749216079712
Loss: 0.5925559997558594
Loss: 0.7863355278968811
Loss: 1.3362655639648438
Loss: 0.4875679612159729
Loss: 1.413321852684021
Loss: 0.8717552423477173
Loss: 1.1047736406326294
Loss: 0.8152016401290894
Loss: 1.058467984199524
Loss: 0.9723109006881714
Loss: 1.0911160707473755
Loss: 0.6541226506233215
Loss: 0.7013651728630066
Loss: 1.1480381488800049
Loss: 0.8727432489395142
Loss: 1.3753529787063599
Loss: 2.1947436332702637
Loss: 1.88389253616333
Loss: 2.1008050441741943
Loss: 2.1903538703918457
Loss: 1.411892056465149
Loss: 1.5264278650283813
Loss: 1.393577218055725
Loss: 1.8120286464691162
Loss: 1.5954753160476685
Loss: 1.6511971950531006
Loss: 1.2417722940444946
Loss: 1.3631250858306885
Loss: 1.2602297067642212
Loss: 1.2585437297821045
Loss: 1.3853317499160767
Loss: 1.355228066444397
Loss: 1.1872833967208862
Loss: 1.4893379211425781
Loss: 1.0021765232086182
Loss: 1.1070247888565063
Loss: 0.7814645171165466
Loss: 1.0717480182647705
Loss: 1.0826939344406128
Loss: 0.6259778141975403
Loss: 1.0753042697906494
Loss: 1.2526198625564575
Loss: 1.2343230247497559
Loss: 0.9492801427841187
Loss: 0.7536477446556091
Loss: 1.0326155424118042
Loss: 0.9197341799736023
Loss: 1.3577423095703125
Loss: 1.333509922027588
Loss: 0.7899796366691589
Loss: 0.615635335445404
Loss: 0.7537398934364319
Loss: 1.1236516237258911
Loss: 1.1406887769699097
Loss: 0.7681626677513123
Loss: 1.6521955728530884
Loss: 0.9046769738197327
Loss: 1.3279540538787842
Loss: 1.0909377336502075
Loss: 0.5735181570053101
Loss: 1.2379735708236694
Loss: 1.1073023080825806
Loss: 1.248185396194458
Loss: 1.6678177118301392
Loss: 0.5935741662979126
Loss: 0.8957258462905884
Loss: 1.2868634462356567
Loss: 1.119353175163269
Loss: 0.7189189195632935
Loss: 0.5065758228302002
Loss: 1.2398250102996826
Loss: 0.8951016664505005
Loss: 1.3583142757415771
Loss: 0.8557232022285461
Loss: 1.1880686283111572
Loss: 1.0421730279922485
Loss: 0.7419354915618896
Loss: 1.0889312028884888
Loss: 0.753039538860321
Loss: 1.2706838846206665
Loss: 0.742308497428894
Loss: 0.9566406011581421
Loss: 1.595275640487671
Loss: 1.2395340204238892
Loss: 1.0606054067611694
Loss: 0.8095460534095764
Loss: 0.6322423815727234
Loss: 0.7469436526298523
Loss: 1.169148564338684
Loss: 1.0394794940948486
Loss: 1.2825226783752441
Loss: 0.40088900923728943
Loss: 1.4064983129501343
Loss: 1.521345615386963
Loss: 0.7631947994232178
Loss: 1.4125300645828247
Loss: 0.719395637512207
Loss: 1.0226939916610718
Loss: 1.0741608142852783
Loss: 0.8813921809196472
Loss: 0.6497570276260376
Loss: 0.9739328622817993
Loss: 0.4779219627380371
Loss: 0.8200034499168396
Loss: 0.7168275713920593
Loss: 0.9383035898208618
Loss: 0.7245575189590454
Loss: 0.7270150780677795
Loss: 1.5834554433822632
Loss: 0.7799263596534729
Loss: 1.189728856086731
Loss: 0.7232950329780579
Loss: 1.5560857057571411
Loss: 1.1116538047790527
Loss: 1.091373085975647
Loss: 0.2759338915348053
Loss: 1.2584943771362305
Loss: 0.7286278605461121
Loss: 1.2305392026901245
Loss: 0.3810945153236389
Loss: 0.4712681770324707
Loss: 1.375292181968689
Loss: 0.32954829931259155
Loss: 1.2637748718261719
Loss: 1.0516315698623657
Loss: 0.571610152721405
Loss: 0.912134051322937
Loss: 0.7101907134056091
Loss: 1.6647193431854248
Loss: 0.7685363292694092
Loss: 0.477067768573761
Loss: 0.2590347230434418
Loss: 0.7047383785247803
Loss: 0.8854138255119324
Loss: 0.6198940277099609
Loss: 0.4456724524497986
Loss: 0.5629594922065735
Loss: 0.6748188138008118
Loss: 0.7148528695106506
Loss: 0.6463139057159424
Loss: 0.6442514657974243
Loss: 0.5181242227554321
Loss: 0.5539884567260742
Loss: 0.39624354243278503
Loss: 0.6455937623977661
Loss: 0.7281975150108337
Loss: 0.6108919978141785
Loss: 0.7323706746101379
Loss: 1.175610899925232
Loss: 0.4175902009010315
Loss: 1.048253059387207
Loss: 0.7606990337371826
Loss: 0.5744076371192932
Loss: 0.6495684385299683
Loss: 0.6570323705673218
Loss: 0.6786335110664368
Loss: 0.7576473951339722
Loss: 1.0793566703796387
Loss: 0.5559716820716858
Loss: 0.8786026239395142
Loss: 1.6927578449249268
Loss: 0.5232632160186768
Loss: 0.980468213558197
Loss: 0.4474888741970062
Loss: 0.7595784664154053
Loss: 0.6273881196975708
Loss: 0.7340126633644104
Loss: 1.2883405685424805
Loss: 0.4691011309623718
Loss: 1.2253308296203613
Loss: 0.6041015982627869
Loss: 0.45699211955070496
Loss: 0.5289226174354553
Loss: 1.0112659931182861
Loss: 1.2704594135284424
Loss: 1.005619764328003
Loss: 0.9738636016845703
Loss: 0.30629053711891174
Loss: 0.7030336856842041
Loss: 1.2241926193237305
Loss: 0.7879192233085632
Loss: 0.49452582001686096
Loss: 0.9267768859863281
Loss: 0.7966626286506653
Loss: 0.6229434609413147
Loss: 0.7391337752342224
Loss: 0.5005042552947998
Loss: 0.6741682887077332
Loss: 0.36913642287254333
Loss: 1.415891170501709
Loss: 0.7388492822647095
Loss: 1.4810287952423096
Loss: 1.2921580076217651
Loss: 1.2205511331558228
Loss: 0.7438347339630127
Loss: 1.6416667699813843
Loss: 0.8570778369903564
Loss: 0.5625625252723694
Loss: 0.7235379815101624
Loss: 0.925649106502533
Loss: 0.9786571860313416
Loss: 0.9356247186660767
Loss: 0.8422510027885437
Loss: 1.4768465757369995
Loss: 0.4559311866760254
Loss: 0.47974997758865356
Loss: 0.5084347128868103
Loss: 0.3988170027732849
Loss: 0.735887348651886
Loss: 0.4886183440685272
Loss: 0.8770636916160583
Loss: 1.586255669593811
Loss: 0.9100056290626526
Loss: 1.0392875671386719
Loss: 1.0286929607391357
Loss: 1.0260210037231445
Loss: 0.46637600660324097
Loss: 0.4838840663433075
Loss: 0.6119054555892944
Loss: 0.547240138053894
Loss: 0.7062462568283081
Loss: 1.536000370979309
Loss: 0.1671694815158844
Loss: 0.6962525844573975
Loss: 0.5224719047546387
Loss: 0.6105461716651917
Loss: 1.54622483253479
Loss: 0.3147038519382477
Loss: 0.3864406645298004
Loss: 0.9175256490707397
Loss: 1.2074722051620483
Loss: 0.8263359665870667
Loss: 0.5159963369369507
Loss: 0.7839133143424988
Loss: 1.0385621786117554
Loss: 0.8107160329818726
Loss: 0.5780772566795349
Loss: 1.2003912925720215
Loss: 0.8779933452606201
Loss: 1.104318380355835
Loss: 0.8894743919372559
Loss: 0.5913675427436829
Loss: 0.43085455894470215
Loss: 0.44896775484085083
Loss: 1.100088357925415
Loss: 0.2966611087322235
Loss: 0.5207891464233398
Loss: 0.5710924863815308
Loss: 0.5664230585098267
Loss: 1.256151556968689
Loss: 0.5018086433410645
Loss: 0.5011905431747437
Loss: 0.597207248210907
Loss: 0.36096492409706116
Loss: 0.40827706456184387
Loss: 0.39857491850852966
Loss: 0.8613571524620056
Loss: 0.3754406273365021
Loss: 0.3810838758945465
Loss: 0.4247293770313263
Loss: 0.9124852418899536
Loss: 0.3399396240711212
Loss: 0.34648215770721436
Loss: 0.270911306142807
Loss: 1.0283325910568237
Loss: 0.39804908633232117
Loss: 0.5225146412849426
Loss: 0.6250384449958801
Loss: 1.1078441143035889
Loss: 0.4018995761871338
Loss: 1.2582218647003174
Loss: 1.0711003541946411
Loss: 1.0756289958953857
Loss: 0.15135741233825684
Loss: 0.7989217638969421
Loss: 1.313107967376709
Loss: 0.5135924816131592
Loss: 0.4477084279060364
Loss: 0.4500217139720917
Loss: 0.7684311270713806
Loss: 0.8533434867858887
Loss: 0.6882107257843018
Loss: 0.26851001381874084
Loss: 0.9199640154838562
Loss: 0.796189546585083
Loss: 0.4920555055141449
Loss: 0.11401738971471786
Loss: 0.8670731782913208
Loss: 1.0498747825622559
Loss: 0.1738031506538391
Loss: 0.7731361389160156
Loss: 0.5591390132904053
Loss: 0.6253823041915894
Loss: 0.4214304983615875
Loss: 0.7782868146896362
Loss: 0.21275383234024048
Loss: 0.4801397919654846
Loss: 0.7263321280479431
Loss: 0.943090558052063
Loss: 0.393216609954834
Loss: 0.33303961157798767
Loss: 0.2941547930240631
Loss: 0.3622719347476959
Loss: 0.9812554717063904
Loss: 0.4208965599536896
Loss: 0.5446583032608032
Loss: 1.5354039669036865
Loss: 0.9033902287483215
Loss: 0.3598977029323578
Loss: 0.868380606174469
Loss: 1.6156418323516846
Loss: 0.5304731726646423
Loss: 0.3834337294101715
Loss: 0.6049508452415466
Loss: 0.9234476685523987
Loss: 0.47434231638908386
Loss: 0.8149262070655823
Loss: 0.8520700335502625
Loss: 1.0879210233688354
Loss: 0.2764696180820465
Loss: 0.3584682047367096
Loss: 0.9434131979942322
Loss: 0.731078565120697
Loss: 0.7357491850852966
Loss: 0.722042441368103
Loss: 0.3621085584163666
Loss: 0.8308812379837036
Loss: 0.44775620102882385
Loss: 1.0307254791259766
Loss: 0.6653556823730469
Loss: 0.8583371639251709
Loss: 0.27167919278144836
Loss: 1.1945899724960327
Loss: 0.3213069438934326
Loss: 0.4409075677394867
Loss: 0.6946414113044739
Loss: 0.6593407988548279
Loss: 0.6496785283088684
Loss: 0.8109714984893799
Loss: 0.9939900040626526
Loss: 0.6236222982406616
Loss: 0.9460664987564087
Loss: 0.42582783102989197
Loss: 1.593679428100586
Loss: 0.621798574924469
Loss: 0.911998450756073
Loss: 1.211181640625
Loss: 0.24762125313282013
Loss: 0.7505372166633606
Loss: 0.3592540919780731
Loss: 0.8246196508407593
Loss: 0.3445759415626526
Loss: 0.8850179314613342
Loss: 0.6022955179214478
Loss: 0.36634141206741333
Loss: 0.4030686020851135
Loss: 0.8750697374343872
Loss: 0.618549108505249
Loss: 0.8576192259788513
Loss: 0.3974621295928955
Loss: 0.41769686341285706
Loss: 0.3654862642288208
Loss: 0.4707147777080536
Loss: 0.41674771904945374
Loss: 0.7764083743095398
Loss: 0.9412247538566589
Loss: 1.021583080291748
Loss: 0.273510605096817
Loss: 0.48351365327835083
Loss: 0.6620921492576599
Loss: 0.4656012952327728
Loss: 0.4413107931613922
Loss: 0.4045120179653168
Loss: 0.4000270962715149
Loss: 0.520725667476654
Loss: 0.24251389503479004
Loss: 0.7297016978263855
Loss: 0.5878633856773376
Loss: 0.6541125178337097
Loss: 0.2186347395181656
Loss: 0.5174242258071899
Loss: 0.2676911950111389
Loss: 0.8267063498497009
Loss: 0.8333502411842346
Loss: 0.2530558109283447
Loss: 0.4359907805919647
Epoch: 1
Loss: 1.2350305318832397
Loss: 2.5087075233459473
Loss: 0.8960638046264648
Loss: 0.5243819355964661
Loss: 1.6071494817733765
Loss: 0.9944464564323425
Loss: 2.223905086517334
Loss: 0.7730807662010193
Loss: 1.9863044023513794
Loss: 0.6528327465057373
Loss: 0.7714492678642273
Loss: 0.7268791198730469
Loss: 0.5394145846366882
Loss: 0.7377547025680542
Loss: 1.0065178871154785
Loss: 1.3820184469223022
Loss: 0.8146678805351257
Loss: 0.8780657649040222
Loss: 1.0331692695617676
Loss: 1.0799436569213867
Loss: 0.7091208696365356
Loss: 0.41530367732048035
Loss: 0.747793972492218
Loss: 1.255871057510376
Loss: 1.2114518880844116
Loss: 0.6533018350601196
Loss: 0.48804083466529846
Loss: 0.745424211025238
Loss: 0.7555471062660217
Loss: 0.8686988949775696
Loss: 0.4924911558628082
Loss: 0.39593541622161865
Loss: 0.6985801458358765
Loss: 0.8416627049446106
Loss: 0.9360011219978333
Loss: 0.6833947896957397
Loss: 1.4767303466796875
Loss: 2.006587505340576
Loss: 1.3315589427947998
Loss: 0.6300639510154724
Loss: 0.4323273003101349
Loss: 1.5163222551345825
Loss: 1.061030387878418
Loss: 0.6389126181602478
Loss: 0.4972897171974182
Loss: 0.4832833707332611
Loss: 0.5640507936477661
Loss: 0.41520318388938904
Loss: 0.6321020722389221
Loss: 0.8575547933578491
Loss: 0.7263367176055908
Loss: 0.5669013261795044
Loss: 0.604378342628479
Loss: 1.218073844909668
Loss: 0.9120336771011353
Loss: 0.4248253107070923
Loss: 0.5791798830032349
Loss: 1.1794719696044922
Loss: 0.9999791383743286
Loss: 0.6233048439025879
Loss: 1.7060818672180176
Loss: 0.6190236806869507
Loss: 0.7890098690986633
Loss: 1.0420771837234497
Loss: 0.6142821907997131
Loss: 0.9397649765014648
Loss: 0.37293076515197754
Loss: 0.6892068386077881
Loss: 0.8770963549613953
Loss: 1.226281762123108
Loss: 0.49388501048088074
Loss: 0.5410450100898743
Loss: 0.5830793380737305
Loss: 0.8497717380523682
Loss: 0.48781195282936096
Loss: 1.0446453094482422
Loss: 0.7576631903648376
Loss: 0.6007570624351501
Loss: 0.577238917350769
Loss: 0.7748651504516602
Loss: 0.3957209885120392
Loss: 0.7187996506690979
Loss: 0.9172394275665283
Loss: 0.6725664138793945
Loss: 0.5355228185653687
Loss: 0.4659591019153595
Loss: 0.6452411413192749
Loss: 0.7302537560462952
Loss: 0.23972158133983612
Loss: 1.089093804359436
Loss: 1.3804497718811035
Loss: 1.2264275550842285
Loss: 0.4484061896800995
Loss: 0.5836231708526611
Loss: 0.4467717409133911
Loss: 0.4878515601158142
Loss: 0.5218610763549805
Loss: 1.3478515148162842
Loss: 0.5424902439117432
Loss: 1.2607718706130981
Loss: 1.111777663230896
Loss: 0.3318122327327728
Loss: 0.701043426990509
Loss: 0.2745891511440277
Loss: 0.7623313069343567
Loss: 0.9424823522567749
Loss: 0.6856109499931335
Loss: 0.7836787104606628
Loss: 0.6615875959396362
Loss: 0.8507557511329651
Loss: 0.5100886225700378
Loss: 0.705136239528656
Loss: 0.572108268737793
Loss: 1.162632703781128
Loss: 0.46495309472084045
Loss: 0.38660910725593567
Loss: 0.4818100929260254
Loss: 0.7313135862350464
Loss: 1.2242271900177002
Loss: 0.5674627423286438
Loss: 0.7565716505050659
Loss: 0.6284785866737366
Loss: 0.6661626100540161
Loss: 0.9077131152153015
Loss: 1.339713215827942
Loss: 0.9468932151794434
Loss: 0.49964943528175354
Loss: 0.9243457913398743
Loss: 0.6533071994781494
Loss: 0.4350748360157013
Loss: 0.639767050743103
Loss: 0.8900930285453796
Loss: 0.7392139434814453
Loss: 0.6041338443756104
Loss: 1.0194079875946045
Loss: 0.4465651214122772
Loss: 0.5862768292427063
Loss: 0.36845144629478455
Loss: 0.45278072357177734
Loss: 0.5894984006881714
Loss: 0.8444328308105469
Loss: 0.5131567716598511
Loss: 1.1095894575119019
Loss: 1.0280656814575195
Loss: 0.5790480375289917
Loss: 0.6085962057113647
Loss: 0.6953973770141602
Loss: 0.27086666226387024
Loss: 0.2789011299610138
Loss: 0.6996824741363525
Loss: 0.661073625087738
Loss: 0.5712767839431763
Loss: 0.7028485536575317
Loss: 0.2673906981945038
Loss: 0.39041176438331604
Loss: 0.23818647861480713
Loss: 0.742072582244873
Loss: 0.9378740787506104
Loss: 0.7299270629882812
Loss: 1.4313418865203857
Loss: 0.8187596201896667
Loss: 0.6120197176933289
Loss: 1.0113437175750732
Loss: 0.9026884436607361
Loss: 1.1987675428390503
Loss: 0.5429456233978271
Loss: 0.9909330606460571
Loss: 0.6884796619415283
Loss: 0.45536577701568604
Loss: 0.28920412063598633
Loss: 0.5665959119796753
Loss: 0.47231003642082214
Loss: 0.6083118915557861
Loss: 0.5860364437103271
Loss: 0.5409841537475586
Loss: 0.4147585928440094
Loss: 0.5630013346672058
Loss: 0.3330790102481842
Loss: 0.5919100642204285
Loss: 0.3419100046157837
Loss: 0.534965991973877
Loss: 0.6031942367553711
Loss: 0.9776038527488708
Loss: 0.7946890592575073
Loss: 1.64902663230896
Loss: 0.7053381204605103
Loss: 0.9433395266532898
Loss: 1.1598361730575562
Loss: 0.4858517050743103
Loss: 1.4054898023605347
Loss: 0.5386633276939392
Loss: 1.2121752500534058
Loss: 0.633767306804657
Loss: 0.5254639387130737
Loss: 1.055444359779358
Loss: 0.6498618125915527
Loss: 0.7014226913452148
Loss: 0.5804942846298218
Loss: 0.7596837282180786
Loss: 0.46333885192871094
Loss: 0.5271009802818298
Loss: 0.7753340005874634
Loss: 0.7043084502220154
Loss: 0.40456250309944153
Loss: 0.8405648469924927
Loss: 0.5071230530738831
Loss: 0.4085864722728729
Loss: 0.2744636833667755
Loss: 0.38907450437545776
Loss: 0.5408071279525757
Loss: 0.662039577960968
Loss: 0.30526813864707947
Loss: 0.3105652928352356
Loss: 0.14130382239818573
Loss: 0.11406667530536652
Loss: 0.5793328285217285
Loss: 0.8646732568740845
Loss: 0.2633594870567322
Loss: 0.13685961067676544
Loss: 0.3715651333332062
Loss: 0.21223659813404083
Loss: 0.47751230001449585
Loss: 0.2844131588935852
Loss: 0.3840165436267853
Loss: 0.5011504292488098
Loss: 0.3521212041378021
Loss: 0.7346365451812744
Loss: 0.19879715144634247
Loss: 0.4663356840610504
Loss: 0.6246717572212219
Loss: 0.8138977885246277
Loss: 1.1941341161727905
Loss: 0.298473984003067
Loss: 0.20123955607414246
Loss: 0.6081178188323975
Loss: 0.5934286713600159
Loss: 0.6690263152122498
Loss: 0.7895198464393616
Loss: 0.28961890935897827
Loss: 0.24390947818756104
Loss: 0.5983929634094238
Loss: 0.30130571126937866
Loss: 0.8397576808929443
Loss: 0.46875426173210144
Loss: 0.5654082894325256
Loss: 0.6622911095619202
Loss: 0.27156150341033936
Loss: 0.4876507818698883

In [ ]:
    # model.eval()
    # val_loss = 0.0
    # with torch.no_grad():
    #     for batch in eval_dataloader:
    #         # put batch on device
    #         batch = {k:v.to(device) for k,v in batch.items()}

    #         # forward pass
    #         outputs = model(**batch)
    #         loss = outputs.logits

    #         val_loss += loss.item()

    # print("Validation loss after epoch {epoch}:", val_loss/len(eval_dataloader))

In [ ]:
# import numpy as np
# f1_scores=np.array(f1_scores)
# accuracy_scores=np.array(accuracy_scores)

In [ ]:
# print(f"mean of f1 scores: {f1_scores.mean()}\n")
# print(f"mean of accuracy scores: {accuracy_scores.mean()}")

In [ ]:
# import torch
# torch.cuda.empty_cache()

In [ ]:
# import gc
# gc.collect()
# torch.cuda.empty_cache()

In [ ]:
# final_accuracy_score = accuracy.compute()
# final_f1_score = f1.compute()

In [ ]:
# print(f"Final accuracy: {final_accuracy_score['accuracy']}")
# print(f"Final F1 score: {final_f1_score['f1']}")

In [ ]:
save_path = '/content/drive/MyDrive/model_checkpoints'

# Save the model and optimizer state at the end of training
if not os.path.exists(save_path):
    os.makedirs(save_path)
checkpoint_path = os.path.join(save_path, "100prct_spider_checkpoint5Dinetunedwqa.pt")
torch.save({
    'model_state_dict': model.state_dict(),
    'optimizer_state_dict': optimizer.state_dict(),
}, checkpoint_path)
print(f"Final checkpoint saved to {checkpoint_path}")

Final checkpoint saved to /content/drive/MyDrive/model_checkpoints/100prct_spider_checkpoint5Dinetunedwqa.pt

In [ ]:
import collections
import numpy as np

def compute_prediction_sequence(model, data, device):
  """Computes predictions using model's answers to the previous questions."""

  # prepare data
  input_ids = data["input_ids"].to(device)
  attention_mask = data["attention_mask"].to(device)
  token_type_ids = data["token_type_ids"].to(device)

  all_logits = []
  prev_answers = None

  num_batch = data["input_ids"].shape[0]

  for idx in range(num_batch):

    if prev_answers is not None:
        coords_to_answer = prev_answers[idx]
        # Next, set the label ids predicted by the model
        prev_label_ids_example = token_type_ids_example[:,3] # shape (seq_len,)
        model_label_ids = np.zeros_like(prev_label_ids_example.cpu().numpy()) # shape (seq_len,)

        # for each token in the sequence:
        token_type_ids_example = token_type_ids[idx] # shape (seq_len, 7)
        for i in range(model_label_ids.shape[0]):
          segment_id = token_type_ids_example[:,0].tolist()[i]
          col_id = token_type_ids_example[:,1].tolist()[i] - 1
          row_id = token_type_ids_example[:,2].tolist()[i] - 1
          if row_id >= 0 and col_id >= 0 and segment_id == 1:
            model_label_ids[i] = int(coords_to_answer[(col_id, row_id)])

        # set the prev label ids of the example (shape (1, seq_len) )
        token_type_ids_example[:,3] = torch.from_numpy(model_label_ids).type(torch.long).to(device)

    prev_answers = {}
    # get the example
    input_ids_example = input_ids[idx] # shape (seq_len,)
    attention_mask_example = attention_mask[idx] # shape (seq_len,)
    token_type_ids_example = token_type_ids[idx] # shape (seq_len, 7)
    # forward pass to obtain the logits
    outputs = model(input_ids=input_ids_example.unsqueeze(0),
                    attention_mask=attention_mask_example.unsqueeze(0),
                    token_type_ids=token_type_ids_example.unsqueeze(0))
    logits = outputs.logits
    all_logits.append(logits)

    # convert logits to probabilities (which are of shape (1, seq_len))
    dist_per_token = torch.distributions.Bernoulli(logits=logits)
    probabilities = dist_per_token.probs * attention_mask_example.type(torch.float32).to(dist_per_token.probs.device)

    # Compute average probability per cell, aggregating over tokens.
    # Dictionary maps coordinates to a list of one or more probabilities
    coords_to_probs = collections.defaultdict(list)
    prev_answers = {}
    for i, p in enumerate(probabilities.squeeze().tolist()):
      segment_id = token_type_ids_example[:,0].tolist()[i]
      col = token_type_ids_example[:,1].tolist()[i] - 1
      row = token_type_ids_example[:,2].tolist()[i] - 1
      if col >= 0 and row >= 0 and segment_id == 1:
        coords_to_probs[(col, row)].append(p)

    # Next, map cell coordinates to 1 or 0 (depending on whether the mean prob of all cell tokens is > 0.5)
    coords_to_answer = {}
    for key in coords_to_probs:
      coords_to_answer[key] = np.array(coords_to_probs[key]).mean() > 0.5
    prev_answers[idx+1] = coords_to_answer

  logits_batch = torch.cat(tuple(all_logits), 0)

  return logits_batch

In [ ]:
queries = ['Show all distinct building descriptions.', 'Give me a list of all the distinct building descriptions.', 'Show the short names of the buildings managed by "Emma".', 'Which buildings does "Emma" manage? Give me the short names of the buildings.', 'Show the addresses and phones of all the buildings managed by "Brenden".', 'What are the address and phone number of the buildings managed by "Brenden"?']

inputs = tokenizer(table=table, queries=queries, padding='max_length', return_tensors="pt",truncation=True)## I added truncation mayebe remove it
logits = compute_prediction_sequence(model, inputs, 'cuda')

In [ ]:
predicted_answer_coordinates, = tokenizer.convert_logits_to_predictions(inputs, logits.cpu().detach())

In [ ]:
# handy helper function in case inference on Pandas dataframe
answers = []
for coordinates in predicted_answer_coordinates:
  if len(coordinates) == 1:
    # only a single cell:
    answers.append(table.iat[coordinates[0]])
  else:
    # multiple cells
    cell_values = []
    for coordinate in coordinates:
      cell_values.append(table.iat[coordinate])
    answers.append(", ".join(cell_values))

display(table)
print("")
for query, answer in zip(queries, answers):
  print(query)
  print("Predicted answer: " + answer)

,building_id,building_short_name,building_full_name,building_description,building_address,building_manager,building_phone
0,133,Normandie Court,Normandie Court,Studio,"7950 Casper Vista Apt. 176\nMarquiseberg, CA 7...",Emma,(948)040-1064x387
1,153,Mercedes House,Mercedes House,Studio,"354 Otto Villages\nCharliefort, VT 71664",Brenden,915-617-2408x832
2,191,The Eugene,The Eugene,Flat,"71537 Gorczany Inlet\nWisozkburgh, AL 08256",Melyssa,(609)946-0491
3,196,VIA 57 WEST,VIA 57 WEST,Studio,"959 Ethel Viaduct\nWest Efrainburgh, DE 40074",Kathlyn,681.772.2454
4,225,Columbus Square,Columbus Square,Studio,"0703 Danika Mountains Apt. 362\nMohrland, AL 5...",Kyle,1-724-982-9507x640
5,532,Avalon Park,Avalon Park,Duplex,"6827 Kessler Parkway Suite 908\nAhmedberg, WI ...",Albert,376-017-3538
6,556,Peter Cooper Village,Peter Cooper Village,Flat,"861 Narciso Glens Suite 392\nEast Ottis, ND 73970",Darlene,1-224-619-0295x13195
7,624,Stuyvesant Town,Stuyvesant Town,Studio,101 Queenie Mountains Suite 619\nNew Korbinmou...,Marie,(145)411-6406
8,644,The Anthem,The Anthem,Flat,"50804 Mason Isle Suite 844\nWest Whitney, ID 6...",Ewald,(909)086-5221x3455
9,673,Barclay Tower,Barclay Tower,Flat,"1579 Runte Forges Apt. 548\nLeuschkeland, OK 1...",Rogers,1-326-267-3386x613
10,734,Windsor Court,Windsor Court,Studio,"601 Graham Roads\nPort Luz, VA 29660-6703",Olaf,(480)480-7401
11,744,Silver Towers,Silver Towers,Flat,"1844 Armstrong Stravenue Suite 853\nMyrnatown,...",Claude,1-667-728-2287x3158
12,790,Biltmore Plaza,Biltmore Plaza,Duplex,"489 Josh Orchard Apt. 998\nSipesview, DE 69053",Sydni,544-148-5565x2847
13,808,Petersfield,Petersfield,Studio,54686 Christopher Circles Apt. 321\nDaytonland...,Juvenal,318-398-8140
14,968,The Clinton,The Clinton,Flat,"012 Arnoldo Mountain\nGerholdland, ID 23342",Holly,1-605-511-1973x25011

Show all distinct building descriptions.
Predicted answer: Studio, Flat, Duplex
Give me a list of all the distinct building descriptions.
Predicted answer: Studio, Flat, Duplex
Show the short names of the buildings managed by "Emma".
Predicted answer: Normandie Court
Which buildings does "Emma" manage? Give me the short names of the buildings.
Predicted answer: Normandie Court
Show the addresses and phones of all the buildings managed by "Brenden".
Predicted answer: 915-617-2408x832
What are the address and phone number of the buildings managed by "Brenden"?
Predicted answer: 915-617-2408x832

# Test with QATCH

In [ ]:
from qatch.database_reader import MultipleDatabases

# The path to multiple databases
db_save_path = '/content/drive/MyDrive/spider/test_database'
databases = MultipleDatabases(db_save_path)

In [ ]:
# from qatch import TestGenerator

# # # init generator
# # test_generator = TestGenerator(databases=databases)

# # # generate tests for each database and for each generator
# # tests_df = test_generator.generate()

Generating test for each database: 100%|██████████| 206/206 [04:09<00:00,  1.21s/it]

In [ ]:
# excluded_tags = [
#     'GROUPBY-NO-AGGR', 'GROUPBY-COUNT', 'GROUPBY-AGG-MIN',
#     'GROUPBY-AGG-MAX', 'GROUPBY-AGG-AVG', 'GROUPBY-AGG-SUM',
#     'HAVING-COUNT-GR', 'HAVING-COUNT-LS', 'HAVING-COUNT-EQ',
#     'HAVING-AGG-AVG-GR', 'HAVING-AGG-AVG-LS', 'HAVING-AGG-SUM-GR',
#     'HAVING-AGG-SUM-LS', 'SIMPLE-AGG-COUNT',
#     'SIMPLE-AGG-COUNT-DISTINCT', 'SIMPLE-AGG-MAX', 'SIMPLE-AGG-MIN',
#     'SIMPLE-AGG-AVG', 'NULL-COUNT', 'NOT-NULL-COUNT',
#     'WHERE-CAT-MOST-FREQUENT', 'WHERE-CAT-LEAST-FREQUENT',
#     'WHERE-NOT-MOST-FREQUENT', 'WHERE-NOT-LEAST-FREQUENT','WHERE-NUM-MAX-VALUES-EMPTY',
#        'WHERE-NUM-MAX-VALUES', 'WHERE-NUM-MIN-VALUES',
#        'WHERE-NUM-MIN-VALUES-EMPTY', 'WHERE-NUM-MEAN-VALUES']

In [ ]:
# filtered_tests_df = tests_df[~tests_df['sql_tags'].apply(lambda tag: any(excluded_tag in tag for excluded_tag in excluded_tags))]

In [ ]:
# filtered_tests_df

,db_id,tbl_name,sql_tags,query,question
0,browser_web,Web_client_accelerator,SELECT-ALL,"SELECT * FROM ""Web_client_accelerator""",Show all the rows in the table Web_client_acce...
1,browser_web,Web_client_accelerator,SELECT-ADD-COL,"SELECT ""id"" FROM ""Web_client_accelerator""","Show all ""id"" in the table Web_client_accelerator"
2,browser_web,Web_client_accelerator,SELECT-ADD-COL,"SELECT ""id"", ""name"" FROM ""Web_client_accelerator""","Show all ""id"", ""name"" in the table Web_client_..."
3,browser_web,Web_client_accelerator,SELECT-ADD-COL,"SELECT ""id"", ""name"", ""Operating_system"" FROM ""...","Show all ""id"", ""name"", ""Operating_system"" in t..."
4,browser_web,Web_client_accelerator,SELECT-ADD-COL,"SELECT ""id"", ""name"", ""Operating_system"", ""Clie...","Show all ""id"", ""name"", ""Operating_system"", ""Cl..."
...,...,...,...,...,...
62788,school_player,player,DISTINCT-SINGLE,"SELECT DISTINCT ""Team"" FROM ""player""","Show the different ""Team"" in the table player"
62789,school_player,player,DISTINCT-SINGLE,"SELECT DISTINCT ""Position"" FROM ""player""","Show the different ""Position"" in the table player"
62790,school_player,player,DISTINCT-MULT,"SELECT DISTINCT ""Team"" FROM ""player""","Show the different ""Team"" in the table ""player"""
62791,school_player,player,DISTINCT-MULT,"SELECT DISTINCT ""Team"", ""Position"" FROM ""player""","Show the different ""Team"", ""Position"" in the t..."
62792,school_player,player,DISTINCT-MULT,"SELECT DISTINCT ""Team"", ""Position"", ""Player"" F...","Show the different ""Team"", ""Position"", ""Player..."

In [ ]:
# filtered_df_tests = filtered_tests_df[filtered_tests_df.apply(lambda row: row['tbl_name'] in db_to_tables_constraint.get(row['db_id'], []), axis=1)]

In [ ]:
# filtered_df_tests

,db_id,tbl_name,sql_tags,query,question
10,browser_web,browser,SELECT-ALL,"SELECT * FROM ""browser""",Show all the rows in the table browser
11,browser_web,browser,SELECT-ADD-COL,"SELECT ""id"" FROM ""browser""","Show all ""id"" in the table browser"
12,browser_web,browser,SELECT-ADD-COL,"SELECT ""id"", ""name"" FROM ""browser""","Show all ""id"", ""name"" in the table browser"
13,browser_web,browser,SELECT-RANDOM-COL,"SELECT ""name"" FROM ""browser""","Show all ""name"" in the table browser"
14,browser_web,browser,SELECT-RANDOM-COL,"SELECT ""name"", ""market_share"" FROM ""browser""","Show all ""name"", ""market_share"" in the table b..."
...,...,...,...,...,...
62726,school_player,school_details,DISTINCT-MULT,"SELECT DISTINCT ""Class"" FROM ""school_details""","Show the different ""Class"" in the table ""schoo..."
62727,school_player,school_details,DISTINCT-MULT,"SELECT DISTINCT ""Class"", ""Division"" FROM ""scho...","Show the different ""Class"", ""Division"" in the ..."
62728,school_player,school_details,DISTINCT-MULT,"SELECT DISTINCT ""Class"", ""Division"", ""Colors"" ...","Show the different ""Class"", ""Division"", ""Color..."
62729,school_player,school_details,DISTINCT-MULT,"SELECT DISTINCT ""Class"", ""Division"", ""Colors"",...","Show the different ""Class"", ""Division"", ""Color..."
62730,school_player,school_details,DISTINCT-MULT,"SELECT DISTINCT ""Class"", ""Division"", ""Colors"",...","Show the different ""Class"", ""Division"", ""Color..."

In [ ]:
# filtered_df_sampled

,db_id,tbl_name,sql_tags,query,question
15511,phone_1,phone,ORDERBY-PROJECT,"SELECT ""Accreditation_level"" FROM ""phone"" ORDE...","Project the ""Accreditation_level"" ordered in d..."
49809,election,party,DISTINCT-MULT,"SELECT DISTINCT ""Comptroller"", ""US_Senate"", ""A...","Show the different ""Comptroller"", ""US_Senate"",..."
51446,tracking_orders,Order_Items,ORDERBY-PROJECT,"SELECT ""order_id"" FROM ""Order_Items"" ORDER BY ...","Project the ""order_id"" ordered in descending o..."
9584,culture_company,movie,DISTINCT-SINGLE,"SELECT DISTINCT ""Publisher"" FROM ""book_club""","Show the different ""Publisher"" in the table bo..."
55896,coffee_shop,shop,DISTINCT-SINGLE,"SELECT DISTINCT ""Address"" FROM ""shop""","Show the different ""Address"" in the table shop"
...,...,...,...,...,...
7264,store_product,store,DISTINCT-SINGLE,"SELECT DISTINCT ""Type"" FROM ""store""","Show the different ""Type"" in the table store"
24852,icfp_1,Inst,ORDERBY-SINGLE,"SELECT * FROM ""Inst"" ORDER BY ""instID"" DESC",Show all data ordered by instID in descending ...
50883,sports_competition,player,DISTINCT-SINGLE,"SELECT DISTINCT ""name"" FROM ""club""","Show the different ""name"" in the table club"
52432,phone_market,phone,ORDERBY-PROJECT,"SELECT ""Carrier"" FROM ""phone"" ORDER BY ""Carrie...","Project the ""Carrier"" ordered in ascending ord..."
33947,city_record,temperature,SELECT-RANDOM-COL,"SELECT ""Jul"", ""Aug"", ""Dec"", ""Jun"", ""Sep"", ""Nov...","Show all ""Jul"", ""Aug"", ""Dec"", ""Jun"", ""Sep"", ""N..."

In [ ]:
# filtered_df_sampled = filtered_df_sampled.reset_index().rename(columns={'index': 'row_index'})

In [ ]:
device='cuda'

In [ ]:
def getAnswer(row):
    row_index = row['row_index']
    print(f"Processing row {row_index}...")

    seq_id = row["db_id"] + "_X_" + row["tbl_name"]

    # Check if the table exists in the dictionary and is not empty
    if seq_id not in db_table_to_df or db_table_to_df[seq_id].empty:
        print(f"Row {row_index} skipped: table not found or empty.")
        return None

    table = db_table_to_df[seq_id]
    table = table.astype(str)
    query_nl = [row["question"]]

    try:
        inputs = tokenizer(table=table, queries=query_nl, padding='max_length', return_tensors="pt", truncation=True)
        logits = compute_prediction_sequence(model, inputs, device)
        predicted_answer_coordinates, = tokenizer.convert_logits_to_predictions(inputs, logits.cpu().detach())

        answers = []
        for coordinates in predicted_answer_coordinates:
            if len(coordinates) == 1:
                # Only a single cell:
                answers.append(table.iat[coordinates[0]])
            else:
                # Multiple cells
                cell_values = []
                for coordinate in coordinates:
                    cell_values.append(table.iat[coordinate])
                answers.append(", ".join(cell_values))
        print(f"Row {row_index} processed successfully.")
    except IndexError:
        # If there's an index out of range error, skip this table
        print(f"Row {row_index} skipped due to IndexError.")
        return None

    return answers

In [ ]:
# # Apply the function row-wise
# filtered_df_sampled['predictions_TAPAS'] = filtered_df_sampled.apply(getAnswer, axis=1)

Processing row 15511...
Row 15511 processed successfully.
Processing row 49809...
Row 49809 processed successfully.
Processing row 51446...
Row 51446 processed successfully.
Processing row 9584...
Row 9584 processed successfully.
Processing row 55896...
Row 55896 processed successfully.
Processing row 28534...
Row 28534 processed successfully.
Processing row 56856...
Row 56856 processed successfully.
Processing row 47919...
Row 47919 processed successfully.
Processing row 5194...
Row 5194 processed successfully.
Processing row 4934...
Row 4934 processed successfully.
Processing row 27034...
Row 27034 processed successfully.
Processing row 50225...
Row 50225 processed successfully.
Processing row 48130...
Row 48130 processed successfully.
Processing row 62729...
Row 62729 processed successfully.
Processing row 25422...
Row 25422 processed successfully.
Processing row 33967...
Row 33967 processed successfully.
Processing row 16303...
Row 16303 processed successfully.
Processing row 59988...
Row 59988 processed successfully.
Processing row 29025...
Row 29025 processed successfully.
Processing row 51263...
Row 51263 processed successfully.
Processing row 61139...
Row 61139 processed successfully.
Processing row 3511...
Row 3511 processed successfully.
Processing row 52997...
Row 52997 processed successfully.
Processing row 23163...
Row 23163 processed successfully.
Processing row 47947...
Row 47947 processed successfully.
Processing row 50645...
Row 50645 processed successfully.
Processing row 54539...
Row 54539 processed successfully.
Processing row 15007...
Row 15007 processed successfully.
Processing row 61678...
Row 61678 processed successfully.
Processing row 53680...
Row 53680 processed successfully.
Processing row 7758...
Row 7758 processed successfully.
Processing row 59...
Row 59 processed successfully.
Processing row 7887...
Row 7887 processed successfully.
Processing row 62406...
Row 62406 processed successfully.
Processing row 62100...
Row 62100 processed successfully.
Processing row 25302...
Row 25302 processed successfully.
Processing row 17496...
Row 17496 processed successfully.
Processing row 49211...
Row 49211 processed successfully.
Processing row 16654...
Row 16654 processed successfully.
Processing row 9920...
Row 9920 processed successfully.
Processing row 25336...
Row 25336 processed successfully.
Processing row 25345...
Row 25345 processed successfully.
Processing row 37114...
Row 37114 processed successfully.
Processing row 1373...
Row 1373 processed successfully.
Processing row 19873...
Row 19873 processed successfully.
Processing row 1219...
Row 1219 processed successfully.
Processing row 28588...
Row 28588 processed successfully.
Processing row 48120...
Row 48120 processed successfully.
Processing row 21010...
Row 21010 processed successfully.
Processing row 18515...
Row 18515 processed successfully.
Processing row 48248...
Row 48248 processed successfully.
Processing row 56787...
Row 56787 processed successfully.
Processing row 1233...
Row 1233 processed successfully.
Processing row 33756...
Row 33756 processed successfully.
Processing row 5207...
Row 5207 processed successfully.
Processing row 16398...
Row 16398 processed successfully.
Processing row 49227...
Row 49227 processed successfully.
Processing row 17494...
Row 17494 processed successfully.
Processing row 62098...
Row 62098 processed successfully.
Processing row 49787...
Row 49787 processed successfully.
Processing row 7686...
Row 7686 processed successfully.
Processing row 19855...
Row 19855 processed successfully.
Processing row 1901...
Row 1901 processed successfully.
Processing row 36963...
Row 36963 processed successfully.
Processing row 35360...
Row 35360 processed successfully.
Processing row 2736...
Row 2736 processed successfully.
Processing row 51445...
Row 51445 processed successfully.
Processing row 36917...
Row 36917 processed successfully.
Processing row 24507...
Row 24507 processed successfully.
Processing row 61903...
Row 61903 processed successfully.
Processing row 1415...
Row 1415 processed successfully.
Processing row 18200...
Row 18200 processed successfully.
Processing row 52972...
Row 52972 processed successfully.
Processing row 51877...
Row 51877 processed successfully.
Processing row 62414...
Row 62414 processed successfully.
Processing row 50858...
Row 50858 processed successfully.
Processing row 21002...
Row 21002 processed successfully.
Processing row 24351...
Row 24351 processed successfully.
Processing row 14309...
Row 14309 processed successfully.
Processing row 5134...
Row 5134 processed successfully.
Processing row 24304...
Row 24304 processed successfully.
Processing row 51806...
Row 51806 processed successfully.
Processing row 51648...
Row 51648 processed successfully.
Processing row 57443...
Row 57443 processed successfully.
Processing row 25337...
Row 25337 processed successfully.
Processing row 34321...
Row 34321 processed successfully.
Processing row 16859...
Row 16859 processed successfully.
Processing row 61758...
Row 61758 processed successfully.
Processing row 61...
Row 61 processed successfully.
Processing row 50817...
Row 50817 processed successfully.
Processing row 16915...
Row 16915 processed successfully.
Processing row 47935...
Row 47935 processed successfully.
Processing row 27674...
Row 27674 processed successfully.
Processing row 52750...
Row 52750 processed successfully.
Processing row 27277...
Row 27277 processed successfully.
Processing row 20866...
Row 20866 processed successfully.
Processing row 35024...
Row 35024 processed successfully.
Processing row 25806...
Row 25806 processed successfully.
Processing row 29972...
Row 29972 processed successfully.
Processing row 61972...
Row 61972 processed successfully.
Processing row 2074...
Row 2074 processed successfully.
Processing row 201...
Row 201 processed successfully.
Processing row 1905...
Row 1905 processed successfully.
Processing row 24848...
Row 24848 processed successfully.
Processing row 61348...
Row 61348 processed successfully.
Processing row 8792...
Row 8792 processed successfully.
Processing row 52578...
Row 52578 processed successfully.
Processing row 27040...
Row 27040 processed successfully.
Processing row 61077...
Row 61077 processed successfully.
Processing row 20861...
Row 20861 processed successfully.
Processing row 18520...
Row 18520 processed successfully.
Processing row 30248...
Row 30248 processed successfully.
Processing row 8383...
Row 8383 processed successfully.
Processing row 25401...
Row 25401 processed successfully.
Processing row 27215...
Row 27215 processed successfully.
Processing row 48548...
Row 48548 processed successfully.
Processing row 29831...
Row 29831 processed successfully.
Processing row 61364...
Row 61364 processed successfully.
Processing row 24720...
Row 24720 processed successfully.
Processing row 5702...
Row 5702 processed successfully.
Processing row 36752...
Row 36752 processed successfully.
Processing row 52753...
Row 52753 processed successfully.
Processing row 62677...
Row 62677 processed successfully.
Processing row 48941...
Row 48941 processed successfully.
Processing row 54651...
Row 54651 processed successfully.
Processing row 60084...
Row 60084 processed successfully.
Processing row 7307...
Row 7307 processed successfully.
Processing row 29832...
Row 29832 processed successfully.
Processing row 56759...
Row 56759 processed successfully.
Processing row 50217...
Row 50217 processed successfully.
Processing row 25314...
Row 25314 processed successfully.
Processing row 207...
Row 207 processed successfully.
Processing row 23178...
Row 23178 processed successfully.
Processing row 15228...
Row 15228 processed successfully.
Processing row 5189...
Row 5189 processed successfully.
Processing row 1218...
Row 1218 processed successfully.
Processing row 61777...
Row 61777 processed successfully.
Processing row 59195...
Row 59195 processed successfully.
Processing row 52569...
Row 52569 processed successfully.
Processing row 50607...
Row 50607 processed successfully.
Processing row 60711...
Row 60711 processed successfully.
Processing row 35330...
Row 35330 processed successfully.
Processing row 27301...
Row 27301 processed successfully.
Processing row 8431...
Row 8431 processed successfully.
Processing row 19850...
Row 19850 processed successfully.
Processing row 55602...
Row 55602 processed successfully.
Processing row 34039...
Row 34039 processed successfully.
Processing row 8137...
Row 8137 processed successfully.
Processing row 61953...
Row 61953 processed successfully.
Processing row 2267...
Row 2267 processed successfully.
Processing row 27581...
Row 27581 processed successfully.
Processing row 35391...
Row 35391 processed successfully.
Processing row 35298...
Row 35298 processed successfully.
Processing row 25156...
Row 25156 processed successfully.
Processing row 5103...
Row 5103 processed successfully.
Processing row 16976...
Row 16976 processed successfully.
Processing row 28496...
Row 28496 processed successfully.
Processing row 57512...
Row 57512 processed successfully.
Processing row 57505...
Row 57505 processed successfully.
Processing row 57525...
Row 57525 processed successfully.
Processing row 4884...
Row 4884 processed successfully.
Processing row 21023...
Row 21023 processed successfully.
Processing row 62700...
Row 62700 processed successfully.
Processing row 24547...
Row 24547 processed successfully.
Processing row 37189...
Row 37189 processed successfully.
Processing row 27587...
Row 27587 processed successfully.
Processing row 15112...
Row 15112 processed successfully.
Processing row 213...
Row 213 processed successfully.
Processing row 25459...
Row 25459 processed successfully.
Processing row 50920...
Row 50920 processed successfully.
Processing row 37151...
Row 37151 processed successfully.
Processing row 2694...
Row 2694 processed successfully.
Processing row 24500...
Row 24500 processed successfully.
Processing row 9602...
Row 9602 processed successfully.
Processing row 2296...
Row 2296 processed successfully.
Processing row 16695...
Row 16695 processed successfully.
Processing row 14291...
Row 14291 processed successfully.
Processing row 49299...
Row 49299 processed successfully.
Processing row 2699...
Row 2699 processed successfully.
Processing row 3478...
Row 3478 processed successfully.
Processing row 60681...
Row 60681 processed successfully.
Processing row 56309...
Row 56309 processed successfully.
Processing row 20871...
Row 20871 processed successfully.
Processing row 33905...
Row 33905 processed successfully.
Processing row 27321...
Row 27321 processed successfully.
Processing row 35208...
Row 35208 processed successfully.
Processing row 36927...
Row 36927 processed successfully.
Processing row 25858...
Row 25858 processed successfully.
Processing row 27344...
Row 27344 processed successfully.
Processing row 9855...
Row 9855 processed successfully.
Processing row 53181...
Row 53181 processed successfully.
Processing row 61136...
Row 61136 processed successfully.
Processing row 62718...
Row 62718 processed successfully.
Processing row 58133...
Row 58133 processed successfully.
Processing row 34406...
Row 34406 processed successfully.
Processing row 20946...
Row 20946 processed successfully.
Processing row 19535...
Row 19535 processed successfully.
Processing row 52773...
Row 52773 processed successfully.
Processing row 23405...
Row 23405 processed successfully.
Processing row 49162...
Row 49162 processed successfully.
Processing row 50478...
Row 50478 processed successfully.
Processing row 60250...
Row 60250 processed successfully.
Processing row 970...
Row 970 processed successfully.
Processing row 55528...
Row 55528 processed successfully.
Processing row 2878...
Row 2878 processed successfully.
Processing row 49830...
Row 49830 processed successfully.
Processing row 3484...
Row 3484 processed successfully.
Processing row 7687...
Row 7687 processed successfully.
Processing row 59051...
Row 59051 processed successfully.
Processing row 34030...
Row 34030 processed successfully.
Processing row 47911...
Row 47911 processed successfully.
Processing row 62435...
Row 62435 processed successfully.
Processing row 34386...
Row 34386 processed successfully.
Processing row 1363...
Row 1363 processed successfully.
Processing row 2021...
Row 2021 processed successfully.
Processing row 61676...
Row 61676 processed successfully.
Processing row 9571...
Row 9571 processed successfully.
Processing row 52971...
Row 52971 processed successfully.
Processing row 49127...
Row 49127 processed successfully.
Processing row 17510...
Row 17510 processed successfully.
Processing row 30255...
Row 30255 processed successfully.
Processing row 21766...
Row 21766 processed successfully.
Processing row 17489...
Row 17489 processed successfully.
Processing row 5739...
Row 5739 processed successfully.
Processing row 1928...
Row 1928 processed successfully.
Processing row 8714...
Row 8714 processed successfully.
Processing row 9909...
Row 9909 processed successfully.
Processing row 2326...
Row 2326 processed successfully.
Processing row 51645...
Row 51645 processed successfully.
Processing row 25808...
Row 25808 processed successfully.
Processing row 51461...
Row 51461 processed successfully.
Processing row 36751...
Row 36751 processed successfully.
Processing row 9860...
Row 9860 processed successfully.
Processing row 25310...
Row 25310 processed successfully.
Processing row 20962...
Row 20962 processed successfully.
Processing row 10670...
Row 10670 processed successfully.
Processing row 23369...
Row 23369 processed successfully.
Processing row 55504...
Row 55504 processed successfully.
Processing row 25850...
Row 25850 processed successfully.
Processing row 16659...
Row 16659 processed successfully.
Processing row 20868...
Row 20868 processed successfully.
Processing row 48149...
Row 48149 processed successfully.
Processing row 62006...
Row 62006 processed successfully.
Processing row 54593...
Row 54593 processed successfully.
Processing row 49349...
Row 49349 processed successfully.
Processing row 643...
Row 643 processed successfully.
Processing row 48186...
Row 48186 processed successfully.
Processing row 16612...
Row 16612 processed successfully.
Processing row 61117...
Row 61117 processed successfully.
Processing row 35203...
Row 35203 processed successfully.
Processing row 52603...
Row 52603 processed successfully.
Processing row 8407...
Row 8407 processed successfully.
Processing row 61740...
Row 61740 processed successfully.
Processing row 49832...
Row 49832 processed successfully.
Processing row 35332...
Row 35332 processed successfully.
Processing row 47890...
Row 47890 processed successfully.
Processing row 55855...
Row 55855 processed successfully.
Processing row 28996...
Row 28996 processed successfully.
Processing row 7898...
Row 7898 processed successfully.
Processing row 56346...
Row 56346 processed successfully.
Processing row 18499...
Row 18499 processed successfully.
Processing row 35272...
Row 35272 processed successfully.
Processing row 9550...
Row 9550 processed successfully.
Processing row 62448...
Row 62448 processed successfully.
Processing row 48231...
Row 48231 processed successfully.
Processing row 51617...
Row 51617 processed successfully.
Processing row 62628...
Row 62628 processed successfully.
Processing row 9570...
Row 9570 processed successfully.
Processing row 21007...
Row 21007 processed successfully.
Processing row 61723...
Row 61723 processed successfully.
Processing row 51780...
Row 51780 processed successfully.
Processing row 53190...
Row 53190 processed successfully.
Processing row 35295...
Row 35295 processed successfully.
Processing row 17103...
Row 17103 processed successfully.
Processing row 52600...
Row 52600 processed successfully.
Processing row 37160...
Row 37160 processed successfully.
Processing row 60023...
Row 60023 processed successfully.
Processing row 61985...
Row 61985 processed successfully.
Processing row 31069...
Row 31069 processed successfully.
Processing row 23149...
Row 23149 processed successfully.
Processing row 58209...
Row 58209 processed successfully.
Processing row 7908...
Row 7908 processed successfully.
Processing row 5742...
Row 5742 processed successfully.
Processing row 61729...
Row 61729 processed successfully.
Processing row 9892...
Row 9892 processed successfully.
Processing row 48959...
Row 48959 processed successfully.
Processing row 2006...
Row 2006 processed successfully.
Processing row 21697...
Row 21697 processed successfully.
Processing row 8428...
Row 8428 processed successfully.
Processing row 55608...
Row 55608 processed successfully.
Processing row 8058...
Row 8058 processed successfully.
Processing row 19852...
Row 19852 processed successfully.
Processing row 36733...
Row 36733 processed successfully.
Processing row 8048...
Row 8048 processed successfully.
Processing row 59963...
Row 59963 processed successfully.
Processing row 29977...
Row 29977 processed successfully.
Processing row 1307...
Row 1307 processed successfully.
Processing row 7252...
Row 7252 processed successfully.
Processing row 7173...
Row 7173 processed successfully.
Processing row 49770...
Row 49770 processed successfully.
Processing row 25297...
Row 25297 processed successfully.
Processing row 62016...
Row 62016 processed successfully.
Processing row 24742...
Row 24742 processed successfully.
Processing row 25390...
Row 25390 processed successfully.
Processing row 28491...
Row 28491 processed successfully.
Processing row 7702...
Row 7702 processed successfully.
Processing row 58165...
Row 58165 processed successfully.
Processing row 19896...
Row 19896 processed successfully.
Processing row 7271...
Row 7271 processed successfully.
Processing row 49297...
Row 49297 processed successfully.
Processing row 30501...
Row 30501 processed successfully.
Processing row 9881...
Row 9881 processed successfully.
Processing row 30485...
Row 30485 processed successfully.
Processing row 52780...
Row 52780 processed successfully.
Processing row 29237...
Row 29237 processed successfully.
Processing row 600...
Row 600 processed successfully.
Processing row 17430...
Row 17430 processed successfully.
Processing row 49109...
Row 49109 processed successfully.
Processing row 48245...
Row 48245 processed successfully.
Processing row 61664...
Row 61664 processed successfully.
Processing row 15444...
Row 15444 processed successfully.
Processing row 1271...
Row 1271 processed successfully.
Processing row 37188...
Row 37188 processed successfully.
Processing row 18472...
Row 18472 processed successfully.
Processing row 28545...
Row 28545 processed successfully.
Processing row 19937...
Row 19937 processed successfully.
Processing row 25818...
Row 25818 processed successfully.
Processing row 5734...
Row 5734 processed successfully.
Processing row 30214...
Row 30214 processed successfully.
Processing row 24845...
Row 24845 processed successfully.
Processing row 16557...
Row 16557 processed successfully.
Processing row 54613...
Row 54613 processed successfully.
Processing row 59013...
Row 59013 processed successfully.
Processing row 57428...
Row 57428 processed successfully.
Processing row 16304...
Row 16304 processed successfully.
Processing row 51408...
Row 51408 processed successfully.
Processing row 50669...
Row 50669 processed successfully.
Processing row 60286...
Row 60286 processed successfully.
Processing row 28562...
Row 28562 processed successfully.
Processing row 25387...
Row 25387 processed successfully.
Processing row 61343...
Row 61343 processed successfully.
Processing row 28584...
Row 28584 processed successfully.
Processing row 2283...
Row 2283 processed successfully.
Processing row 8703...
Row 8703 processed successfully.
Processing row 52797...
Row 52797 processed successfully.
Processing row 60043...
Row 60043 processed successfully.
Processing row 10700...
Row 10700 processed successfully.
Processing row 50479...

In [ ]:
# filtered_df_sampled

,row_index,db_id,tbl_name,sql_tags,query,question,predictions_TAPAS
0,15511,phone_1,phone,ORDERBY-PROJECT,"SELECT ""Accreditation_level"" FROM ""phone"" ORDE...","Project the ""Accreditation_level"" ordered in d...","[XPERIA T, XPERIA J, LG-P760, GT-I9300, Z520e,..."
1,49809,election,party,DISTINCT-MULT,"SELECT DISTINCT ""Comptroller"", ""US_Senate"", ""A...","Show the different ""Comptroller"", ""US_Senate"",...","[Carl McCall, Alan Hevesi, John Faso]"
2,51446,tracking_orders,Order_Items,ORDERBY-PROJECT,"SELECT ""order_id"" FROM ""Order_Items"" ORDER BY ...","Project the ""order_id"" ordered in descending o...","[4, 15, 12, 8, 11]"
3,9584,culture_company,movie,DISTINCT-SINGLE,"SELECT DISTINCT ""Publisher"" FROM ""book_club""","Show the different ""Publisher"" in the table bo...","[The Boondock Saints, The Big Kahuna, Storm Ca..."
4,55896,coffee_shop,shop,DISTINCT-SINGLE,"SELECT DISTINCT ""Address"" FROM ""shop""","Show the different ""Address"" in the table shop","[1200 Main Street, 1111 Main Street, 1330 Balt..."
...,...,...,...,...,...,...,...
495,7264,store_product,store,DISTINCT-SINGLE,"SELECT DISTINCT ""Type"" FROM ""store""","Show the different ""Type"" in the table store","[City Mall, Village Store]"
496,24852,icfp_1,Inst,ORDERBY-SINGLE,"SELECT * FROM ""Inst"" ORDER BY ""instID"" DESC",Show all data ordered by instID in descending ...,"[1000, 1010, 1020, 1030, 1040, 1050, 1060, 1070]"
497,50883,sports_competition,player,DISTINCT-SINGLE,"SELECT DISTINCT ""name"" FROM ""club""","Show the different ""name"" in the table club","[Michael Platt, Dave Halley, James Evans, Tame..."
498,52432,phone_market,phone,ORDERBY-PROJECT,"SELECT ""Carrier"" FROM ""phone"" ORDER BY ""Carrie...","Project the ""Carrier"" ordered in ascending ord...","[Sprint, Sprint, TMobile, TMobile]"
499,33947,city_record,temperature,SELECT-RANDOM-COL,"SELECT ""Jul"", ""Aug"", ""Dec"", ""Jun"", ""Sep"", ""Nov...","Show all ""Jul"", ""Aug"", ""Dec"", ""Jun"", ""Sep"", ""N...","[20.6, 27.8, 23.3, 31.1, 21.7, 30.6, 28.9]"

In [ ]:
# testing=filtered_df_sampled.drop(columns=['sql_tags'])

In [ ]:
# testing

,row_index,db_id,tbl_name,query,question,predictions_TAPAS
0,15511,phone_1,phone,"SELECT ""Accreditation_level"" FROM ""phone"" ORDE...","Project the ""Accreditation_level"" ordered in d...","[XPERIA T, XPERIA J, LG-P760, GT-I9300, Z520e,..."
1,49809,election,party,"SELECT DISTINCT ""Comptroller"", ""US_Senate"", ""A...","Show the different ""Comptroller"", ""US_Senate"",...","[Carl McCall, Alan Hevesi, John Faso]"
2,51446,tracking_orders,Order_Items,"SELECT ""order_id"" FROM ""Order_Items"" ORDER BY ...","Project the ""order_id"" ordered in descending o...","[4, 15, 12, 8, 11]"
3,9584,culture_company,movie,"SELECT DISTINCT ""Publisher"" FROM ""book_club""","Show the different ""Publisher"" in the table bo...","[The Boondock Saints, The Big Kahuna, Storm Ca..."
4,55896,coffee_shop,shop,"SELECT DISTINCT ""Address"" FROM ""shop""","Show the different ""Address"" in the table shop","[1200 Main Street, 1111 Main Street, 1330 Balt..."
...,...,...,...,...,...,...
495,7264,store_product,store,"SELECT DISTINCT ""Type"" FROM ""store""","Show the different ""Type"" in the table store","[City Mall, Village Store]"
496,24852,icfp_1,Inst,"SELECT * FROM ""Inst"" ORDER BY ""instID"" DESC",Show all data ordered by instID in descending ...,"[1000, 1010, 1020, 1030, 1040, 1050, 1060, 1070]"
497,50883,sports_competition,player,"SELECT DISTINCT ""name"" FROM ""club""","Show the different ""name"" in the table club","[Michael Platt, Dave Halley, James Evans, Tame..."
498,52432,phone_market,phone,"SELECT ""Carrier"" FROM ""phone"" ORDER BY ""Carrie...","Project the ""Carrier"" ordered in ascending ord...","[Sprint, Sprint, TMobile, TMobile]"
499,33947,city_record,temperature,"SELECT ""Jul"", ""Aug"", ""Dec"", ""Jun"", ""Sep"", ""Nov...","Show all ""Jul"", ""Aug"", ""Dec"", ""Jun"", ""Sep"", ""N...","[20.6, 27.8, 23.3, 31.1, 21.7, 30.6, 28.9]"

In [ ]:
from qatch import MetricEvaluator

# evaluator = MetricEvaluator(databases=databases)
# tests_df_results = evaluator.evaluate_with_df(filtered_df_sampled,
#                                       prediction_col_name=f'predictions_TAPAS',
#                                       task="QA")

In [ ]:
# tests_df_results.head(50)

,db_id,row_index,tbl_name,sql_tags,query,question,predictions_TAPAS,cell_precision_predictions_TAPAS,cell_recall_predictions_TAPAS,tuple_cardinality_predictions_TAPAS,tuple_constraint_predictions_TAPAS,tuple_order_predictions_TAPAS
0,aircraft,9920,match,DISTINCT-MULT,"SELECT DISTINCT ""Fastest_Qualifying"", ""Winning...","Show the different ""Fastest_Qualifying"", ""Winn...","[Hannes Arch, Paul Bonhomme, Nigel Lamb]",0.0,0.0,0.143,0.0,None
1,aircraft,9855,match,SELECT-RANDOM-COL,"SELECT ""Date"", ""Winning_Pilot"" FROM ""match""","Show all ""Date"", ""Winning_Pilot"" in the table ...","[March 26–27, April 17–18, May 8–9, June 5–6, ...",0.149,0.357,0.143,0.0,None
2,aircraft,9909,airport,ORDERBY-PROJECT,"SELECT ""%_Change_2007"" FROM ""airport"" ORDER BY...","Project the ""%_Change_2007"" ordered in descend...","[1.5%, 2.9%, 6.0%, 4.0%, 2.6%, 4.3%, 0.5%, 7.0...",0.0,0.0,0.1,0.0,0.5
3,aircraft,9860,match,SELECT-RANDOM-COL,"SELECT ""Date"", ""Winning_Pilot"", ""Winning_Aircr...","Show all ""Date"", ""Winning_Pilot"", ""Winning_Air...","[March 26–27, April 17–18, May 8–9, June 5–6, ...",0.141,0.184,0.143,0.0,None
4,aircraft,9892,match,ORDERBY-PROJECT,"SELECT ""Winning_Aircraft"" FROM ""match"" ORDER B...","Project the ""Winning_Aircraft"" ordered in asce...","[Mina' Zayid , Abu Dhabi, Swan River , Perth, ...",0.0,0.0,0.143,0.0,0.5
5,aircraft,9881,airport_aircraft,SELECT-ADD-COL,"SELECT ""ID"", ""Airport_ID"" FROM ""airport_aircraft""","Show all ""ID"", ""Airport_ID"" in the table airpo...","[1, 3]",0.5,0.375,0.25,0.0,None
6,aircraft,9886,match,ORDERBY-SINGLE,"SELECT * FROM ""match"" ORDER BY ""Winning_Aircra...","Show all data ordered by ""Winning_Aircraft"" in...","[Mina' Zayid , Abu Dhabi, Swan River , Perth, ...",0.0,0.0,0.143,0.0,0.5
7,apartment_rentals,52750,Apartment_Buildings,SELECT-ADD-COL,"SELECT ""building_id"", ""building_short_name"", ""...","Show all ""building_id"", ""building_short_name"",...","[Studio, Studio, Flat, Duplex]",0.0,0.0,0.067,0.0,None
8,apartment_rentals,52753,Apartment_Buildings,SELECT-RANDOM-COL,"SELECT ""building_description"" FROM ""Apartment_...","Show all ""building_description"" in the table A...","[Studio, Flat, Duplex]",0.0,0.0,0.067,0.0,None
9,apartment_rentals,52773,Apartments,SELECT-RANDOM-COL,"SELECT ""apt_number"", ""bedroom_count"", ""room_co...","Show all ""apt_number"", ""bedroom_count"", ""room_...","[1, 2, 13]",0.5,0.219,0.067,0.0,None
10,apartment_rentals,52780,Guests,SELECT-ADD-COL,"SELECT ""guest_id"", ""gender_code"" FROM ""Guests""","Show all ""guest_id"", ""gender_code"" in the tabl...","[1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15]",0.419,0.267,0.067,0.0,None
11,apartment_rentals,52797,Apartment_Bookings,SELECT-RANDOM-COL,"SELECT ""booking_status_code"", ""booking_end_dat...","Show all ""booking_status_code"", ""booking_end_d...","[10, 8]",0.2,0.05,0.067,0.0,None
12,apartment_rentals,52798,Apartment_Bookings,SELECT-RANDOM-COL,"SELECT ""booking_status_code"", ""booking_end_dat...","Show all ""booking_status_code"", ""booking_end_d...","[10, 8]",0.2,0.053,0.067,0.0,None
13,architecture,30248,bridge,DISTINCT-SINGLE,"SELECT DISTINCT ""name"" FROM ""architect""","Show the different ""name"" in the table architect","[Xian Ren Qiao (Fairy Bridge), Landscape Arch,...",0.0,0.0,0.2,0.0,None
14,architecture,30255,bridge,DISTINCT-SINGLE,"SELECT DISTINCT ""name"" FROM ""bridge""","Show the different ""name"" in the table bridge","[Xian Ren Qiao (Fairy Bridge), Kolob Arch, Alo...",0.0,0.0,0.067,0.0,None
15,architecture,30214,architect,ORDERBY-PROJECT,"SELECT ""nationality"" FROM ""architect"" ORDER BY...","Project the ""nationality"" ordered in descendin...","[American, Canadian, Iraqi, British, German, A...",0.0,0.0,0.2,0.0,0.5
16,assets_maintenance,62100,Part_Faults,ORDERBY-SINGLE,"SELECT * FROM ""Part_Faults"" ORDER BY ""part_fau...","Show all data ordered by ""part_fault_id"" in as...","[1, 2, 3, 4, 5, 6, 8, 9, 12, 13, 14, 15]",0.421,0.307,0.067,0.0,0.5
17,assets_maintenance,62098,Engineer_Visits,ORDERBY-PROJECT,"SELECT ""engineer_id"" FROM ""Engineer_Visits"" OR...","Project the ""engineer_id"" ordered in descendin...","[1, 2, 3, 5, 9]",0.077,0.067,0.067,0.0,0.5
18,assets_maintenance,61903,Third_Party_Companies,SELECT-ADD-COL,"SELECT ""company_id"", ""company_type"", ""company_...","Show all ""company_id"", ""company_type"", ""compan...","[Langworth-Funk, McDermott Group, Schuppe-Carr...",0.0,0.0,0.067,0.0,None
19,assets_maintenance,61972,Maintenance_Engineers,SELECT-RANDOM-COL,"SELECT ""last_name"", ""other_details"", ""company_...","Show all ""last_name"", ""other_details"", ""compan...","[Reinger, Orn, Hauck, Morar, Grady, Adams, Har...",0.0,0.0,0.067,0.0,None
20,assets_maintenance,61953,Assets,SELECT-RANDOM-COL,"SELECT ""asset_acquired_date"", ""asset_disposed_...","Show all ""asset_acquired_date"", ""asset_dispose...","[2018-03-14 10:50:00, 2018-03-20 04:24:09, 201...",0.0,0.0,0.067,0.0,None
21,assets_maintenance,62006,Engineer_Visits,SELECT-RANDOM-COL,"SELECT ""visit_end_datetime"", ""visit_start_date...","Show all ""visit_end_datetime"", ""visit_start_da...",[1988-01-07 06:41:51],0.579,0.208,0.067,0.0,None
22,assets_maintenance,61985,Fault_Log,SELECT-RANDOM-COL,"SELECT ""fault_log_entry_datetime"" FROM ""Fault_...","Show all ""fault_log_entry_datetime"" in the tab...","[2018-03-21 04:25:00, 2018-03-13 09:43:05, 201...",0.0,0.0,0.067,0.0,None
23,assets_maintenance,62016,Part_Faults,SELECT-RANDOM-COL,"SELECT ""fault_description"", ""other_fault_detai...","Show all ""fault_description"", ""other_fault_det...","[PW, TW, MW]",0.0,0.0,0.067,0.0,None
24,assets_maintenance,61947,Assets,SELECT-ADD-COL,"SELECT ""asset_id"", ""maintenance_contract_id"", ...","Show all ""asset_id"", ""maintenance_contract_id""...","[dell laptop1, dell laptop2, dell laptop3, del...",0.087,0.217,0.067,0.0,None
25,assets_maintenance,61957,Assets,SELECT-RANDOM-COL,"SELECT ""asset_acquired_date"", ""asset_disposed_...","Show all ""asset_acquired_date"", ""asset_dispose...","[2018-03-14 10:50:00, 2018-03-20 04:24:09, 201...",0.38,0.122,0.067,0.0,None
26,assets_maintenance,61994,Engineer_Visits,SELECT-ADD-COL,"SELECT ""engineer_visit_id"", ""contact_staff_id""...","Show all ""engineer_visit_id"", ""contact_staff_i...","[1, 2, 3, 9]",0.4,0.2,0.067,0.0,None
27,behavior_monitoring,56856,Detention,ORDERBY-PROJECT,"SELECT ""detention_id"" FROM ""Detention"" ORDER B...","Project the ""detention_id"" ordered in ascendin...","[1, 2, 4, 5, 6, 8, 9]",0.368,0.467,0.067,0.0,0.5
28,behavior_monitoring,56787,Detention,SELECT-ADD-COL,"SELECT ""detention_id"", ""detention_type_code"", ...","Show all ""detention_id"", ""detention_type_code""...","[AFTER, BREAK , LUNCH]",0.0,0.0,0.067,0.0,None
29,behavior_monitoring,56759,Assessment_Notes,SELECT-ADD-COL,"SELECT ""notes_id"", ""student_id"", ""teacher_id"",...","Show all ""notes_id"", ""student_id"", ""teacher_id...","[1978-04-15 04:49:18, 2005-06-30 02:48:35, 198...",0.527,0.4,0.067,0.0,None
30,behavior_monitoring,56763,Assessment_Notes,SELECT-RANDOM-COL,"SELECT ""date_of_notes"", ""other_details"", ""text...","Show all ""date_of_notes"", ""other_details"", ""te...","[1978-04-15 04:49:18, 2005-06-30 02:48:35, 198...",0.0,0.0,0.067,0.0,None
31,behavior_monitoring,56830,Teachers,ORDERBY-SINGLE,"SELECT * FROM ""Teachers"" ORDER BY ""teacher_id""...",Show all data ordered by teacher_id in descend...,"[1, 4, 5, 6, 9]",0.385,0.111,0.067,0.0,0.5
32,behavior_monitoring,56779,Behavior_Incident,SELECT-RANDOM-COL,"SELECT ""recommendations"", ""incident_summary"", ...","Show all ""recommendations"", ""incident_summary""...","[None, Transfer schools]",0.0,0.0,0.067,0.0,None
33,body_builder,62435,body_builder,SELECT-RANDOM-COL,"SELECT ""Clean_Jerk"" FROM ""body_builder""","Show all ""Clean_Jerk"" in the table body_builder","[175.0, 177.5, 175.0, 175.0, 162.5]",0.0,0.0,0.2,0.0,None
34,body_builder,62448,people,SELECT-RANDOM-COL,"SELECT ""Weight"", ""Birth_Place"", ""Birth_Date"" F...","Show all ""Weight"", ""Birth_Place"", ""Birth_Date""...","[80.0, 90.0, 100.0, 102.0, 89.0, 92.0]",0.0,0.0,0.167,0.0,None
35,book_2,50092,publication,ORDERBY-PROJECT,"SELECT ""Price"" FROM ""publication"" ORDER BY ""Pr...","Project the ""Price"" ordered in descending orde...","[15000000.0, 6000000.0, 4100000.0, 3000000.0, ...",0.0,0.0,0.143,0.0,0.5
36,book_2,50073,book,SELECT-ALL,"SELECT * FROM ""book""",Show all the rows in the table book,"[The Black Lamb, Bloody Mary, Bloody Mary : La...",0.0,0.0,0.1,0.0,None
37,browser_web,59,accelerator_compatible_browser,DISTINCT-SINGLE,"SELECT DISTINCT ""Connection"" FROM ""Web_client_...","Show the different ""Connection"" in the table W...","[1, 1]",0.0,0.0,0.125,0.0,None
38,browser_web,61,accelerator_compatible_browser,DISTINCT-MULT,"SELECT DISTINCT ""Connection"", ""Client"" FROM ""W...","Show the different ""Connection"", ""Client"" in t...","[1, 1]",0.0,0.0,0.091,0.0,None
39,browser_web,65,accelerator_compatible_browser,DISTINCT-MULT,"SELECT DISTINCT ""name"" FROM ""browser""","Show the different ""name"" in the table ""browser""","[1, 4]",0.0,0.0,0.25,0.0,None
40,browser_web,32,browser,ORDERBY-SINGLE,"SELECT * FROM ""browser"" ORDER BY ""name"" DESC",Show all data ordered by name in descending or...,"[Internet Explorer, Firefox, Safari, Opera]",0.0,0.0,0.25,0.0,0.5
41,candidate_poll,18200,people,SELECT-RANDOM-COL,"SELECT ""Date_of_Birth"", ""Weight"", ""Height"", ""S...","Show all ""Date_of_Birth"", ""Weight"", ""Height"", ...","[06.10.1976, 10.11.1972, 03.02.1976, 05.05.197...",0.528,0.167,0.111,0.0,None
42,chinook_1,56309,Employee,SELECT-RANDOM-COL,"SELECT ""HireDate"", ""PostalCode"", ""Address"", ""E...","Show all ""HireDate"", ""PostalCode"", ""Address"", ...","[2002-08-14 00:00:00, 2002-05-01 00:00:00, 200...",0.21,0.08,0.125,0.0,None
43,chinook_1,56346,MediaType,SELECT-ALL,"SELECT * FROM ""MediaType""",Show all the rows in the table MediaType,"[2, 5]",0.5,0.2,0.2,0.0,None
44,chinook_1,56286,Employee,SELECT-ADD-COL,"SELECT ""EmployeeId"", ""LastName"" FROM ""Employee""","Show all ""EmployeeId"", ""LastName"" in the table...","[Adams, Edwards, Peacock, Park, Johnson, Mitch...",0.0,0.0,0.125,0.0,None
45,cinema,10670,schedule,SELECT-ALL,"SELECT * FROM ""schedule""",Show all the rows in the table schedule,"[21 May, 21 Jun, 11 July, 2 Aug, 19 May]",0.237,0.286,0.143,0.0,None
46,cinema,10700,film,DISTINCT-SINGLE,"SELECT DISTINCT ""Title"" FROM ""film""","Show the different ""Title"" in the table film","[The Case of the Mystery Weekend, The Case of ...",0.0,0.0,0.2,0.0,None
47,cinema,10688,cinema,ORDERBY-SINGLE,"SELECT * FROM ""cinema"" ORDER BY ""Location"" ASC","Show all data ordered by ""Location"" in ascendi...","[County Wicklow, County Cork, County Dublin, C...",0.0,0.0,0.1,0.0,0.5
48,cinema,10679,schedule,SELECT-RANDOM-COL,"SELECT ""Show_times_per_day"", ""Price"", ""Film_ID...","Show all ""Show_times_per_day"", ""Price"", ""Film_...","[21 May, 21 May, 21 Jun, 11 July, 2 Aug, 20 Ma...",0.222,0.286,0.143,0.0,None
49,city_record,33967,match,ORDERBY-SINGLE,"SELECT * FROM ""match"" ORDER BY ""Result"" ASC","Show all data ordered by ""Result"" in ascending...","[2-0, 5-0, 5-1, 5-1, 2–1, 7–1]",0.321,0.083,0.167,0.0,0.5

In [ ]:
# stats_df = tests_df_results[['cell_precision_predictions_TAPAS', 'cell_recall_predictions_TAPAS', 'tuple_cardinality_predictions_TAPAS', 'tuple_constraint_predictions_TAPAS', 'tuple_order_predictions_TAPAS']].describe()

In [ ]:
# stats_df = tests_df_results[['cell_precision_predictions_TAPAS', 'cell_recall_predictions_TAPAS', 'tuple_cardinality_predictions_TAPAS', 'tuple_constraint_predictions_TAPAS', 'tuple_order_predictions_TAPAS']].describe()

# mean_cell_precision = tests_df_results['cell_precision_predictions_TAPAS'].mean()
# mean_cell_recall = tests_df_results['cell_recall_predictions_TAPAS'].mean()
# mean_tuple_cardinality = tests_df_results['tuple_cardinality_predictions_TAPAS'].mean()
# mean_tuple_constraint = tests_df_results['tuple_constraint_predictions_TAPAS'].mean()
# mean_tuple_order = tests_df_results['tuple_order_predictions_TAPAS'].mean()

# print("Model Performance Metrics:")
# print("----------------------------")
# print("Average Cell Precision:", mean_cell_precision)
# print("Average Cell Recall:", mean_cell_recall)
# print("Average Tuple Cardinality Accuracy:", mean_tuple_cardinality)
# print("Average Tuple Constraint Accuracy:", mean_tuple_constraint)
# print("Average Tuple Order Accuracy:", mean_tuple_order)


# Group by sql_tag and calculate the mean for each category
# stats_df = tests_df_results.groupby('sql_tags')[['cell_precision_predictions_TAPAS', 'cell_recall_predictions_TAPAS', 'tuple_cardinality_predictions_TAPAS', 'tuple_constraint_predictions_TAPAS', 'tuple_order_predictions_TAPAS']].mean()

# # Print the performance metrics for each category
# print("Model Performance Metrics:")
# print("----------------------------")
# for category, row in stats_df.iterrows():
#     print(f"Category: {category}")
#     print("Average Cell Precision:", row['cell_precision_predictions_TAPAS'])
#     print("Average Cell Recall:", row['cell_recall_predictions_TAPAS'])
#     print("Average Tuple Cardinality Accuracy:", row['tuple_cardinality_predictions_TAPAS'])
#     print("Average Tuple Constraint Accuracy:", row['tuple_constraint_predictions_TAPAS'])
#     print("Average Tuple Order Accuracy:", row['tuple_order_predictions_TAPAS'])
#     print("----------------------------")

Model Performance Metrics:
----------------------------
Category: DISTINCT-MULT
Average Cell Precision: 0.017065573770491806
Average Cell Recall: 0.01043076923076923
Average Tuple Cardinality Accuracy: 0.1804615384615384
Average Tuple Constraint Accuracy: 0.0
Average Tuple Order Accuracy: nan
----------------------------
Category: DISTINCT-SINGLE
Average Cell Precision: 0.061224489795918366
Average Cell Recall: 0.014862745098039216
Average Tuple Cardinality Accuracy: 0.2268627450980392
Average Tuple Constraint Accuracy: 0.014862745098039216
Average Tuple Order Accuracy: nan
----------------------------
Category: ORDERBY-PROJECT
Average Cell Precision: 0.1383768115942029
Average Cell Recall: 0.200231884057971
Average Tuple Cardinality Accuracy: 0.10408695652173917
Average Tuple Constraint Accuracy: 0.0
Average Tuple Order Accuracy: 0.5
----------------------------
Category: ORDERBY-SINGLE
Average Cell Precision: 0.16995454545454544
Average Cell Recall: 0.09210294117647057
Average Tuple Cardinality Accuracy: 0.11102941176470589
Average Tuple Constraint Accuracy: 0.0
Average Tuple Order Accuracy: 0.5
----------------------------
Category: SELECT-ADD-COL
Average Cell Precision: 0.25608421052631575
Average Cell Recall: 0.16620833333333335
Average Tuple Cardinality Accuracy: 0.10831250000000002
Average Tuple Constraint Accuracy: 0.0
Average Tuple Order Accuracy: 0.5
----------------------------
Category: SELECT-ALL
Average Cell Precision: 0.32739130434782615
Average Cell Recall: 0.1617391304347826
Average Tuple Cardinality Accuracy: 0.12313043478260871
Average Tuple Constraint Accuracy: 0.0
Average Tuple Order Accuracy: 0.5
----------------------------
Category: SELECT-RANDOM-COL
Average Cell Precision: 0.1044251968503937
Average Cell Recall: 0.0779140625
Average Tuple Cardinality Accuracy: 0.10946875000000002
Average Tuple Constraint Accuracy: 0.0
Average Tuple Order Accuracy: 0.5
----------------------------

In [ ]:
# qatch_synthetic=filtered_df_sampled.drop(columns=["sql_tags", "tbl_name", "row_index", "predictions_TAPAS"], axis=1)
# qatch_synthetic

,db_id,query,question
0,phone_1,"SELECT ""Accreditation_level"" FROM ""phone"" ORDE...","Project the ""Accreditation_level"" ordered in d..."
1,election,"SELECT DISTINCT ""Comptroller"", ""US_Senate"", ""A...","Show the different ""Comptroller"", ""US_Senate"",..."
2,tracking_orders,"SELECT ""order_id"" FROM ""Order_Items"" ORDER BY ...","Project the ""order_id"" ordered in descending o..."
3,culture_company,"SELECT DISTINCT ""Publisher"" FROM ""book_club""","Show the different ""Publisher"" in the table bo..."
4,coffee_shop,"SELECT DISTINCT ""Address"" FROM ""shop""","Show the different ""Address"" in the table shop"
...,...,...,...
495,store_product,"SELECT DISTINCT ""Type"" FROM ""store""","Show the different ""Type"" in the table store"
496,icfp_1,"SELECT * FROM ""Inst"" ORDER BY ""instID"" DESC",Show all data ordered by instID in descending ...
497,sports_competition,"SELECT DISTINCT ""name"" FROM ""club""","Show the different ""name"" in the table club"
498,phone_market,"SELECT ""Carrier"" FROM ""phone"" ORDER BY ""Carrie...","Project the ""Carrier"" ordered in ascending ord..."
499,city_record,"SELECT ""Jul"", ""Aug"", ""Dec"", ""Jun"", ""Sep"", ""Nov...","Show all ""Jul"", ""Aug"", ""Dec"", ""Jun"", ""Sep"", ""N..."

In [ ]:
train_df

,ID,answer_text,db_id,query,question,table_used,seq_id,answer_coordinates,new_answer_texts,float_value
1556,4500,"[David CV, 6345, Fall Sails, 7509, How to cook...",document_management,"SELECT document_name , access_count FROM docu...","What are the names of all the documents, as we...",Documents,document_management_X_Documents,"[(5, 4), (5, 3), (13, 4), (13, 3), (6, 4), (6,...","[David CV, 6345, Fall Sails, 7509, How to cook...",NaN
2056,5860,"[r, 13, z, 16, s, 10, s, 19, q, 6, d, 20, m, 7...",tracking_share_transactions,"SELECT lot_details , investor_id FROM LOTS",Return the lot details and investor ids.,Lots,tracking_share_transactions_X_Lots,"[(0, 2), (0, 1), (1, 2), (1, 1), (2, 2), (2, 1...","[r, 13, z, 16, s, 10, s, 19, q, 6, d, 20, m, 7...",NaN
355,1006,"[University of Delaware, Lebanon Valley Colleg...",university_basketball,SELECT school FROM university WHERE founded >...,What are the schools that were either founded ...,university,university_basketball_X_university,"[(0, 1), (1, 1), (2, 1), (3, 1), (4, 1)]","[University of Delaware, Lebanon Valley Colleg...",NaN
615,1847,"[The Great Sasuke §, Gran Hamada, Shinjiro Ota...",wrestler,SELECT Name FROM wrestler ORDER BY Days_held DESC,"What are the names of the wrestlers, ordered d...",wrestler,wrestler_X_wrestler,"[(5, 1), (3, 1), (9, 1), (6, 1), (8, 1), (0, 1...","[The Great Sasuke §, Gran Hamada, Shinjiro Ota...",NaN
2308,6405,"[Review on Canadian files, 42, Review on USA f...",cre_Docs_and_Epenses,"SELECT document_name , document_id FROM Docum...",Find names and ids of all documents with docum...,Documents,cre_Docs_and_Epenses_X_Documents,"[(1, 4), (1, 0), (3, 4), (3, 0), (0, 4), (6, 0...","[Review on Canadian files, 42, Review on USA f...",NaN
...,...,...,...,...,...,...,...,...,...,...
1929,5520,[15],products_gen_characteristics,SELECT count(*) FROM CHARACTERISTICS,How many characteristics are there?,Characteristics,products_gen_characteristics_X_Characteristics,"[(14, 0)]",[15],15.0
1262,3751,[3],program_share,SELECT count(DISTINCT program_id) FROM broadca...,"How many distinct programs are broadcast at ""N...",broadcast,program_share_X_broadcast,"[(2, 0)]",[3],3.0
1303,3858,"[930, 49743]",insurance_policies,"SELECT Amount_Settled , Amount_Claimed FROM C...","Among all the claims, what is the amount claim...",Claims,insurance_policies_X_Claims,"[(6, 5), (6, 4)]","[930, 49743]",NaN
1501,4396,[researcher],tracking_grants_for_research,SELECT role_code FROM Project_Staff GROUP BY r...,Which role is most common for the staff?,Project_Staff,tracking_grants_for_research_X_Project_Staff,"[(2, 2)]",[researcher],NaN
959,2698,[6],storm_record,SELECT count(*) FROM storm WHERE Number_Deaths...,How many storms had death records?,storm,storm_record_X_storm,"[(5, 0)]",[6],6.0

In [ ]:
train_df_qatch = train_df.reset_index().rename(columns={'index': 'row_index','table_used':'tbl_name'})
# Apply the function row-wise
train_df_qatch['predictions_TAPAS'] = train_df_qatch.apply(getAnswer, axis=1)

Processing row 1556...
Row 1556 processed successfully.
Processing row 2056...
Row 2056 processed successfully.
Processing row 355...
Row 355 processed successfully.
Processing row 615...
Row 615 processed successfully.
Processing row 2308...
Row 2308 processed successfully.
Processing row 767...
Row 767 processed successfully.
Processing row 955...
Row 955 processed successfully.
Processing row 1474...
Row 1474 processed successfully.
Processing row 372...
Row 372 processed successfully.
Processing row 688...
Row 688 processed successfully.
Processing row 165...
Row 165 processed successfully.
Processing row 2326...
Row 2326 processed successfully.
Processing row 393...
Row 393 processed successfully.
Processing row 91...
Row 91 processed successfully.
Processing row 1759...
Row 1759 processed successfully.
Processing row 55...
Row 55 processed successfully.
Processing row 510...
Row 510 processed successfully.
Processing row 177...
Row 177 processed successfully.
Processing row 2250...
Row 2250 processed successfully.
Processing row 1275...
Row 1275 processed successfully.
Processing row 1488...
Row 1488 processed successfully.
Processing row 1770...
Row 1770 processed successfully.
Processing row 1490...
Row 1490 processed successfully.
Processing row 2047...
Row 2047 processed successfully.
Processing row 954...
Row 954 processed successfully.
Processing row 546...
Row 546 processed successfully.
Processing row 2224...
Row 2224 processed successfully.
Processing row 201...
Row 201 processed successfully.
Processing row 2225...
Row 2225 processed successfully.
Processing row 2214...
Row 2214 processed successfully.
Processing row 2033...
Row 2033 processed successfully.
Processing row 1740...
Row 1740 processed successfully.
Processing row 1570...
Row 1570 processed successfully.
Processing row 2034...
Row 2034 processed successfully.
Processing row 575...
Row 575 processed successfully.
Processing row 377...
Row 377 processed successfully.
Processing row 1753...
Row 1753 processed successfully.
Processing row 2439...
Row 2439 processed successfully.
Processing row 1038...
Row 1038 processed successfully.
Processing row 419...
Row 419 processed successfully.
Processing row 1092...
Row 1092 processed successfully.
Processing row 1254...
Row 1254 processed successfully.
Processing row 658...
Row 658 processed successfully.
Processing row 1295...
Row 1295 processed successfully.
Processing row 265...
Row 265 processed successfully.
Processing row 1313...
Row 1313 processed successfully.
Processing row 884...
Row 884 processed successfully.
Processing row 2075...
Row 2075 processed successfully.
Processing row 2244...
Row 2244 processed successfully.
Processing row 337...
Row 337 processed successfully.
Processing row 472...
Row 472 processed successfully.
Processing row 2399...
Row 2399 processed successfully.
Processing row 146...
Row 146 processed successfully.
Processing row 333...
Row 333 processed successfully.
Processing row 467...
Row 467 processed successfully.
Processing row 723...
Row 723 processed successfully.
Processing row 403...
Row 403 processed successfully.
Processing row 621...
Row 621 processed successfully.
Processing row 1341...
Row 1341 processed successfully.
Processing row 1231...
Row 1231 processed successfully.
Processing row 912...
Row 912 processed successfully.
Processing row 203...
Row 203 processed successfully.
Processing row 1136...
Row 1136 processed successfully.
Processing row 679...
Row 679 processed successfully.
Processing row 1053...
Row 1053 processed successfully.
Processing row 1477...
Row 1477 processed successfully.
Processing row 897...
Row 897 processed successfully.
Processing row 1794...
Row 1794 processed successfully.
Processing row 2320...
Row 2320 processed successfully.
Processing row 860...
Row 860 processed successfully.
Processing row 1604...
Row 1604 processed successfully.
Processing row 321...
Row 321 processed successfully.
Processing row 1966...
Row 1966 processed successfully.
Processing row 501...
Row 501 processed successfully.
Processing row 1627...
Row 1627 processed successfully.
Processing row 1564...
Row 1564 processed successfully.
Processing row 1006...
Row 1006 processed successfully.
Processing row 410...
Row 410 processed successfully.
Processing row 880...
Row 880 processed successfully.
Processing row 1364...
Row 1364 processed successfully.
Processing row 113...
Row 113 processed successfully.
Processing row 134...
Row 134 processed successfully.
Processing row 934...
Row 934 processed successfully.
Processing row 2315...
Row 2315 processed successfully.
Processing row 988...
Row 988 processed successfully.
Processing row 1660...
Row 1660 processed successfully.
Processing row 1168...
Row 1168 processed successfully.
Processing row 388...
Row 388 processed successfully.
Processing row 2031...
Row 2031 processed successfully.
Processing row 745...
Row 745 processed successfully.
Processing row 1639...
Row 1639 processed successfully.
Processing row 1142...
Row 1142 processed successfully.
Processing row 231...
Row 231 processed successfully.
Processing row 1496...
Row 1496 processed successfully.
Processing row 150...
Row 150 processed successfully.
Processing row 2354...
Row 2354 processed successfully.
Processing row 1670...
Row 1670 processed successfully.
Processing row 2316...
Row 2316 processed successfully.
Processing row 1973...
Row 1973 processed successfully.
Processing row 1666...
Row 1666 processed successfully.
Processing row 2398...
Row 2398 processed successfully.
Processing row 1802...
Row 1802 processed successfully.
Processing row 780...
Row 780 processed successfully.
Processing row 2241...
Row 2241 processed successfully.
Processing row 1592...
Row 1592 processed successfully.
Processing row 2409...
Row 2409 processed successfully.
Processing row 1095...
Row 1095 processed successfully.
Processing row 1128...
Row 1128 processed successfully.
Processing row 13...
Row 13 processed successfully.
Processing row 2142...
Row 2142 processed successfully.
Processing row 1387...
Row 1387 processed successfully.
Processing row 307...
Row 307 processed successfully.
Processing row 894...
Row 894 processed successfully.
Processing row 1350...
Row 1350 processed successfully.
Processing row 316...
Row 316 processed successfully.
Processing row 1039...
Row 1039 processed successfully.
Processing row 828...
Row 828 processed successfully.
Processing row 685...
Row 685 processed successfully.
Processing row 1378...
Row 1378 processed successfully.
Processing row 1434...
Row 1434 processed successfully.
Processing row 137...
Row 137 processed successfully.
Processing row 1460...
Row 1460 processed successfully.
Processing row 938...
Row 938 processed successfully.
Processing row 350...
Row 350 processed successfully.
Processing row 2180...
Row 2180 processed successfully.
Processing row 1082...
Row 1082 processed successfully.
Processing row 1219...
Row 1219 processed successfully.
Processing row 2361...
Row 2361 processed successfully.
Processing row 1135...
Row 1135 processed successfully.
Processing row 1145...
Row 1145 processed successfully.
Processing row 759...
Row 759 processed successfully.
Processing row 1668...
Row 1668 processed successfully.
Processing row 237...
Row 237 processed successfully.
Processing row 1276...
Row 1276 processed successfully.
Processing row 1288...
Row 1288 processed successfully.
Processing row 2146...
Row 2146 processed successfully.
Processing row 180...
Row 180 processed successfully.
Processing row 1519...
Row 1519 processed successfully.
Processing row 1307...
Row 1307 processed successfully.
Processing row 2359...
Row 2359 processed successfully.
Processing row 963...
Row 963 processed successfully.
Processing row 936...
Row 936 processed successfully.
Processing row 693...
Row 693 processed successfully.
Processing row 563...
Row 563 processed successfully.
Processing row 1801...
Row 1801 processed successfully.
Processing row 1915...
Row 1915 processed successfully.
Processing row 654...
Row 654 processed successfully.
Processing row 217...
Row 217 processed successfully.
Processing row 2065...
Row 2065 processed successfully.
Processing row 1140...
Row 1140 processed successfully.
Processing row 1066...
Row 1066 processed successfully.
Processing row 447...
Row 447 processed successfully.
Processing row 104...
Row 104 processed successfully.
Processing row 478...
Row 478 processed successfully.
Processing row 600...
Row 600 processed successfully.
Processing row 178...
Row 178 processed successfully.
Processing row 456...
Row 456 processed successfully.
Processing row 1030...
Row 1030 processed successfully.
Processing row 2266...
Row 2266 processed successfully.
Processing row 519...
Row 519 processed successfully.
Processing row 2352...
Row 2352 processed successfully.
Processing row 731...
Row 731 processed successfully.
Processing row 1285...
Row 1285 processed successfully.
Processing row 2370...
Row 2370 processed successfully.
Processing row 1620...
Row 1620 processed successfully.
Processing row 487...
Row 487 processed successfully.
Processing row 608...
Row 608 processed successfully.
Processing row 1554...
Row 1554 processed successfully.
Processing row 200...
Row 200 processed successfully.
Processing row 427...
Row 427 processed successfully.
Processing row 633...
Row 633 processed successfully.
Processing row 1252...
Row 1252 processed successfully.
Processing row 2155...
Row 2155 processed successfully.
Processing row 1161...
Row 1161 processed successfully.
Processing row 1605...
Row 1605 processed successfully.
Processing row 1248...
Row 1248 processed successfully.
Processing row 2066...
Row 2066 processed successfully.
Processing row 1182...
Row 1182 processed successfully.
Processing row 908...
Row 908 processed successfully.
Processing row 1089...
Row 1089 processed successfully.
Processing row 1948...
Row 1948 processed successfully.
Processing row 2291...
Row 2291 processed successfully.
Processing row 1152...
Row 1152 processed successfully.
Processing row 1238...
Row 1238 processed successfully.
Processing row 727...
Row 727 processed successfully.
Processing row 1893...
Row 1893 processed successfully.
Processing row 156...
Row 156 processed successfully.
Processing row 1907...
Row 1907 processed successfully.
Processing row 458...
Row 458 processed successfully.
Processing row 881...
Row 881 processed successfully.
Processing row 672...
Row 672 processed successfully.
Processing row 2386...
Row 2386 processed successfully.
Processing row 2405...
Row 2405 processed successfully.
Processing row 96...
Row 96 processed successfully.
Processing row 2426...
Row 2426 processed successfully.
Processing row 139...
Row 139 processed successfully.
Processing row 2438...
Row 2438 processed successfully.
Processing row 1548...
Row 1548 processed successfully.
Processing row 1676...
Row 1676 processed successfully.
Processing row 2046...
Row 2046 processed successfully.
Processing row 797...
Row 797 processed successfully.
Processing row 1414...
Row 1414 processed successfully.
Processing row 2396...
Row 2396 processed successfully.
Processing row 1699...
Row 1699 processed successfully.
Processing row 1019...
Row 1019 processed successfully.
Processing row 1851...
Row 1851 processed successfully.
Processing row 1945...
Row 1945 processed successfully.
Processing row 408...
Row 408 processed successfully.
Processing row 364...
Row 364 processed successfully.
Processing row 1438...
Row 1438 processed successfully.
Processing row 2220...
Row 2220 processed successfully.
Processing row 1012...
Row 1012 processed successfully.
Processing row 856...
Row 856 processed successfully.
Processing row 1389...
Row 1389 processed successfully.
Processing row 357...
Row 357 processed successfully.
Processing row 1926...
Row 1926 processed successfully.
Processing row 15...
Row 15 processed successfully.
Processing row 998...
Row 998 processed successfully.
Processing row 193...
Row 193 processed successfully.
Processing row 284...
Row 284 processed successfully.
Processing row 2427...
Row 2427 processed successfully.
Processing row 1779...
Row 1779 processed successfully.
Processing row 1002...
Row 1002 processed successfully.
Processing row 280...
Row 280 processed successfully.
Processing row 939...
Row 939 processed successfully.
Processing row 148...
Row 148 processed successfully.
Processing row 344...
Row 344 processed successfully.
Processing row 2174...
Row 2174 processed successfully.
Processing row 2116...
Row 2116 processed successfully.
Processing row 2216...
Row 2216 processed successfully.
Processing row 613...
Row 613 processed successfully.
Processing row 149...
Row 149 processed successfully.
Processing row 2205...
Row 2205 processed successfully.
Processing row 578...
Row 578 processed successfully.
Processing row 246...
Row 246 processed successfully.
Processing row 796...
Row 796 processed successfully.
Processing row 2168...
Row 2168 processed successfully.
Processing row 354...
Row 354 processed successfully.
Processing row 1618...
Row 1618 processed successfully.
Processing row 1338...
Row 1338 processed successfully.
Processing row 785...
Row 785 processed successfully.
Processing row 945...
Row 945 processed successfully.
Processing row 215...
Row 215 processed successfully.
Processing row 628...
Row 628 processed successfully.
Processing row 1062...
Row 1062 processed successfully.
Processing row 550...
Row 550 processed successfully.
Processing row 1567...
Row 1567 processed successfully.
Processing row 1599...
Row 1599 processed successfully.
Processing row 2248...
Row 2248 processed successfully.
Processing row 4...
Row 4 processed successfully.
Processing row 1423...
Row 1423 processed successfully.
Processing row 509...
Row 509 processed successfully.
Processing row 6...
Row 6 processed successfully.
Processing row 1840...
Row 1840 processed successfully.
Processing row 598...
Row 598 processed successfully.
Processing row 250...
Row 250 processed successfully.
Processing row 1224...
Row 1224 processed successfully.
Processing row 593...
Row 593 processed successfully.
Processing row 264...
Row 264 processed successfully.
Processing row 999...
Row 999 processed successfully.
Processing row 1842...
Row 1842 processed successfully.
Processing row 1476...
Row 1476 processed successfully.
Processing row 2358...
Row 2358 processed successfully.
Processing row 937...
Row 937 processed successfully.
Processing row 2204...
Row 2204 processed successfully.
Processing row 1431...
Row 1431 processed successfully.
Processing row 301...
Row 301 processed successfully.
Processing row 724...
Row 724 processed successfully.
Processing row 1499...
Row 1499 processed successfully.
Processing row 339...
Row 339 processed successfully.
Processing row 755...
Row 755 processed successfully.
Processing row 1894...
Row 1894 processed successfully.
Processing row 461...
Row 461 processed successfully.
Processing row 651...
Row 651 processed successfully.
Processing row 2440...
Row 2440 processed successfully.
Processing row 681...
Row 681 processed successfully.
Processing row 1566...
Row 1566 processed successfully.
Processing row 1289...
Row 1289 processed successfully.
Processing row 249...
Row 249 processed successfully.
Processing row 1381...
Row 1381 processed successfully.
Processing row 1662...
Row 1662 processed successfully.
Processing row 1357...
Row 1357 processed successfully.
Processing row 73...
Row 73 processed successfully.
Processing row 31...
Row 31 processed successfully.
Processing row 158...
Row 158 processed successfully.
Processing row 583...
Row 583 processed successfully.
Processing row 895...
Row 895 processed successfully.
Processing row 1383...
Row 1383 processed successfully.
Processing row 93...
Row 93 processed successfully.
Processing row 1663...
Row 1663 processed successfully.
Processing row 1468...
Row 1468 processed successfully.
Processing row 1323...
Row 1323 processed successfully.
Processing row 2268...
Row 2268 processed successfully.
Processing row 2283...
Row 2283 processed successfully.
Processing row 1733...
Row 1733 processed successfully.
Processing row 395...
Row 395 processed successfully.
Processing row 2026...
Row 2026 processed successfully.
Processing row 1429...
Row 1429 processed successfully.
Processing row 1178...
Row 1178 processed successfully.
Processing row 1183...
Row 1183 processed successfully.
Processing row 1516...
Row 1516 processed successfully.
Processing row 1690...
Row 1690 processed successfully.
Processing row 1905...
Row 1905 processed successfully.
Processing row 728...
Row 728 processed successfully.
Processing row 397...
Row 397 processed successfully.
Processing row 84...
Row 84 processed successfully.
Processing row 34...
Row 34 processed successfully.
Processing row 1813...
Row 1813 processed successfully.
Processing row 572...
Row 572 processed successfully.
Processing row 2307...
Row 2307 processed successfully.
Processing row 62...
Row 62 processed successfully.
Processing row 697...
Row 697 processed successfully.
Processing row 327...
Row 327 processed successfully.
Processing row 789...
Row 789 processed successfully.
Processing row 683...
Row 683 processed successfully.
Processing row 8...
Row 8 processed successfully.
Processing row 885...
Row 885 processed successfully.
Processing row 1210...
Row 1210 processed successfully.
Processing row 367...
Row 367 processed successfully.
Processing row 54...
Row 54 processed successfully.
Processing row 1867...
Row 1867 processed successfully.
Processing row 114...
Row 114 processed successfully.
Processing row 382...
Row 382 processed successfully.
Processing row 1244...
Row 1244 processed successfully.
Processing row 260...
Row 260 processed successfully.
Processing row 235...
Row 235 processed successfully.
Processing row 1321...
Row 1321 processed successfully.
Processing row 1565...
Row 1565 processed successfully.
Processing row 1628...
Row 1628 processed successfully.
Processing row 875...
Row 875 processed successfully.
Processing row 1263...
Row 1263 processed successfully.
Processing row 1464...
Row 1464 processed successfully.
Processing row 1544...
Row 1544 processed successfully.
Processing row 1981...
Row 1981 processed successfully.
Processing row 2101...
Row 2101 processed successfully.
Processing row 570...
Row 570 processed successfully.
Processing row 254...
Row 254 processed successfully.
Processing row 703...
Row 703 processed successfully.
Processing row 1898...
Row 1898 processed successfully.
Processing row 580...
Row 580 processed successfully.
Processing row 1899...
Row 1899 processed successfully.
Processing row 660...
Row 660 processed successfully.
Processing row 1774...
Row 1774 processed successfully.
Processing row 1239...
Row 1239 processed successfully.
Processing row 1980...
Row 1980 processed successfully.
Processing row 67...
Row 67 processed successfully.
Processing row 1576...
Row 1576 processed successfully.
Processing row 100...
Row 100 processed successfully.
Processing row 729...
Row 729 processed successfully.
Processing row 305...
Row 305 processed successfully.
Processing row 1377...
Row 1377 processed successfully.
Processing row 392...
Row 392 processed successfully.
Processing row 2165...
Row 2165 processed successfully.
Processing row 1450...
Row 1450 processed successfully.
Processing row 946...
Row 946 processed successfully.
Processing row 1739...
Row 1739 processed successfully.
Processing row 118...
Row 118 processed successfully.
Processing row 49...
Row 49 processed successfully.
Processing row 133...
Row 133 processed successfully.
Processing row 226...
Row 226 processed successfully.
Processing row 59...
Row 59 processed successfully.
Processing row 596...
Row 596 processed successfully.
Processing row 75...
Row 75 processed successfully.
Processing row 2074...
Row 2074 processed successfully.

In [ ]:
evaluator = MetricEvaluator(databases=databases)
tests_df_results = evaluator.evaluate_with_df(train_df_qatch,
                                      prediction_col_name=f'predictions_TAPAS',
                                      task="QA")

Getting target results: 100%|██████████| 126/126 [00:01<00:00, 69.75it/s]
Evaluating cell_precision_predictions_TAPAS:   0%|          | 0/1241 [00:00<?, ?it/s]/usr/local/lib/python3.10/dist-packages/qatch/metrics/cell_precision_tag.py:45: RuntimeWarning: invalid value encountered in scalar divide
  return round(sum_cell_match / prediction.size, 3)
Evaluating cell_precision_predictions_TAPAS: 100%|██████████| 1241/1241 [00:00<00:00, 5120.39it/s]
Evaluating cell_recall_predictions_TAPAS: 100%|██████████| 1241/1241 [00:00<00:00, 4567.45it/s]
Evaluating tuple_cardinality_predictions_TAPAS: 100%|██████████| 1241/1241 [00:00<00:00, 10113.18it/s]
Evaluating tuple_constraint_predictions_TAPAS: 100%|██████████| 1241/1241 [00:00<00:00, 7786.30it/s]
Evaluating tuple_order_predictions_TAPAS: 100%|██████████| 424/424 [00:00<00:00, 6320.65it/s]

In [ ]:
stats_df = tests_df_results[['cell_precision_predictions_TAPAS', 'cell_recall_predictions_TAPAS', 'tuple_cardinality_predictions_TAPAS', 'tuple_constraint_predictions_TAPAS', 'tuple_order_predictions_TAPAS']].describe()

mean_cell_precision = tests_df_results['cell_precision_predictions_TAPAS'].mean()
mean_cell_recall = tests_df_results['cell_recall_predictions_TAPAS'].mean()
mean_tuple_cardinality = tests_df_results['tuple_cardinality_predictions_TAPAS'].mean()
mean_tuple_constraint = tests_df_results['tuple_constraint_predictions_TAPAS'].mean()
mean_tuple_order = tests_df_results['tuple_order_predictions_TAPAS'].mean()

print("Model Performance Metrics:")
print("----------------------------")
print("Average Cell Precision:", mean_cell_precision)
print("Average Cell Recall:", mean_cell_recall)
print("Average Tuple Cardinality Accuracy:", mean_tuple_cardinality)
print("Average Tuple Constraint Accuracy:", mean_tuple_constraint)
print("Average Tuple Order Accuracy:", mean_tuple_order)

Model Performance Metrics:
----------------------------
Average Cell Precision: 0.03239685169842588
Average Cell Recall: 0.0725914585012087
Average Tuple Cardinality Accuracy: 0.5791216760676887
Average Tuple Constraint Accuracy: 0.005908944399677679
Average Tuple Order Accuracy: 0.5047169811320755

In [ ]:
stats_df = tests_df_results[['cell_precision_predictions_TAPAS', 'cell_recall_predictions_TAPAS', 'tuple_cardinality_predictions_TAPAS', 'tuple_constraint_predictions_TAPAS', 'tuple_order_predictions_TAPAS']].describe()

mean_cell_precision = tests_df_results['cell_precision_predictions_TAPAS'].mean()
mean_cell_recall = tests_df_results['cell_recall_predictions_TAPAS'].mean()
mean_tuple_cardinality = tests_df_results['tuple_cardinality_predictions_TAPAS'].mean()
mean_tuple_constraint = tests_df_results['tuple_constraint_predictions_TAPAS'].mean()
mean_tuple_order = tests_df_results['tuple_order_predictions_TAPAS'].mean()

print("Model Performance Metrics:")
print("----------------------------")
print("Average Cell Precision:", mean_cell_precision)
print("Average Cell Recall:", mean_cell_recall)
print("Average Tuple Cardinality Accuracy:", mean_tuple_cardinality)
print("Average Tuple Constraint Accuracy:", mean_tuple_constraint)
print("Average Tuple Order Accuracy:", mean_tuple_order)

Model Performance Metrics:
----------------------------
Average Cell Precision: 0.13624979724249794
Average Cell Recall: 0.14808541498791303
Average Tuple Cardinality Accuracy: 0.5791216760676887
Average Tuple Constraint Accuracy: 0.10475423045930701
Average Tuple Order Accuracy: 0.5200471698113207

In [ ]:
val_df_qatch = val_df.reset_index().rename(columns={'index': 'row_index','table_used':'tbl_name'})
# Apply the function row-wise
val_df_qatch['predictions_TAPAS'] = val_df_qatch.apply(getAnswer, axis=1)

Processing row 576...
Row 576 processed successfully.
Processing row 1698...
Row 1698 processed successfully.
Processing row 415...
Row 415 processed successfully.
Processing row 640...
Row 640 processed successfully.
Processing row 2202...
Row 2202 processed successfully.
Processing row 2154...
Row 2154 processed successfully.
Processing row 259...
Row 259 processed successfully.
Processing row 2159...
Row 2159 processed successfully.
Processing row 888...
Row 888 processed successfully.
Processing row 58...
Row 58 processed successfully.
Processing row 826...
Row 826 processed successfully.
Processing row 1173...
Row 1173 processed successfully.
Processing row 1158...
Row 1158 processed successfully.
Processing row 108...
Row 108 processed successfully.
Processing row 2393...
Row 2393 processed successfully.
Processing row 2051...
Row 2051 processed successfully.
Processing row 1269...
Row 1269 processed successfully.
Processing row 1895...
Row 1895 processed successfully.
Processing row 1340...
Row 1340 processed successfully.
Processing row 1667...
Row 1667 processed successfully.
Processing row 2355...
Row 2355 processed successfully.
Processing row 446...
Row 446 processed successfully.
Processing row 322...
Row 322 processed successfully.
Processing row 1839...
Row 1839 processed successfully.
Processing row 2415...
Row 2415 processed successfully.
Processing row 1491...
Row 1491 processed successfully.
Processing row 2070...
Row 2070 processed successfully.
Processing row 626...
Row 626 processed successfully.
Processing row 582...
Row 582 processed successfully.
Processing row 1517...
Row 1517 processed successfully.
Processing row 36...
Row 36 processed successfully.
Processing row 1033...
Row 1033 processed successfully.
Processing row 530...
Row 530 processed successfully.
Processing row 2372...
Row 2372 processed successfully.
Processing row 1274...
Row 1274 processed successfully.
Processing row 2148...
Row 2148 processed successfully.
Processing row 255...
Row 255 processed successfully.
Processing row 206...
Row 206 processed successfully.
Processing row 1841...
Row 1841 processed successfully.
Processing row 421...
Row 421 processed successfully.
Processing row 490...
Row 490 processed successfully.
Processing row 1391...
Row 1391 processed successfully.
Processing row 2230...
Row 2230 processed successfully.
Processing row 1418...
Row 1418 processed successfully.
Processing row 269...
Row 269 processed successfully.
Processing row 1541...
Row 1541 processed successfully.
Processing row 2030...
Row 2030 processed successfully.
Processing row 667...
Row 667 processed successfully.
Processing row 136...
Row 136 processed successfully.
Processing row 2451...
Row 2451 processed successfully.
Processing row 2325...
Row 2325 processed successfully.
Processing row 1557...
Row 1557 processed successfully.
Processing row 2243...
Row 2243 processed successfully.
Processing row 1731...
Row 1731 processed successfully.
Processing row 2213...
Row 2213 processed successfully.
Processing row 1545...
Row 1545 processed successfully.
Processing row 561...
Row 561 processed successfully.
Processing row 218...
Row 218 processed successfully.
Processing row 594...
Row 594 processed successfully.
Processing row 1441...
Row 1441 processed successfully.
Processing row 1847...
Row 1847 processed successfully.
Processing row 2277...
Row 2277 processed successfully.
Processing row 315...
Row 315 processed successfully.
Processing row 636...
Row 636 processed successfully.
Processing row 232...
Row 232 processed successfully.
Processing row 940...
Row 940 processed successfully.
Processing row 1211...
Row 1211 processed successfully.
Processing row 513...
Row 513 processed successfully.
Processing row 77...
Row 77 processed successfully.
Processing row 1916...
Row 1916 processed successfully.
Processing row 2279...
Row 2279 processed successfully.
Processing row 457...
Row 457 processed successfully.
Processing row 1714...
Row 1714 processed successfully.
Processing row 63...
Row 63 processed successfully.
Processing row 1635...
Row 1635 processed successfully.
Processing row 361...
Row 361 processed successfully.
Processing row 1634...
Row 1634 processed successfully.
Processing row 1452...
Row 1452 processed successfully.
Processing row 768...
Row 768 processed successfully.
Processing row 2227...
Row 2227 processed successfully.
Processing row 1783...
Row 1783 processed successfully.
Processing row 2447...
Row 2447 processed successfully.
Processing row 1683...
Row 1683 processed successfully.
Processing row 1351...
Row 1351 processed successfully.
Processing row 283...
Row 283 processed successfully.
Processing row 776...
Row 776 processed successfully.
Processing row 1292...
Row 1292 processed successfully.
Processing row 2261...
Row 2261 processed successfully.
Processing row 331...
Row 331 processed successfully.
Processing row 1222...
Row 1222 processed successfully.
Processing row 1199...
Row 1199 processed successfully.
Processing row 2078...
Row 2078 processed successfully.
Processing row 1610...
Row 1610 processed successfully.
Processing row 2454...
Row 2454 processed successfully.
Processing row 1609...
Row 1609 processed successfully.
Processing row 609...
Row 609 processed successfully.
Processing row 671...
Row 671 processed successfully.
Processing row 2368...
Row 2368 processed successfully.
Processing row 1305...
Row 1305 processed successfully.
Processing row 2192...
Row 2192 processed successfully.
Processing row 253...
Row 253 processed successfully.
Processing row 2456...
Row 2456 processed successfully.
Processing row 273...
Row 273 processed successfully.
Processing row 1192...
Row 1192 processed successfully.
Processing row 76...
Row 76 processed successfully.
Processing row 117...
Row 117 processed successfully.
Processing row 128...
Row 128 processed successfully.
Processing row 276...
Row 276 processed successfully.
Processing row 864...
Row 864 processed successfully.
Processing row 414...
Row 414 processed successfully.
Processing row 469...
Row 469 processed successfully.
Processing row 1941...
Row 1941 processed successfully.
Processing row 1661...
Row 1661 processed successfully.
Processing row 566...
Row 566 processed successfully.
Processing row 599...
Row 599 processed successfully.
Processing row 1056...
Row 1056 processed successfully.
Processing row 1827...
Row 1827 processed successfully.
Processing row 1344...
Row 1344 processed successfully.
Processing row 314...
Row 314 processed successfully.
Processing row 1500...
Row 1500 processed successfully.
Processing row 2008...
Row 2008 processed successfully.
Processing row 2246...
Row 2246 processed successfully.
Processing row 1589...
Row 1589 processed successfully.
Processing row 1058...
Row 1058 processed successfully.
Processing row 2187...
Row 2187 processed successfully.
Processing row 1902...
Row 1902 processed successfully.
Processing row 1728...
Row 1728 processed successfully.
Processing row 119...
Row 119 processed successfully.
Processing row 2134...
Row 2134 processed successfully.
Processing row 233...
Row 233 processed successfully.
Processing row 2280...
Row 2280 processed successfully.
Processing row 595...
Row 595 processed successfully.
Processing row 1215...
Row 1215 processed successfully.
Processing row 987...
Row 987 processed successfully.
Processing row 2099...
Row 2099 processed successfully.
Processing row 2145...
Row 2145 processed successfully.
Processing row 581...
Row 581 processed successfully.
Processing row 132...
Row 132 processed successfully.
Processing row 843...
Row 843 processed successfully.
Processing row 741...
Row 741 processed successfully.
Processing row 863...
Row 863 processed successfully.
Processing row 323...
Row 323 processed successfully.
Processing row 72...
Row 72 processed successfully.
Processing row 527...
Row 527 processed successfully.
Processing row 994...
Row 994 processed successfully.
Processing row 470...
Row 470 processed successfully.
Processing row 2028...
Row 2028 processed successfully.
Processing row 1081...
Row 1081 processed successfully.
Processing row 554...
Row 554 processed successfully.
Processing row 1887...
Row 1887 processed successfully.
Processing row 2079...
Row 2079 processed successfully.
Processing row 2037...
Row 2037 processed successfully.
Processing row 1179...
Row 1179 processed successfully.
Processing row 850...
Row 850 processed successfully.
Processing row 1543...
Row 1543 processed successfully.
Processing row 1822...
Row 1822 processed successfully.
Processing row 2387...
Row 2387 processed successfully.
Processing row 2114...
Row 2114 processed successfully.
Processing row 2330...
Row 2330 processed successfully.
Processing row 1590...
Row 1590 processed successfully.
Processing row 485...
Row 485 processed successfully.
Processing row 1761...
Row 1761 processed successfully.
Processing row 1909...
Row 1909 processed successfully.
Processing row 637...
Row 637 processed successfully.
Processing row 1267...
Row 1267 processed successfully.
Processing row 1771...
Row 1771 processed successfully.
Processing row 475...
Row 475 processed successfully.
Processing row 1008...
Row 1008 processed successfully.
Processing row 401...
Row 401 processed successfully.
Processing row 261...
Row 261 processed successfully.
Processing row 2262...
Row 2262 processed successfully.
Processing row 1104...
Row 1104 processed successfully.
Processing row 2183...
Row 2183 processed successfully.
Processing row 1555...
Row 1555 processed successfully.
Processing row 1148...
Row 1148 processed successfully.
Processing row 1860...
Row 1860 processed successfully.
Processing row 695...
Row 695 processed successfully.
Processing row 145...
Row 145 processed successfully.
Processing row 1487...
Row 1487 processed successfully.
Processing row 107...
Row 107 processed successfully.
Processing row 1551...
Row 1551 processed successfully.
Processing row 341...
Row 341 processed successfully.
Processing row 1834...
Row 1834 processed successfully.
Processing row 2245...
Row 2245 processed successfully.
Processing row 2000...
Row 2000 processed successfully.
Processing row 616...
Row 616 processed successfully.
Processing row 210...
Row 210 processed successfully.
Processing row 2045...
Row 2045 processed successfully.
Processing row 990...
Row 990 processed successfully.
Processing row 16...
Row 16 processed successfully.
Processing row 2023...
Row 2023 processed successfully.
Processing row 1586...
Row 1586 processed successfully.
Processing row 1444...
Row 1444 processed successfully.
Processing row 399...
Row 399 processed successfully.
Processing row 539...
Row 539 processed successfully.
Processing row 234...
Row 234 processed successfully.
Processing row 1034...
Row 1034 processed successfully.
Processing row 1987...
Row 1987 processed successfully.
Processing row 1845...
Row 1845 processed successfully.
Processing row 242...
Row 242 processed successfully.
Processing row 1189...
Row 1189 processed successfully.
Processing row 2284...
Row 2284 processed successfully.
Processing row 1001...
Row 1001 processed successfully.
Processing row 1310...
Row 1310 processed successfully.
Processing row 1287...
Row 1287 processed successfully.
Processing row 387...
Row 387 processed successfully.
Processing row 1781...
Row 1781 processed successfully.
Processing row 2061...
Row 2061 processed successfully.
Processing row 820...
Row 820 processed successfully.
Processing row 712...
Row 712 processed successfully.
Processing row 300...
Row 300 processed successfully.
Processing row 324...
Row 324 processed successfully.
Processing row 2135...
Row 2135 processed successfully.
Processing row 1889...
Row 1889 processed successfully.
Processing row 862...
Row 862 processed successfully.
Processing row 1964...
Row 1964 processed successfully.
Processing row 1844...
Row 1844 processed successfully.
Processing row 2221...
Row 2221 processed successfully.
Processing row 1256...
Row 1256 processed successfully.
Processing row 622...
Row 622 processed successfully.
Processing row 373...
Row 373 processed successfully.
Processing row 520...
Row 520 processed successfully.
Processing row 634...
Row 634 processed successfully.
Processing row 1588...
Row 1588 processed successfully.
Processing row 1569...
Row 1569 processed successfully.
Processing row 2383...
Row 2383 processed successfully.
Processing row 1780...
Row 1780 processed successfully.
Processing row 1962...
Row 1962 processed successfully.
Processing row 1284...
Row 1284 processed successfully.
Processing row 1198...
Row 1198 processed successfully.
Processing row 675...
Row 675 processed successfully.
Processing row 2414...
Row 2414 processed successfully.
Processing row 129...
Row 129 processed successfully.
Processing row 2436...
Row 2436 processed successfully.
Processing row 2364...
Row 2364 processed successfully.
Processing row 2089...
Row 2089 processed successfully.
Processing row 757...
Row 757 processed successfully.
Processing row 2219...
Row 2219 processed successfully.
Processing row 1421...
Row 1421 processed successfully.
Processing row 1904...
Row 1904 processed successfully.
Processing row 714...
Row 714 processed successfully.
Processing row 123...
Row 123 processed successfully.
Processing row 2139...
Row 2139 processed successfully.
Processing row 817...
Row 817 processed successfully.
Processing row 2156...
Row 2156 processed successfully.
Processing row 400...
Row 400 processed successfully.
Processing row 407...
Row 407 processed successfully.
Processing row 579...
Row 579 processed successfully.
Processing row 1754...
Row 1754 processed successfully.
Processing row 2096...
Row 2096 processed successfully.
Processing row 1132...
Row 1132 processed successfully.
Processing row 1249...
Row 1249 processed successfully.
Processing row 1828...
Row 1828 processed successfully.
Processing row 464...
Row 464 processed successfully.
Processing row 1029...
Row 1029 processed successfully.
Processing row 627...
Row 627 processed successfully.
Processing row 1755...
Row 1755 processed successfully.
Processing row 346...
Row 346 processed successfully.
Processing row 659...
Row 659 processed successfully.
Processing row 1572...
Row 1572 processed successfully.
Processing row 2263...
Row 2263 processed successfully.
Processing row 742...
Row 742 processed successfully.
Processing row 2421...
Row 2421 processed successfully.
Processing row 773...
Row 773 processed successfully.
Processing row 1935...
Row 1935 processed successfully.
Processing row 968...
Row 968 processed successfully.
Processing row 306...
Row 306 processed successfully.
Processing row 526...
Row 526 processed successfully.
Processing row 2412...
Row 2412 processed successfully.
Processing row 1358...
Row 1358 processed successfully.
Processing row 574...
Row 574 processed successfully.
Processing row 1675...
Row 1675 processed successfully.
Processing row 1065...
Row 1065 processed successfully.
Processing row 1777...
Row 1777 processed successfully.
Processing row 332...
Row 332 processed successfully.
Processing row 689...
Row 689 processed successfully.
Processing row 803...
Row 803 processed successfully.
Processing row 1940...
Row 1940 processed successfully.
Processing row 70...
Row 70 processed successfully.
Processing row 459...
Row 459 processed successfully.
Processing row 2222...
Row 2222 processed successfully.
Processing row 1346...
Row 1346 processed successfully.
Processing row 1405...
Row 1405 processed successfully.
Processing row 2257...
Row 2257 processed successfully.
Processing row 2228...
Row 2228 processed successfully.
Processing row 522...
Row 522 processed successfully.
Processing row 643...
Row 643 processed successfully.
Processing row 506...
Row 506 processed successfully.
Processing row 2185...
Row 2185 processed successfully.
Processing row 1933...
Row 1933 processed successfully.
Processing row 1007...
Row 1007 processed successfully.
Processing row 1855...
Row 1855 processed successfully.
Processing row 30...
Row 30 processed successfully.
Processing row 453...
Row 453 processed successfully.
Processing row 220...
Row 220 processed successfully.
Processing row 56...
Row 56 processed successfully.
Processing row 195...
Row 195 processed successfully.
Processing row 1961...
Row 1961 processed successfully.
Processing row 1084...
Row 1084 processed successfully.
Processing row 1485...
Row 1485 processed successfully.
Processing row 1370...
Row 1370 processed successfully.
Processing row 653...
Row 653 processed successfully.
Processing row 930...
Row 930 processed successfully.
Processing row 78...
Row 78 processed successfully.
Processing row 351...
Row 351 processed successfully.
Processing row 2082...
Row 2082 processed successfully.
Processing row 1204...
Row 1204 processed successfully.
Processing row 1672...
Row 1672 processed successfully.
Processing row 417...
Row 417 processed successfully.
Processing row 809...
Row 809 processed successfully.
Processing row 792...
Row 792 processed successfully.
Processing row 1560...
Row 1560 processed successfully.
Processing row 1580...
Row 1580 processed successfully.
Processing row 1151...
Row 1151 processed successfully.
Processing row 1811...
Row 1811 processed successfully.
Processing row 278...
Row 278 processed successfully.
Processing row 466...
Row 466 processed successfully.
Processing row 587...
Row 587 processed successfully.
Processing row 933...
Row 933 processed successfully.
Processing row 2362...
Row 2362 processed successfully.
Processing row 27...
Row 27 processed successfully.
Processing row 463...
Row 463 processed successfully.
Processing row 2267...
Row 2267 processed successfully.
Processing row 974...
Row 974 processed successfully.
Processing row 758...
Row 758 processed successfully.
Processing row 1563...
Row 1563 processed successfully.
Processing row 948...
Row 948 processed successfully.
Processing row 1790...
Row 1790 processed successfully.
Processing row 2371...
Row 2371 processed successfully.
Processing row 662...
Row 662 processed successfully.
Processing row 961...
Row 961 processed successfully.
Processing row 1079...
Row 1079 processed successfully.
Processing row 1539...
Row 1539 processed successfully.
Processing row 295...
Row 295 processed successfully.
Processing row 664...
Row 664 processed successfully.
Processing row 555...
Row 555 processed successfully.
Processing row 786...
Row 786 processed successfully.
Processing row 383...
Row 383 processed successfully.
Processing row 907...
Row 907 processed successfully.
Processing row 32...
Row 32 processed successfully.
Processing row 1578...
Row 1578 processed successfully.
Processing row 85...
Row 85 processed successfully.
Processing row 1057...
Row 1057 processed successfully.
Processing row 39...
Row 39 processed successfully.
Processing row 2251...
Row 2251 processed successfully.
Processing row 1821...
Row 1821 processed successfully.
Processing row 2432...
Row 2432 processed successfully.
Processing row 498...
Row 498 processed successfully.
Processing row 185...
Row 185 processed successfully.
Processing row 225...
Row 225 processed successfully.
Processing row 831...
Row 831 processed successfully.
Processing row 904...
Row 904 processed successfully.
Processing row 394...
Row 394 processed successfully.
Processing row 1196...
Row 1196 processed successfully.
Processing row 330...
Row 330 processed successfully.
Processing row 975...
Row 975 processed successfully.
Processing row 1871...
Row 1871 processed successfully.
Processing row 2441...
Row 2441 processed successfully.
Processing row 214...
Row 214 processed successfully.
Processing row 2285...
Row 2285 processed successfully.
Processing row 1478...
Row 1478 processed successfully.
Processing row 1734...
Row 1734 processed successfully.
Processing row 240...
Row 240 processed successfully.
Processing row 2167...

In [ ]:
evaluator = MetricEvaluator(databases=databases)
tests_df_results = evaluator.evaluate_with_df(val_df_qatch,
                                      prediction_col_name=f'predictions_TAPAS',
                                      task="QA")

Getting target results: 100%|██████████| 119/119 [01:06<00:00,  1.78it/s]
Evaluating cell_precision_predictions_TAPAS:   0%|          | 0/627 [00:00<?, ?it/s]/usr/local/lib/python3.10/dist-packages/qatch/metrics/cell_precision_tag.py:45: RuntimeWarning: invalid value encountered in scalar divide
  return round(sum_cell_match / prediction.size, 3)
Evaluating cell_precision_predictions_TAPAS: 100%|██████████| 627/627 [00:00<00:00, 5587.09it/s]
Evaluating cell_recall_predictions_TAPAS: 100%|██████████| 627/627 [00:00<00:00, 5256.03it/s]
Evaluating tuple_cardinality_predictions_TAPAS: 100%|██████████| 627/627 [00:00<00:00, 8525.23it/s]
Evaluating tuple_constraint_predictions_TAPAS: 100%|██████████| 627/627 [00:00<00:00, 9345.48it/s]
Evaluating tuple_order_predictions_TAPAS: 100%|██████████| 223/223 [00:00<00:00, 6845.96it/s]

In [ ]:
stats_df = tests_df_results[['cell_precision_predictions_TAPAS', 'cell_recall_predictions_TAPAS', 'tuple_cardinality_predictions_TAPAS', 'tuple_constraint_predictions_TAPAS', 'tuple_order_predictions_TAPAS']].describe()

mean_cell_precision = tests_df_results['cell_precision_predictions_TAPAS'].mean()
mean_cell_recall = tests_df_results['cell_recall_predictions_TAPAS'].mean()
mean_tuple_cardinality = tests_df_results['tuple_cardinality_predictions_TAPAS'].mean()
mean_tuple_constraint = tests_df_results['tuple_constraint_predictions_TAPAS'].mean()
mean_tuple_order = tests_df_results['tuple_order_predictions_TAPAS'].mean()

print("Model Performance Metrics:")
print("----------------------------")
print("Average Cell Precision:", mean_cell_precision)
print("Average Cell Recall:", mean_cell_recall)
print("Average Tuple Cardinality Accuracy:", mean_tuple_cardinality)
print("Average Tuple Constraint Accuracy:", mean_tuple_constraint)
print("Average Tuple Order Accuracy:", mean_tuple_order)

Model Performance Metrics:
----------------------------
Average Cell Precision: 0.09839065108514192
Average Cell Recall: 0.11360765550239234
Average Tuple Cardinality Accuracy: 0.5826124401913871
Average Tuple Constraint Accuracy: 0.06698564593301436
Average Tuple Order Accuracy: 0.5089686098654709

In [ ]:
import pandas as pd
import re

def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

def normalize_number(s):
    if is_number(s):
        return str(float(s))
    else:
        return s

def calculate_metrics(answer_list, predictions_list):
    answer_list = [normalize_number(str(x)) for x in answer_list]
    predictions_list = [normalize_number(str(x)) for x in predictions_list]
    answer_set = set(answer_list)
    predictions_set = set(predictions_list)

    true_positives = 0
    false_positives = 0
    false_negatives = 0

    for element in answer_set:
        if element in predictions_set:
            true_positives += 1
        else:
            false_negatives += 1

    for element in predictions_set:
        if element not in answer_set:
            false_positives += 1
    precision = true_positives / (true_positives + false_positives) if (true_positives + false_positives) > 0 else 0
    recall = true_positives / (true_positives + false_negatives) if (true_positives + false_negatives) > 0 else 0
    f1 = 2 * (precision * recall) / (precision + recall) if (precision + recall) > 0 else 0

    return precision, recall, f1

def benchmark_tapas(df):
    df[['precision', 'recall', 'f1']] = df.apply(lambda row: calculate_metrics(row['answer_text'], row['predictions_TAPAS']), axis=1, result_type='expand')
    avg_precision = df['precision'].mean()
    avg_recall = df['recall'].mean()
    avg_f1 = df['f1'].mean()

    print("Average Precision:", avg_precision)
    print("Average Recall:", avg_recall)
    print("Average F1 Score:", avg_f1)


benchmark_tapas(val_df_qatch)

Average Precision: 0.2503987240829346
Average Recall: 0.22607655502392343
Average F1 Score: 0.23334092807777018

In [ ]:
stats_df = tests_df_results[['cell_precision_predictions_TAPAS', 'cell_recall_predictions_TAPAS', 'tuple_cardinality_predictions_TAPAS', 'tuple_constraint_predictions_TAPAS', 'tuple_order_predictions_TAPAS']].describe()

mean_cell_precision = tests_df_results['cell_precision_predictions_TAPAS'].mean()
mean_cell_recall = tests_df_results['cell_recall_predictions_TAPAS'].mean()
mean_tuple_cardinality = tests_df_results['tuple_cardinality_predictions_TAPAS'].mean()
mean_tuple_constraint = tests_df_results['tuple_constraint_predictions_TAPAS'].mean()
mean_tuple_order = tests_df_results['tuple_order_predictions_TAPAS'].mean()

print("Model Performance Metrics:")
print("----------------------------")
print("Average Cell Precision:", mean_cell_precision)
print("Average Cell Recall:", mean_cell_recall)
print("Average Tuple Cardinality Accuracy:", mean_tuple_cardinality)
print("Average Tuple Constraint Accuracy:", mean_tuple_constraint)
print("Average Tuple Order Accuracy:", mean_tuple_order)

In [ ]:
stats_df = tests_df_results[['cell_precision_predictions_TAPAS', 'cell_recall_predictions_TAPAS', 'tuple_cardinality_predictions_TAPAS', 'tuple_constraint_predictions_TAPAS', 'tuple_order_predictions_TAPAS']].describe()

mean_cell_precision = tests_df_results['cell_precision_predictions_TAPAS'].mean()
mean_cell_recall = tests_df_results['cell_recall_predictions_TAPAS'].mean()
mean_tuple_cardinality = tests_df_results['tuple_cardinality_predictions_TAPAS'].mean()
mean_tuple_constraint = tests_df_results['tuple_constraint_predictions_TAPAS'].mean()
mean_tuple_order = tests_df_results['tuple_order_predictions_TAPAS'].mean()

print("Model Performance Metrics:")
print("----------------------------")
print("Average Cell Precision:", mean_cell_precision)
print("Average Cell Recall:", mean_cell_recall)
print("Average Tuple Cardinality Accuracy:", mean_tuple_cardinality)
print("Average Tuple Constraint Accuracy:", mean_tuple_constraint)
print("Average Tuple Order Accuracy:", mean_tuple_order)

Model Performance Metrics:
----------------------------
Average Cell Precision: 0.10164764267990076
Average Cell Recall: 0.11635406698564595
Average Tuple Cardinality Accuracy: 0.5767679425837317
Average Tuple Constraint Accuracy: 0.06937799043062201
Average Tuple Order Accuracy: 0.5138888888888888